:focus:not(:focus-visible) {
    outline: none;
}

:focus-visible,
.btn:focus-visible,
.btn-group > .btn.btn:focus-visible,
.btn-group-vertical > .btn.btn:focus-visible,
.dropdown-toggle:focus-visible {
    outline: 2px solid #fff;
    outline-offset: 2px;
    box-shadow: 0 0 0 4px #333;
}

@media (forced-colors: active) {
    :focus-visible,
    .btn:focus-visible,
    .btn-group > .btn.btn:focus-visible,
    .btn-group-vertical > .btn.btn:focus-visible,
    .dropdown-toggle:focus-visible {
        outline: 2px solid Highlight;
        box-shadow: none;
    }
}
