@use "fonts/601526/32FBEBA806C948833.css" as authority-fonts;

#__nuxt,
.site-shell {
    display: contents;
}

.site-shell {
    white-space: nowrap;
}

.site-shell > * {
    white-space: normal;
}

.pull-right {
    float: right !important;
}
