&.focus-add, &.focus-remove {
  transition: opacity 300ms;
}
&.focus-add {opacity : 0 }
&.focus-add-active {opacity : 1 } 
&.focus-remove {opacity : 0 }        
&.focus-remove-active {opacity : 1 } 
&.focus {
    .type-faksimil.reader_main {
        transform : none !important;
    }
    .img_area {
        width : auto !important;                
    }
    width : auto;
    padding : 2%;
    height : 100%;
    // overflow : hidden;
    .etext {
        margin : 5% auto 0 auto;
    }
    .faksimil {
        margin : 0 auto;
        display : block;
    }
    .header {
        display : none;
    }
    #mainview {
        width : auto;
        display : block;
        height : auto;
        .preloader {
            right : 1em;
        }
    }
    &.night {
        background-color : #333;
        .preloader {
            color : white;
        }
        // * {
        //     border-color : #333;
        //     background-color : #333;
        // }
        #mainview .etext {
            color : darken(white, 5%);
        }

        .bottomBar {
            // a {
            //     color : darken(white, 5%);
            // }
            // background-color : #333;
        }
    }
    #leftCorridor, #rightCorridor {
        display : none;
    }
    .size_picker > div {
        font-size : 1.3em;
        height : 30px;
        width : 30px;
        border-radius : 40px;
        padding-top: 5px;
        padding-left: 11px;
    }
    .sizeBtn {
        fill : #333;
        height : 35px;
        vertical-align: sub;

        width: 59px;
        position: relative;
        left: 10px;

    }
    .sizeBtn:hover {
        fill : $primarycolor;
    }
    .reader_main {
        height : 100%;
    }

    // fix for bad etext styling rule
    div.pname {
        position : static !important;
        width : inherit !important;
    }
}

.modal .close_btn {
    font-size : 0.5em;
}

.chapters.modal {
    .modal-dialog {
        width: 490px;
    }

    .modal-body {
        max-height : 65vh;
    }
}

.about.modal {

    .modal-dialog {
    }
    .modal-body {
        max-height : 65vh;
        padding-bottom : 4em;
    }


}

.chapters-modal, .about-modal {
    padding : 2em;
    padding-top : 1em;
    
    .header {
        max-width : 80%;
        margin-bottom : 2em;
        h2 {
            font-size : 1.2em;
        }
    }

    .author {
        margin-bottom: 0.4em;
    }
    .author a {
        color : $primarycolor;
    }

    .title {
        margin-top: 0;
    }
    
}

.chapters-modal {

    
    overflow-y: auto;

    
    .part_menu {
        font-size : 0.85em;

        li {
            .author {
                @include small-caps();
                color : $primarycolor;
                
                font-size : 0.85em;

                // text-indent: 0 !important;
                // padding-left: 30px;
            }
            .title {
                // text-indent: -30px;
                // padding-left: 30px;
            }
        }
    }

    .close_btn {
        margin-top: 2.7em;
        cursor: pointer;
        // color : $primarycolor;
        // font-size: 0.5em;
    }
}
.about-modal {
    .header {
        margin-top : 1em;
        margin-bottom : 2em;
    }
    .close_btn {
        position: relative;
        top : 2.5em;
    }

    .searching > div:not(.preloader) {
        // display : none;
        visibility: hidden;
    }
    .header_left {
        // float : left;
        width : 360px;

        .author {
            margin-top : 0;
        }

    }
    .header_right {
        // float : right;
        // cursor : pointer;
    }
    .visible .cover {
        display : block;
    }
    .columns {
        display : flex;
    }
    .col_left {
        flex : 1 1 0;
        margin-right : 1em;
    }
    .col_right {
        flex : 0 1 auto;
    }
    .large_img {
        &.visible {
            opacity : 1;
            transition : opacity 500ms;
        }
        opacity : 0;
        transition : opacity 500ms;
        .cover {
            display : none;
            position : absolute;
            top: 0;
            right : 0;
            left : 0;
            bottom : 0;
            background: rgba(255, 255, 255, 0.6);
        }
        img {
            display : block;
            margin : 0 auto;
            position: absolute;
            z-index: 1;
        }
    }
    div, p {
        // margin-bottom : 1em;
    }
    p {
        // max-width : 350px;
    }

    a[rel="license"] {
        background : none;
    }

    .sourcedesc {
        margin-top : 0;
        margin-bottom : 1em;
        
        font-size : 0.9em;
        line-height : 1.35;


        p {
            margin: 0;
        }
        p {
            text-indent: 1.5em;
        }
        p:first-of-type {
            text-indent: 0;
        }

        h3 {
            margin-top : 2em;
        }

        h3 + p {
            text-indent : 0;
        }

    }
    .sourcedescauthor {
        font-size : 0.9em;
        margin-bottom : 2em;
        font-style: italic;
        
    }

    // h3 {
    //     margin : 0;
    //     line-height : inherit;
    //     &.author {
    //         // font-size : 1.3em;
    //         margin-bottom : 1em;
    //         text-transform: uppercase;
    //         a {
    //             color : $primarycolor;
    //         }
    //     }
    //     &.title {
    //         margin-bottom : 2em;
    //         max-width: 400px;
    //         font-size: 1.2em;
    //     }
    // }
    .mediatypes,.mediatypes_also {
        margin-bottom : 0;
        // text-transform: uppercase;
        @include small-caps();
        font-size : 0.8em;
        // color : $primarycolor;
        a {
            color : $primarycolor;
        }
        .size {
            color: $textcolor;
        }
        &.larger {
            font-size : 0.9em;
        }
    }
    .provenance {
        margin : 2em 0;
        font-size : 0.8em;

        display : flex;
        align-items: center;

        & > * {
        }

        > a {
            display : block;
            margin-right : 30px;
            flex : 0 1 auto;
        }
        > p {
            flex : 1 1 0;

            // width : 250px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .toggle {
        display : block;
        margin-top : 1em;            
    }
    .license {
        margin-bottom : 2em;
        font-size : 0.9em;
    }
    .errata {
        font-size : 0.8em;
        .header {
            max-width : initial;
            @include small-caps();
            margin-bottom : 0.5em;
        }
    }
    .errata_table {
        td {
            padding-right : 3em;
        }
    }


    .lower_cover {
        border: thin #999 solid;
    }
}

.focusBtn {
    margin-top : 1em;
    padding : 1em 0;
    a {
        font-size : 1.1em;
    }
}
.bottomBar {
    position : fixed;
    bottom : 0;
    right : 0;
    left : 0;
    // height : 8%;
    // background-color : grey;
    padding : 1%;
    font-size : 34px;
    border-top : 1px solid #999;
    text-align : center;
    box-shadow: 1px 1px 9px 1px #666;
    max-height: 100px;
    & > * {
        margin-right : 5%;
    }
    a {
        cursor : pointer;
    }
    opacity : 1;
    
    width: 380px;
    margin: 0 auto;
    border-radius: 0px;

    background-color : white;
    // background-color: rgb(255,255,255); // Old browsers
    // @include filter-gradient(#ffffff, #d1d1d1, horizontal); // IE6-9 fallback on horizontal gradient
    // @include background-image(radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%));

}

.bottomBar.ng-hide-add, .bottomBar.ng-hide-remove {
    transition : all 300ms;
    // transition : bottom 500ms;
    // display:block!important;
}

.bottomBar.ng-hide-add {opacity : 1; bottom : 0; }
.bottomBar.ng-hide-add-active {opacity : 0; bottom : -100px;} 
.bottomBar.ng-hide-remove {opacity : 0; bottom : -100px; }        
.bottomBar.ng-hide-remove-active {opacity : 1; bottom : 0; } 

.type-faksimil.text.popper_menu {
    width : 191px;
    padding : 0.5em;
    .size_picker {
        margin-top : 0;
        white-space : nowrap;
        button {
            display: inline-block;
        }
    }

}
.popper_menu.text {
    width : 190px;
    .popover_inner {
        padding : 0.5em;
    }
    .btn {
        font-size : 0.6em;
    }
    .small_text {
        // font-size : 0.8em;
        // text-transform: lowercase;
    }
    .night_switch {
        margin-top : 0.6em;
        font-size : 1.0em;
        cursor : pointer;
        .label {
            display : inline-block;
            vertical-align: top;
            margin-left : 0.4em;
        }
        .icon {
            height : 2.3em;
            width : 2.3em;
            display : inline-block;
            border: 1px solid grey;
            border-radius : 4px;
        }
        &.on {
            .icon {
                background-color : #333;
            }
        }
        &.off {
            .icon {
                background-color : white;
            }
        }
    }
}
.popper_menu.parts {
    display : none;
    .popover_inner {
        // padding : 0.5em;
        padding : 1em 0 1em 1em;
    }

    li {
        padding-right : 1em;
    }

    ul {
        max-height : 415px;
        overflow-y : auto;
        font-size : 1.5em;
    }
    
}
.leftCover, .rightCover {
    position : fixed;
    width : 10%;
    top : 0;
    bottom : 0;
    // background-color: black;
}
.letters {
    letter-spacing: -2px;

}
.nav {
    display: inline-block;
    border: 3px solid #333;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #333;
    font-weight : bold;
    &:hover {
        background-color : $primarycolor;
        border-color : $primarycolor;
    }
}

.nav.left {
    margin-right : 3%;

    i {
        position: relative;
        top : -2px;
        right : 2px;
    }
}
.nav.right {
    i {
        position: relative;
        top : -2px;
        left : 2px;
    }

}

.leftCover {
    left : 0;

}
.rightCover {
    right : 0;
}

.size_picker {
    margin-top : 1em;
}

.size_picker > div {
    display: inline-block;
    width : 20px;
    height : 20px;
    border-radius : 10px;
    background-color : black;
    color : white;
    margin-left : 3px;
    padding-left : 4px;
    padding-top: 2px;
    padding-left: 7px;
    // font-family : $sans;
    cursor : pointer;

    &:first-of-type {
        margin-left : 0;
    }
    
    &.selected {
        background-color : $primarycolor;
        cursor : normal;
    }
    &.hidden {
        visibility: hidden;
    }
}