@charset "utf-8";


.site-sla {
    #leftCorridor {
        display : inline-flex;
        flex-direction: column;

        .subnav, .lower_menu {
            font-size: 0.8em;
            font-family: "Requiem Display A", "Requiem Display B", georgia, serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            // font-size: 1em;
            vertical-align: top;
            line-height: 1.2;
            text-align: right;
            text-transform: uppercase;

            order : 1;
            // width: 200px;

            // margin-bottom : 200px;

            li a.selected {

                color : white;
                cursor : default;
            }
        }
        // .logo_link_monogram {

        //     order: 2;
        //     background: url("../img/lb_monogram_white_white.svg") no-repeat;
        //     background-size: cover;
        //     height: 129px;
        //     width: 170px;
        //     left: 9px;
        //     top: -6px;
        //     margin-bottom: 0em;
        //     position: relative;
        //     display: block;

        // }

        // .mainnav {
        //     align-self : flex-end;
        //     order: 3;
        //     font-size: 0.8em;
        //     a {
        //        color : white;
        //        &:hover {
        //         color: #333;
        //        }
        //     }
        // }
        
    }
    .content {

        height: 75vh;
        overflow-y: auto;

        h1 {
            color : #333;
            .italic {
                font-style: normal;
            }
            span {
                // border-bottom: 1px solid darkgrey;
                // padding-bottom: 2px;
            }
            a {
                color : #333;
                &:hover {
                    color : $primarycolor;
                }
            }
        }
    }
    
}


.site-school {
    -webkit-font-smoothing: antialiased;
    width : 100%;
    // padding : 50px;
    padding-left : 40px;
    // font-size : 16px;
    line-height: 1.4;
    $column_width : 500px;
    h1 {
        line-height : 1.1;
        font-size : 1.6em;
        color : white;
        a {
            color : white;
            &:hover {
                color : #333;
            }
        }
    }

    h2 {
        // margin-top : 2.5em;
        // font-size : 1.2em;
        // a {
        //     border-bottom : 1px dotted $primarycolor;
        // }
    }
    
    .content h2:first-child {
        margin-top: 0;
    }
    h3 {
        font-size: 1.1em;
        color: #7A1400;
        margin-top: 3em;
        margin-bottom: 1em;
        @include small-caps();
    }

    a[href$="Litteraturlista.html"] {
        // display : block;
        // text-indent : -2em;
    }

    [sc-file="Litteraturlista.html"], .littlist + div.itemizedlist {
        .listitem {
            list-style-type : none;
            max-width : 500px;
            margin-left : 0;
            margin-bottom: 0.5em;
        }
    }
    [sc-file="Lashandledningar.html"] {
        .listitem {
            list-style-type : none;
            margin-left : 0;
            .listitem {
                list-style-type : disc;
                margin-left : 2em;
            }
        }
    }

    .next_prev + p {
        margin-top: 1em;
        clear: both;
    }

    strong {
        font-weight : normal;
        @include small-caps();
    }
    
    .blockquote + p,
    .titlepage + p {
        text-indent: 0;
    }

    .inner {
        // margin-right : 0.5em;
        // margin : 0.5em 0;
        margin-top: 0.3em;
        
        @include font-normal();

        border-right : 1px solid white;
        padding-right : 0.6em;
        line-height : 0.7;
        li {
            margin-bottom: 0.5em;
            &:last-child {
                margin-bottom: 0.7em;
            }
        }
        // font-style: italic;
        // margin-right : 1em;

    }
    .inner.inner_again {
        border: none;
        margin-top: 0.6em;
    }

    

    
    .authorinfo {
        text-indent : 0em;
    }
    .authorinfo + .authorinfo {
        text-indent : 2em;
    }

    blockquote {
        font-size : 0.85em;
        padding-left : 25px;
        margin-left : 1em;
        max-width : $column_width - 60px;
        line-height : 1.4em;
        p:first-child {
            text-indent: 0;
        }
    }
    img {
        margin : 1em 0;
    }

    .download {
        line-height : 1.1;
        vertical-align : middle;
        display : inline-block;
        // padding : 3px;
        border : 1px solid transparent;
        cursor: pointer;
        border-radius: 4px;
        // font-size : 0.9em;
        * {
            display : inline-block;
        }
        i {
            font-size : 0.8em;
            margin-right: 3px;
            // vertical-align: bottom;
            color : #333;
        }
        &:hover {
        }
        &:active {
            color : grey;
        }
        &:hover {
            color : initial;
        }
    }

    .itemizedlist {
        p {
            margin : 0;
        }
    }
    // .top_menu .icon {
    //     cursor: pointer;
    //     margin-left : -16px;

    //     color : #666;
    // }
    .collapse {
        // margin-left : 1.5em;
        // overflow: hidden;

    }
    .collapsing {
        -webkit-transition: none;
        transition: none;
    }
    // .minus:after {
    //     font-size : 1.4em;
    //     height : 100%;
    // }
    // .plus:after {
    //     font-size : 1.4em;
    //     line-height: 0;
    // }
    // .minus:hover, .plus:hover {
    //     color : $primarycolor;
    // }
    // .minus:active, .plus:active {
    //     color: lighten($primarycolor, 5%);
    // }
    
    .highlight {
        color : $primarycolor;
    }

    .file_parent {
        margin-bottom: 3em;
        white-space : nowrap;
        & > * {
            white-space: normal;
        }
    }
    .next_prev {
        height : 1em;
        font-size : 1em;
        margin-top : 3em;
        a:first-child:not(.empty) {
            float : left;
            background: none;
            // &:before {
            //     content : "← ";
            // }
        }
        a:last-child:not(.empty) {
            float : right;
            background: none;
            // &:after {
            //     content : " →";
            // }
        }
    }

    .sidebar_parent {
        width : 800px;
        text-indent: 0;


        & > * {
            display: inline-block;
            vertical-align: top;
        }

        p:first-child {
            text-indent : 2em;
        }
    }

    // .before_sidebar {
    //     @include inline-block(top);
    // }
    .sidebar {
        display: inline-block;
        vertical-align: top;
        height: 0;
        width: 210px;
        margin-left: 2em;
        font-size: 0.85em;
        line-height : 1.2;
        padding-bottom : 3em;
        p {
            text-indent : 0;
        }
        p:last-child {
            margin-bottom: 3em;
        }

    }

    .italics, .italic {
        font-style: italic;
    }

    .header hr {
        border-color : lightgrey;
    }
    .logo_link {
        // background: url("../img/school_logo.svg") no-repeat;
        height : 50px;
        width: 370px;
        margin-bottom : 0;
        display: inline-block;
        position: relative;
        top: 20px;
        // margin-bottom : -40px;
    }
    & > .header .breadcrumb {
        display : block;
        width : auto;
    }


    #toolkit {
        margin-bottom: 3em;
        
    }


    #mainview {
        margin-top: 8.4em;
        width : auto;
    }
    p, h1,h2,h3,h4,h5,h6 {
        max-width: $column_width;
    }
    .ulink {
        // @include small-caps;
        // font-style: italic;
    }
    .ulink[href^="/skola"] {
        @include small-caps();
    }
    .lb_link, .lb_tonsatt {
        text-indent: 0;
    }
    p + .lb_link {
        margin-top: 1em;
    }
    .lb_tonsatt + p {
        margin-top: 1em;
    }
    .lb_link + p {
        margin-top: 1em;
    }
    .lb_link + .lb_tonsatt {
        margin-top: 0;
    }
    .firstterm, .glossterm {
        font-weight: normal;
        @include small-caps();
        // font-variant: small-caps;
        // font-size : 0.9em;
        // text-transform: capitalize;
        
    }
    .firstterm {
        font-style: normal;

    }
    .separator {
        text-align: center;
        // margin-top: 1em;
        visibility: hidden;
    }
    dt {
        margin-top: 0.8em;
        // margin-bottom : 0.5em;
        .glossterm {
        }
    }
    dd {
        margin-bottom : 1.5em;
    }
    dd p {
        margin-top : 0;
    }
    .titlepage {
        font-weight: normal;
        // font-style: italic;
        font-size : 20px;
    }

    .content {
        min-width : 570px;
        display: inline-block;
        vertical-align: top;
        ul li {
            list-style-type : disc;
            margin-left : 2em;
        }
        ul li[style="list-style-type: none"] {
            margin-left: 0;
        }
        display: inline-block;
        vertical-align: top;
        .sect2 {
            margin-top: 2em;
        }

        div.titlepage:first-of-type h1 {
            margin-top : 0.9em;
        }
         h1 {
            margin-top : 2em;
        }

    }
    ul ul li {
        margin-left : 1em;
    }

    .lower_menu {
        margin-top : 1em;
    }

    &.page-teachers, &.page-students {
        #mainview > div {
            white-space : nowrap;
            & > * {
                white-space : normal;
            }
        }
        #mainview {
            img {
                max-width : 520px;
            }
        }
        #leftCorridor {
            .logo_link_monogram {
                // @include logo("black_black");
            }
            .mainnav {
                a {
                    // color : #333;
                    &:hover {
                        // color : white;
                    }
                }
            }

            .subnav, .lower_menu {
                h2 {
                    a {
                        color : white;
                    }
                }

                a {
                    color : #333;
                }

                a:hover {
                    color : white;
                }
            }
            
        }
        


        // .nav_sidebar {
        //     width : 274px;
        // }
        &:after {
            position: absolute;
            top : 0;
            left : 0;
            right : 0;
            height: 100%;
            background-color : white;
            opacity  : 0;
            transition : opacity 500ms;
            z-index: -1;
            content : " ";
        }

        // #bkgimg {
        //     opacity : 0.5;
        // }
        // .logos {
        //     margin-top : 4em;
        //     & > * {
        //         display : block;
        //         margin-top : 1em;
        //     }
        //     .lb {
        //         height : 33px;
        //     }
        //     .sla {
        //         height : 33px;
        //         // margin-left: 29px;
        //         margin-top: 7px;
        //     }
        // }
    }

    .subnav {
        a:hover {
            color : white;
        }
    }
    // .mainnav {
    //     a:hover {
    //         color : black !important;
    //     }   
    // }

    #leftCorridor {

        h1 {
            font-size: 4em;
            margin-top: 0em;
            color : white;
            margin-bottom: 0;

        }
        h2.subheader {
            font-size: 1.63em;
            white-space: nowrap;
            margin-top: -9px;
            color: white;
            margin-left: 6px;
        }
        h2 {
            font-size: 1.4em;
            color: white;
            margin-top: 1.5em;
            margin-bottom: 0.2em;
        }
        h3 {
            font-size: 1.1em;
            color: white;
            font-family: "Requiem Text SC A", "Requiem Text SC B";
            text-transform: lowercase;
            margin: 0;
            margin-top: 5px;
            margin-bottom: 3px;
        }
    }
    // ul {
    // }
    
    &.page-school {
        
        background-color : black;
        .download {
            margin-top: 1em;
        }
        // #bkgimg {
        //     opacity: 0.9;
        // }

        .content {
            // margin-top : 6.3em;
            // padding-top : 0;
            // background : none;
            // border : none;
        }
        .logo_link {
            cursor: pointer;
        }
        .logos {
            margin-top : 5em;
            .lb{
                height : 40px;
            }
            .amp{
                height : 16px;
                margin : 0 8px;
            }
            .sla{
                height : 40px;
            }
        }
        
        .content {
            // min-height : 380px;
            // width : 450px;
            // color : white;
            // a {
            //     color : white;
            // }
            // a:hover {
            //     color : #333;
            // }
        }
        
        
        .general, .poetry, .prose {
            h2 {
                color : $primarycolor;
            }
            // position: absolute;
            text-transform: uppercase;

        }
    }
    &.page-teachers  {
        #leftCorridor {
            width : 231px;
        }
        .header hr {
            border-color : #999;
            border-width: 1px;
        }
        #mainview:after {
            position: absolute;
            top: -90px;
            left: -280px;
            height : 1200px;   

        }
        #mainview {
            & > div {
                display: inline-block;
                vertical-align: top;
            }
        }
        .authorinfo {
            margin-top : 5em;
            &:last-child {
                margin-top : inherit;
            }
            font-size : 0.8em;

        }
    }
    &.page-students {

        &.school-startpage .content {
            background : none;
            border : none;
            color : white;
            height : auto;
            h1 {
                color : white !important;
            }

        }

        [toolkit].page_f-5 {
            width  : 200px;
        }
        [toolkit].page_6-9 {
            width  : 269px;
        }
        [toolkit].page_gymnasium {
            width  : 269px;
        }

        .header hr {
            border-color : #999;
        }
    }

    &.page-lyrik_students {
        #leftCorridor {
            width : 264px;
            margin-right: 60px;
        }
    }
    &.page-lyrik_teachers {
        #leftCorridor {
            width : 264px;
            margin-right: 60px;
        }

        .inner {
            // border-right: none;
        }
        .no-border {
            border-right: none;
        }
        .inner_again {
            border-right: 1px solid white;
        }
        .content {
            background-color: rgba(255, 255, 255, 0.85);
        }

    }

    &.page-lyrik_teachers, &.page-lyrik_students {
        .mainnav {
            text-align: right;
        }
        .mainnav, .logo_link_monogram {
            align-self: flex-end;
        }
        .logo_link_monogram {
            margin-right: 3em;
        }
        .content {
            margin-top: 0.9em;
        }
        .subnav h4 {
            // color : white;
            margin: 0;
        }

        h3 {
            font-size: 0.9em;
            margin-top: 0.7em;
            margin-bottom: 1em;
        }

        .littlist {

        }

        div.itemizedlist {
            margin: 1em 0;
        }

        div.itemizedlist, 
        div.literallayout {
            & + p,
            & + .sidebar_parent > p:first-child {
                text-indent: 0;
            }
        }

        .literallayout {
            margin-left: 3em;
            margin-bottom: 1em;
            margin-top: 1em;
            p {
                text-indent: 0;
            }
        }

        h3 + .literallayout {
            margin-top: 0;
        }

    }
}
