@charset "UTF-8";


._so_article body,
._so_article kapitel,
._so_article so {
  font-family: "Georgia",serif;
  line-height: 16px;
}

._so_article lemma {
  display: block;
  font-size: medium;
  font-style: normal;
  font-weight: bold;
  padding-top: 0.2cm;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  padding-left: 0.7cm;
}

._so_article f {
  font-size: medium;
  font-style: normal;
  font-weight: bold;
}

._so_article venster {
  display: inline;
  position: relative;
  left: -0.6cm;
}

._so_article homonr {
  display: inline;
  font-size: x-small;
  font-style: normal;
  vertical-align: super;
  font-weight: bold;
  color: #BD362F;
  position: relative;
  left: -0.4cm;
}

._so_article hvhomo {
  display: inline;
  font-size: xx-small;
  font-style: normal;
  vertical-align: super;
}

._so_article grundform {
  display: inline;
  font-size: medium;
  font-style: normal;
  font-weight: bold;
  color: #BD362F;
  position: relative;
  left: -0.4cm;
}

._so_article uttal {
  display: inline;
  font-size: small;
  font-style: normal;
  font-weight: normal;
}

._so_article uttalstext {
  display: inline;
  font-size: small;
  font-style: normal;
  font-weight: normal;
}

._so_article alt_uttal {
  display: inline;
  font-size: small;
  font-style: normal;
  font-weight: normal;
}

._so_article boj_uttal {
  display: inline;
  font-size: small;
  font-style: normal;
  font-weight: normal;
}

._so_article avstav {
  display: block;
  font-size: small;
  font-style: normal;
  font-weight: normal;
  position: relative;
  left: -0.4cm;
}

._so_article avstav:before {
  padding-top: 1px;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Ordled: ";
}

._so_article ordbildn {
  display: inline;
  font-size: small;
  font-weight: bold;
}

._so_article ordbprep {
  display: inline;
  font-size: small;
  font-weight: normal;
}

._so_article ordbildn:first-child {
  padding-left: 5.5em;
}

._so_article ordbildnx {
  font-size: small;
  font-weight: normal;
  display: block;
  position: relative;
  left: -0.4cm;
  padding-top: 0.2em;
}

._so_article ordbildnx:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Subst:\a0";
  float: left;
}

._so_article ordbtxt {
  display: none;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
  padding-right: 2em;
  color: gray;
  font-variant: small-caps;
  position: relative;
  left: -1em;
}

._so_article bt {
  display: inline;
  font-size: medium;
  font-style: normal;
  font-weight: normal;
}

._so_article def {
  display: inline;
  font-size: small;
  font-style: normal;
  font-weight: normal;
}

._so_article idiomdef {
  display: inline;
  font-size: small;
  font-style: normal;
  font-weight: normal;
}

._so_article deft {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
  padding-left: 0.5em;
}

._so_article utv {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
}

._so_article idiomdeft {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
  padding-left: 0.5em;
}

._so_article sxblocklx {
  display: block;
  font-weight: normal;
  font-size: x-small;
}

._so_article sxblocklx:before {
  padding-top: 1px;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Exempel: ";
  float: left;
}

._so_article sxblock {
  display: block;
  font-weight: normal;
  padding-bottom: 0.3em;
}

._so_article sxblock:before {
  padding-top: 1px;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Exempel: ";
  float: left;
}

._so_article syntex {
  display: inline;
  font-style: italic;
  font-size: small;
  font-weight: normal;
  padding-right: 0.2em;
}

._so_article aveneller {
  font-style: normal;
  font-size: x-small;
  padding-left: 0.5em;
}

._so_article altkom {
  font-style: normal;
  font-size: x-small;
  padding-left: 0.5em;
  font-weight: normal;
}

._so_article hkom {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: x-small;
}

._so_article ikom {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: x-small;
}

._so_article idiomcyk {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: x-small;
}

._so_article ukom {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: x-small;
  padding-left: 0.3em;
  padding-right: 0.2em;
}

._so_article fkom {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
}

._so_article fkomblock {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
  padding-right: 0.4em;
}

._so_article komxx:before {
  content: "(";
}

._so_article fkomxx:after {
  content: ")";
}

._so_article fkom2 {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: bold;
  padding-left: 0.3em;
}

._so_article fkom3 {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
}

._so_article k {
  font-style: italic;
}

._so_article anm {
  display: inline;
  font-size: small;
  font-style: normal;
  padding-left: 0.3em;
  font-weight: normal;
}

._so_article bojning {
  display: inline;
  font-size: small;
  font-style: italic;
  padding-left: 0.5em;
  font-weight: normal;
}

._so_article tempus,
._so_article tempmm {
  font-style: normal;
  font-size: x-small;
}

._so_article pt {
  display: inline;
  font-size: small;
  font-style: normal;
  font-weight: normal;
}

._so_article ordklass {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
}

._so_article punkt {
  display: inline;
  font-weight: bold;
  font-size: x-small;
  position: relative;
  left: -1em;
}

._so_article defxx:before {
  content: "•";
}

._so_article fm {
  display: inline;
  font-weight: bold;
  font-size: small;
}

._so_article alt {
  display: inline;
  font-weight: bold;
  font-size: small;
  padding-right: 0.5em;
}

._so_article pm {
  display: inline;
  font-weight: bold;
  font-size: small;
}

._so_article fk {
  display: inline;
  font-weight: normal;
  font-size: small;
}

._so_article fb {
  display: inline;
  font-weight: normal;
  font-size: small;
}

._so_article fb:not(:last-child):after {
  content: "; ";
}

._so_article et {
  display: inline;
  font-weight: normal;
  font-size: small;
  padding-left: 0.5em;
}

._so_article vinkel {
  font-size: small;
  font-style: normal;
}

._so_article bruk {
  font-size: small;
  font-style: normal;
}

._so_article fack {
  display: none;
  font-size: small;
  font-style: normal;
}

._so_article tanke {
  font-size: small;
  font-style: normal;
}

._so_article lexem {
  display: block;
  font-size: medium;
  padding-top: 0.3em;
}

._so_article cykel {
  display: block;
  font-size: medium;
  padding-bottom: 0.3em;
  font-weight: normal;
}

._so_article idiom {
  display: block;
  font-size: small;
  font-weight: bold;
  padding-bottom: 0.3em;
}

._so_article idiomexblock {
  display: block;
  padding-top: 0.2em;
}

._so_article idiomexblock:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  font-weight: normal;
  color: gray;
  content: "Exempel: ";
  float: left;
}

._so_article idiomex {
  display: block;
  font-weight: normal;
  font-size: small;
  font-style: italic;
  padding-left: 5.5em;
}

._so_article etymologiblock {
  display: block;
}

._so_article etymologiblock:before {
  padding-top: 1px;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
  font-variant: small-caps;
  color: gray;
  content: "Hist:";
  float: left;
}

._so_article etymologi {
  display: block;
  color: black;
  font-style: normal;
  font-size: x-small;
  position: relative;
  left: -1em;
  padding-left: 5.5em;
}

._so_article besl {
  font-style: italic;
}

._so_article valens {
  display: block;
  font-size: x-small;
  font-style: normal;
}

._so_article valens:before {
  padding-top: 1px;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Konstr:";
  float: left;
}

._so_article vt {
  display: block;
  padding-left: 5.5em;
  margin: 0;
  font-weight: normal;
  font-size: small;
  font-style: italic;
  font-variant: normal;
  color: black;
  padding-bottom: 0.3em;
}

._so_article fras {
  font-size: small;
  color: navy;
}

._so_article fras:after {
  content: " ";
}

._so_article kastas {
  display: none;
}

._so_article fon {
  font-style: italic;
  font-weight: bold;
}

._so_article ls {
  font-style: italic;
  font-weight: bold;
}

._so_article ms {
  font-size: small;
  font-style: normal;
}

._so_article hv {
  display: inline;
  padding-left: 0.5em;
  font-size: x-small;
  font-variant: normal;
  color: black;
  font-weight: normal;
}

._so_article hvtyp {
  font-size: x-small;
  font-variant: small-caps;
  color: gray;
  font-style: normal;
  position: relative;
  left: -0.5em;
}

._so_article hvtyp2 {
  display: none;
  font-style: italic;
  padding-left: 0.4em;
}

._so_article hv1 {
  display: block;
  font-size: small;
  font-style: normal;
  padding-right: 1em;
  position: relative;
  left: -1em;
  padding-top: 0.2em;
}

._so_article hv1:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Synonym:";
}

._so_article hv2 {
  display: block;
  font-size: x-small;
  font-style: normal;
  padding-right: 1em;
  position: relative;
  left: -1em;
  padding-top: 0.2em;
}

._so_article hv2:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Motsats:";
}

._so_article hv3 {
  display: block;
  font-size: x-small;
  font-style: normal;
  padding-right: 2em;
  position: relative;
  left: -1em;
  padding-top: 0.2em;
}

._so_article hv3:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Se";
}

._so_article hv4 {
  display: block;
  font-size: x-small;
  font-style: normal;
  padding-right: 1em;
  position: relative;
  left: -1em;
  padding-top: 0.2em;
}

._so_article hv4:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Jämför:";
}

._so_article mx {
  display: inline;
  font-size: small;
  font-style: italic;
}

._so_article mxblock {
  display: block;
  font-weight: normal;
  padding-bottom: 0.3em;
}

._so_article mxblock:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Sammansättn.: ";
}

._so_article mxblocklx {
  display: block;
  padding-bottom: 0.3em;
  font-size: x-small;
  font-weight: normal;
}

._so_article mxblocklx:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Sammansättn.: ";
}

._so_article b {
  font-weight: bold;
}

._so_article ur {
  display: inline;
  font-size: x-small;
}

._so_article detaljer {
  display: block;
}

._so_article scriptonly {
  display: block;
  max-width: 12cm;
  color: blue;
  font-size: small;
  text-align: right;
}

._so_article h4 {
  margin-bottom: 0em;
}

._so_article hvlnk:link {
  text-decoration: underline;
  color: #BD362F;
}

._so_article a {
  font-variant: normal;
  text-decoration: none;
  color: black;
}

._so_article a {
  font-variant: normal;
  padding-left: 0.5em;
}

._so_article a.mer:link {
  text-decoration: none;
  color: blue;
  font-size: x-small;
}

._so_article ljudblock {
  display: none;
}

._so_article ljud {
  display: inline;
  font-size: small;
}

._so_article hvtag {
  display: none;
}

._so_article mxref {
  display: inline;
}

._so_article mxref:after {
  content: ">";
}

._so_article hv>hvord {
  font-weight: bold;
}

._so_article et>hvord {
  font-weight: bold;
}

._so_article hvgrupp>hvord:not(:last-child):after {
  content: ", ";
}

._so_article mx:not(:last-child):after {
  content: "; ";
}

._so_article syntex:not(:last-child):after {
  content: "; ";
}

._so_article syntex:first-child {
  padding-left: 2.3em;
}

._so_article hvgrupp {
  padding-right: 1em;
}

._so_article hvid {
  display: none;
}

._so_article utv:not(:last-child):after {
  content: " ";
}

._so_article cykel>def:not(:last-child):after {
  content: ": ";
}

._so_article idiomdef:not(:last-child):after {
  content: ": ";
}

._so_article fras:not(:last-child):after {
  content: " ";
}

._so_article idiomlexblock {
  display: block;
  padding-top: 0.3em;
  padding-left: 5em;
}

._so_article idiomxnr {
  font-weight: normal;
  font-size: normal;
  font-style: italic;
  padding-right: 0.2em;
}