@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\000034}}
._so_article body, ._so_article kapitel, ._so_article so {
  font-family: serif;
  max-width: 12cm;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\000035}}
._so_article artikel {
  font-family: "Georgia",serif;
  display: block;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  padding-left: 0.7cm;
  max-width: 12cm;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\000036}}
._so_article lemma {
  display: block;
  font-size: medium;
  font-style: normal;
  font-weight: bold;
  padding-top: 0.2cm;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\000037}}
._so_article f {
  font-size: medium;
  font-style: normal;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\000038}}
._so_article venster {
  display: inline;
  position: relative;
  left: -0.6cm;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\000039}}
._so_article homonr {
  display: inline;
  font-size: x-small;
  font-style: normal;
  vertical-align: super;
  font-weight: bold;
  color: #BD362F;
  position: relative;
  left: -0.4cm;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000310}}
._so_article hvhomo {
  display: inline;
  font-size: xx-small;
  font-style: normal;
  vertical-align: super;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000311}}
._so_article grundform {
  display: inline;
  font-size: medium;
  font-style: normal;
  font-weight: bold;
  color: #BD362F;
  position: relative;
  left: -0.4cm;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000312}}
._so_article uttal {
  display: inline;
  font-size: small;
  font-style: normal;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000313}}
._so_article uttalstext {
  display: inline;
  font-size: small;
  font-style: normal;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000314}}
._so_article alt_uttal {
  display: inline;
  font-size: small;
  font-style: normal;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000315}}
._so_article boj_uttal {
  display: inline;
  font-size: small;
  font-style: normal;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000316}}
._so_article avstav {
  display: block;
  font-size: small;
  font-style: normal;
  font-weight: normal;
  position: relative;
  left: -0.4cm;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000317}}
._so_article avstav:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Ordled: ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000318}}
._so_article ordbildn {
  display: inline;
  font-size: small;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000319}}
._so_article ordbprep {
  display: inline;
  font-size: small;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000320}}
._so_article ordbildn:first-child {
  padding-left: 5.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000321}}
._so_article ordbildnx {
  font-size: small;
  font-weight: normal;
  display: block;
  position: relative;
  left: -0.4cm;
  padding-top: 0.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000322}}
._so_article ordbildnx:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Subst:\a0";
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000323}}
._so_article ordbtxt {
  display: none;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
  padding-right: 2em;
  color: gray;
  font-variant: small-caps;
  position: relative;
  left: -1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000324}}
._so_article bt {
  display: inline;
  font-size: medium;
  font-style: normal;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000325}}
._so_article def {
  display: inline;
  font-size: small;
  font-style: normal;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000326}}
._so_article idiomdef {
  display: inline;
  font-size: small;
  font-style: normal;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000327}}
._so_article deft {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
  padding-left: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000328}}
._so_article utv {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000329}}
._so_article idiomdeft {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
  padding-left: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000330}}
._so_article sxblocklx {
  display: block;
  font-weight: normal;
  font-size: x-small;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000331}}
._so_article sxblocklx:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Exempel: ";
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000332}}
._so_article sxblock {
  display: block;
  font-weight: normal;
  padding-bottom: 0.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000333}}
._so_article sxblock:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Exempel: ";
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000334}}
._so_article syntex {
  display: inline;
  font-style: italic;
  font-size: small;
  font-weight: normal;
  padding-right: 0.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000335}}
._so_article aveneller {
  font-style: normal;
  font-size: x-small;
  padding-left: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000336}}
._so_article altkom {
  font-style: normal;
  font-size: x-small;
  padding-left: 0.5em;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000337}}
._so_article hkom {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: x-small;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000338}}
._so_article ikom {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: x-small;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000339}}
._so_article idiomcyk {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: x-small;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000340}}
._so_article ukom {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-size: x-small;
  padding-left: 0.3em;
  padding-right: 0.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000341}}
._so_article fkom {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000342}}
._so_article fkomblock {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
  padding-right: 0.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000343}}
._so_article komxx:before {
  content: "(";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000344}}
._so_article fkomxx:after {
  content: ")";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000345}}
._so_article fkom2 {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: bold;
  padding-left: 0.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000346}}
._so_article fkom3 {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000347}}
._so_article k {
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000348}}
._so_article anm {
  display: inline;
  font-size: small;
  font-style: normal;
  padding-left: 0.3em;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000349}}
._so_article bojning {
  display: inline;
  font-size: small;
  font-style: italic;
  padding-left: 0.5em;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000350}}
._so_article tempus, ._so_article tempmm {
  font-style: normal;
  font-size: x-small;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000351}}
._so_article pt {
  display: inline;
  font-size: small;
  font-style: normal;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000352}}
._so_article ordklass {
  display: inline;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000353}}
._so_article punkt {
  display: inline;
  font-weight: bold;
  font-size: x-small;
  position: relative;
  left: -1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000354}}
._so_article defxx:before {
  content: "•";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000355}}
._so_article fm {
  display: inline;
  font-weight: bold;
  font-size: small;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000356}}
._so_article alt {
  display: inline;
  font-weight: bold;
  font-size: small;
  padding-right: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000357}}
._so_article pm {
  display: inline;
  font-weight: bold;
  font-size: small;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000358}}
._so_article fk {
  display: inline;
  font-weight: normal;
  font-size: small;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000359}}
._so_article fb {
  display: inline;
  font-weight: normal;
  font-size: small;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000360}}
._so_article fb:not(:last-child):after {
  content: "; ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000361}}
._so_article et {
  display: inline;
  font-weight: normal;
  font-size: small;
  padding-left: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000362}}
._so_article vinkel {
  font-size: small;
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000363}}
._so_article bruk {
  font-size: small;
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000364}}
._so_article fack {
  display: none;
  font-size: small;
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000365}}
._so_article tanke {
  font-size: small;
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000366}}
._so_article lexem {
  display: block;
  font-size: medium;
  padding-top: 0.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000367}}
._so_article cykel {
  display: block;
  font-size: medium;
  padding-bottom: 0.3em;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000368}}
._so_article idiom {
  display: block;
  font-size: small;
  font-weight: bold;
  padding-bottom: 0.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000369}}
._so_article idiomexblock {
  display: block;
  padding-top: 0.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000370}}
._so_article idiomexblock:before {
  padding-top: 0.3em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  font-weight: normal;
  color: gray;
  content: "Exempel: ";
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000371}}
._so_article idiomex {
  display: block;
  font-weight: normal;
  font-size: small;
  font-style: italic;
  padding-left: 5.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000372}}
._so_article etymologiblock {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000373}}
._so_article etymologiblock:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-weight: normal;
  font-variant: small-caps;
  color: gray;
  content: "Hist:";
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000374}}
._so_article etymologi {
  display: block;
  color: black;
  font-style: normal;
  font-size: x-small;
  position: relative;
  left: -1em;
  padding-left: 5.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000375}}
._so_article besl {
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000376}}
._so_article valens {
  display: block;
  font-size: x-small;
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000377}}
._so_article valens:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Konstr:";
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000378}}
._so_article vt {
  display: block;
  padding-left: 5.5em;
  margin: 0;
  font-weight: normal;
  font-size: small;
  font-style: italic;
  font-variant: normal;
  color: black;
  padding-bottom: 0.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000379}}
._so_article fras {
  font-size: small;
  color: navy;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000380}}
._so_article fras:after {
  content: " ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000381}}
._so_article kastas {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000382}}
._so_article fon {
  font-style: italic;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000383}}
._so_article ls {
  font-style: italic;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000384}}
._so_article ms {
  font-size: small;
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000385}}
._so_article hv {
  display: inline;
  padding-left: 0.5em;
  font-size: x-small;
  font-variant: normal;
  color: black;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000386}}
._so_article hvtyp {
  font-size: x-small;
  font-variant: small-caps;
  color: gray;
  font-style: normal;
  position: relative;
  left: -0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000387}}
._so_article hvtyp2 {
  display: none;
  font-style: italic;
  padding-left: 0.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000388}}
._so_article hv1 {
  display: block;
  font-size: small;
  font-style: normal;
  padding-right: 1em;
  position: relative;
  left: -1em;
  padding-top: 0.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000389}}
._so_article hv1:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Synonym:";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000390}}
._so_article hv2 {
  display: block;
  font-size: x-small;
  font-style: normal;
  padding-right: 1em;
  position: relative;
  left: -1em;
  padding-top: 0.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000391}}
._so_article hv2:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Motsats:";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000392}}
._so_article hv3 {
  display: block;
  font-size: x-small;
  font-style: normal;
  padding-right: 2em;
  position: relative;
  left: -1em;
  padding-top: 0.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000393}}
._so_article hv3:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Se";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000394}}
._so_article hv4 {
  display: block;
  font-size: x-small;
  font-style: normal;
  padding-right: 1em;
  position: relative;
  left: -1em;
  padding-top: 0.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000395}}
._so_article hv4:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Jämför:";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000396}}
._so_article mx {
  display: inline;
  font-size: small;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000397}}
._so_article mxblock {
  display: block;
  font-weight: normal;
  padding-bottom: 0.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000398}}
._so_article mxblock:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Sammansättn.: ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\0000399}}
._so_article mxblocklx {
  display: block;
  padding-bottom: 0.3em;
  font-size: x-small;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003100}}
._so_article mxblocklx:before {
  padding-top: 0.2em;
  font-size: x-small;
  font-style: normal;
  font-variant: small-caps;
  color: gray;
  content: "Sammansättn.: ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003101}}
._so_article b {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003102}}
._so_article ur {
  display: inline;
  font-size: x-small;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003103}}
._so_article detaljer {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003104}}
._so_article scriptonly {
  display: block;
  max-width: 12cm;
  color: blue;
  font-size: small;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003105}}
._so_article h4 {
  margin-bottom: 0em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003106}}
._so_article hvlnk:link {
  text-decoration: underline;
  color: #BD362F;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003107}}
._so_article a {
  font-variant: normal;
  text-decoration: none;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003108}}
._so_article a {
  font-variant: normal;
  padding-left: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003109}}
._so_article a.mer:link {
  text-decoration: none;
  color: blue;
  font-size: x-small;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003110}}
._so_article ljudblock {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003111}}
._so_article ljud {
  display: inline;
  font-size: small;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003112}}
._so_article hvtag {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003113}}
._so_article mxref {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003114}}
._so_article mxref:after {
  content: ">";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003115}}
._so_article hv > hvord {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003116}}
._so_article et > hvord {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003117}}
._so_article hvgrupp > hvord:not(:last-child):after {
  content: ", ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003118}}
._so_article mx:not(:last-child):after {
  content: "; ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003119}}
._so_article syntex:not(:last-child):after {
  content: "; ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003120}}
._so_article syntex:first-child {
  padding-left: 2.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003121}}
._so_article hvgrupp {
  padding-right: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003122}}
._so_article hvid {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003123}}
._so_article utv:not(:last-child):after {
  content: " ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003124}}
._so_article cykel > def:not(:last-child):after {
  content: ": ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003125}}
._so_article idiomdef:not(:last-child):after {
  content: ": ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johan\/Dropbox\/Development\/workspace_juno\/littb\/app\/styles\/so\.scss}line{font-family:\00003126}}
._so_article fras:not(:last-child):after {
  content: " ";
}
