body {
    font-size : 12px;
    padding-top : 20px;
    padding-left : 40px;
    white-space: nowrap;
    font-family : georgia, serif;
    line-height : 17.5px;

}
body > * {
    white-space : normal;
}

tr:nth-of-type(10n) {
    padding-bottom : 2em;
}


#letters {
    display : inline-block;
}
#controls > * {
    vertical-align: top;
}
tr:nth-of-type(10n) td {
    padding-bottom : 1em;
}
/*#table tr:nth-of-type(odd) {
    background-color : lighten(#999, 30%);
}
*/
.contenttable {
    min-width : 700px;
    td {
        max-width : 300px;
        padding : 5px;
    }
    td:nth-child(2) {
        vertical-align : bottom;
    }
}
th {
    padding : 5px;
    text-align : left;
}
.contenttable td:last-of-type,
th:last-of-type {
    text-align:right;
}

#controls td {
    font-weight : bold;
    cursor : pointer;
    padding : 0 6px;

    &.disabled {
        font-weight: normal !important;
        cursor : default !important;
        text-align : center;
        padding-bottom : 2px;

    }
    &.selected {
        color : #A53F0F;
    }
}

a {
    color : black;
    text-decoration: none;
}
a:hover {
    color : #A53F0F;
}
ul {
    padding : 0;
    margin : 0;
}
li {
    list-style: none;
}
.mainnav {
    display : inline-block;
    vertical-align: top;
    margin-right : 2em;
}
#mainview {
    display : inline-block;
    vertical-align: top;
    width : 650px;
}

label {
    display : inline;
}

#logo {
    height: 30px;
   left: -8px;
   position: relative;
}

header {
    border-bottom : 1px solid grey;
    margin-bottom : 1em;
    padding-bottom : 5px;
}