/* line 14, styles.scss */
select {
  width: auto;
}

/* line 17, styles.scss */
input {
  font-size: inherit;
  width: auto;
}

/* line 22, styles.scss */
body {
  font-size: 11px;
  padding-top: 20px;
  padding-left: 40px;
  white-space: nowrap;
  font-family: georgia, serif;
  line-height: 16px;
  width: 670px;
}
/* line 31, styles.scss */
body > * {
  white-space: normal;
}

/* line 42, styles.scss */
#toolkit hr {
  border-top: 1px solid grey;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* line 49, styles.scss */
tr:nth-of-type(10n) {
  padding-bottom: 2em;
}

/* line 54, styles.scss */
#controls > * {
  vertical-align: top;
}

/* line 57, styles.scss */
tr:nth-of-type(10n) td {
  padding-bottom: 1em;
}

/*#table tr:nth-of-type(odd) {
    background-color : lighten(#999, 30%);
}
*/
/* line 64, styles.scss */
.contenttable {
  min-width: 700px;
}
/* line 66, styles.scss */
.contenttable td {
  max-width: 300px;
  padding: 5px;
}
/* line 70, styles.scss */
.contenttable td:nth-child(2) {
  vertical-align: bottom;
}
/* line 73, styles.scss */
.contenttable th {
  padding: 5px;
  text-align: left;
}

/* line 79, styles.scss */
.contenttable td:last-of-type,
th:last-of-type {
  text-align: right;
}

/* line 86, styles.scss */
.letters {
  margin-bottom: 1em;
}
/* line 88, styles.scss */
.letters td {
  font-weight: bold;
  cursor: pointer;
  padding: 0 6px;
  text-align: center;
  height: 20px;
  width: 20px;
}
/* line 97, styles.scss */
.letters td.disabled {
  font-weight: normal !important;
  cursor: default !important;
}
/* line 105, styles.scss */
.letters td.selected {
  color: #990000;
}
/* line 108, styles.scss */
.letters td:first-child {
  padding-left: 0;
}

/* line 114, styles.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 118, styles.scss */
a:hover {
  color: #990000;
  text-decoration: none;
}

/* line 122, styles.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 126, styles.scss */
li {
  list-style: none;
}

/* line 129, styles.scss */
#leftCorridor {
  width: 120px;
  margin-right: 40px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 133, styles.scss */
#leftCorridor > * {
  margin-bottom: 2em;
}

/* line 137, styles.scss */
.mainnav {
  vertical-align: top;
}

/* line 140, styles.scss */
#mainview {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 510px;
  margin-top: 2em;
}

/* line 147, styles.scss */
label {
  display: inline;
}

/* line 151, styles.scss */
#logo {
  height: 30px;
  left: -8px;
  position: relative;
}

/* line 157, styles.scss */
header {
  border-bottom: 1px solid grey;
  margin-bottom: 1em;
  padding-bottom: 5px;
}

/* line 163, styles.scss */
.page-start #toolkit {
  margin-top: 18em;
  font-size: 0.9em;
}
/* line 166, styles.scss */
.page-start #toolkit input {
  font-size: 1.1em;
  width: 90px;
}
/* line 170, styles.scss */
.page-start #toolkit form {
  margin-bottom: 1em;
}

/* line 176, styles.scss */
.page-stats #mainview > * {
  margin-bottom: 1em;
}

/* line 183, styles.scss */
.page-search #mainview .submit_btn {
  float: right;
}
/* line 186, styles.scss */
.page-search #mainview .input {
  width: 432px;
}
/* line 189, styles.scss */
.page-search #mainview .header {
  position: relative;
}
/* line 193, styles.scss */
.page-search #mainview .header .open_toggle {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 201, styles.scss */
.page-search #mainview .extended {
  border: 1px lightgrey solid;
  padding: 8px;
}
/* line 206, styles.scss */
.page-search #mainview .columns > div {
  width: 49%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 210, styles.scss */
.page-search #mainview .columns > div label {
  display: block;
}
/* line 215, styles.scss */
.page-search #mainview table {
  white-space: nowrap;
}
/* line 217, styles.scss */
.page-search #mainview table td:nth-of-type(2) {
  max-width: 100px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}
/* line 223, styles.scss */
.page-search #mainview table td:nth-of-type(3) {
  text-align: right;
}
/* line 228, styles.scss */
.page-search #toolkit {
  font-size: .9em;
}
/* line 231, styles.scss */
.page-search #title_select {
  max-width: 247px;
}

/* line 237, styles.scss */
.page-reading #mainview {
  position: relative;
}
/* line 241, styles.scss */
.page-reading #toolkit input {
  width: 70px;
}
/* line 245, styles.scss */
.page-reading .work_parts {
  margin-top: 1em;
}
/* line 247, styles.scss */
.page-reading .work_parts li {
  font-size: smaller;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-style: italic;
}
/* line 255, styles.scss */
.page-reading .partnav {
  position: relative;
}
/* line 257, styles.scss */
.page-reading .partnav .arrow_icon {
  color: #990000;
}
/* line 261, styles.scss */
.page-reading .partnav .triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 25px 25px;
  border-color: transparent transparent #990000 transparent;
  opacity: 0.5;
  position: absolute;
  left: 135px;
  bottom: 0;
}
/* line 276, styles.scss */
.page-reading .partnav .part_menu {
  background-color: #990000;
  opacity: 0.8;
  width: 120px;
  position: absolute;
  bottom: 0;
  left: 160px;
  padding: 2em;
  z-index: 100;
}
/* line 285, styles.scss */
.page-reading .partnav .part_menu a {
  color: white;
}

/* line 293, styles.scss */
.page-sourceInfo h3 {
  margin: 0;
  line-height: inherit;
}
/* line 296, styles.scss */
.page-sourceInfo h3.author {
  font-variant: small-caps;
}
/* line 299, styles.scss */
.page-sourceInfo h3.title {
  margin-bottom: 2em;
}

/* line 306, styles.scss */
.page-authorList table {
  margin-top: 3em;
}
/* line 309, styles.scss */
.page-authorList #mainview > * {
  margin-bottom: 1em;
}

/* line 315, styles.scss */
.page-titleList th {
  padding-bottom: 1em;
}

/* line 322, styles.scss */
.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  position: relative;
  margin-right: 3px;
  cursor: pointer;
}
/* line 330, styles.scss */
.triangle.disabled {
  cursor: normal;
}
/* line 334, styles.scss */
.triangle.disabled.up {
  border-color: transparent transparent grey transparent;
}
/* line 337, styles.scss */
.triangle.disabled.down {
  border-color: grey transparent transparent transparent;
}
/* line 340, styles.scss */
.triangle.up {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #990000 transparent;
  bottom: 11px;
}
/* line 346, styles.scss */
.triangle.down {
  border-width: 8px 8px 0 8px;
  border-color: #990000 transparent transparent transparent;
  top: 11px;
}
