/* line 19, styles.scss */
body {
  font-size: 11px;
  padding-top: 20px;
  padding-left: 40px;
  white-space: nowrap;
  font-family: georgia, serif;
  line-height: 16px;
  width: 670px;
  background-color: white;
}
/* line 29, styles.scss */
body > * {
  white-space: normal;
}

/* line 35, styles.scss */
.search_dict {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../img/search_dict.png");
  cursor: pointer;
}

/* line 47, styles.scss */
[submit-btn] {
  cursor: pointer;
}

/* line 51, styles.scss */
#toolkit hr {
  border-top: 1px solid grey;
  margin-bottom: 1em;
  margin-top: 1em;
}
/* line 56, styles.scss */
#toolkit input {
  max-width: 100%;
}

/* line 61, styles.scss */
tr:nth-of-type(10n) {
  padding-bottom: 2em;
}

/* line 66, styles.scss */
#controls > * {
  vertical-align: top;
}

/* line 69, styles.scss */
tr:nth-of-type(10n) td {
  padding-bottom: 1em;
}

/*#table tr:nth-of-type(odd) {
    background-color : lighten(#999, 30%);
}
*/
/* line 76, styles.scss */
.contenttable {
  min-width: 700px;
}
/* line 78, styles.scss */
.contenttable td {
  max-width: 300px;
  padding: 5px;
}
/* line 82, styles.scss */
.contenttable td:nth-child(2) {
  vertical-align: bottom;
}
/* line 85, styles.scss */
.contenttable th {
  padding: 5px;
  text-align: left;
}

/* line 91, styles.scss */
.contenttable td:last-of-type,
th:last-of-type {
  text-align: right;
}

/* line 98, styles.scss */
.letters {
  margin-bottom: 1em;
}
/* line 100, styles.scss */
.letters td {
  font-weight: bold;
  cursor: pointer;
  padding: 0 6px;
  text-align: center;
  height: 20px;
  width: 20px;
}
/* line 109, styles.scss */
.letters td.disabled {
  font-weight: normal !important;
  cursor: default !important;
}
/* line 117, styles.scss */
.letters td.selected {
  color: #990000;
}
/* line 120, styles.scss */
.letters td:first-child {
  padding-left: 0;
}

/* line 126, styles.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 130, styles.scss */
a:hover {
  color: #990000;
  text-decoration: none;
}

/* line 134, styles.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 138, styles.scss */
li {
  list-style: none;
}

/* line 141, styles.scss */
#leftCorridor {
  width: 120px;
  margin-right: 40px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 145, styles.scss */
#leftCorridor > * {
  margin-bottom: 2em;
}

/* line 149, styles.scss */
.mainnav {
  vertical-align: top;
  line-height: 19px;
}

/* line 153, styles.scss */
#mainview {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 510px;
  margin-top: 2em;
}

/* line 160, styles.scss */
label {
  display: inline;
}

/* line 164, styles.scss */
#logo {
  height: 30px;
  left: -8px;
  position: relative;
}

/* line 170, styles.scss */
header {
  border-bottom: 1px solid grey;
  margin-bottom: 1em;
  padding-bottom: 5px;
  position: relative;
}
/* line 175, styles.scss */
header .breadcrumb {
  position: absolute;
  bottom: 2px;
  right: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-size: 0.9em;
}

/* line 189, styles.scss */
.page-start .breadcrumb {
  display: none;
}
/* line 192, styles.scss */
.page-start #toolkit {
  margin-top: 18em;
  font-size: 0.9em;
}
/* line 195, styles.scss */
.page-start #toolkit input[type=text] {
  font-size: 1.1em;
  width: 90px;
}
/* line 199, styles.scss */
.page-start #toolkit form {
  margin-bottom: 1em;
}

/* line 206, styles.scss */
.page-stats #mainview > * {
  margin-bottom: 1em;
}

/* line 210, styles.scss */
.preloader {
  visibility: hidden;
  color: #990000;
  text-align: right;
}

/* line 215, styles.scss */
.searching .preloader {
  visibility: visible;
}

/* line 220, styles.scss */
.page-search #mainview {
  position: relative;
}
/* line 223, styles.scss */
.page-search #mainview .searching .results {
  opacity: 0.3;
}
/* line 227, styles.scss */
.page-search #mainview .submit_btn {
  float: right;
}
/* line 230, styles.scss */
.page-search #mainview .input {
  width: 432px;
}
/* line 233, styles.scss */
.page-search #mainview .header {
  position: relative;
}
/* line 237, styles.scss */
.page-search #mainview .header .open_toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
/* line 245, styles.scss */
.page-search #mainview .n_pages {
  margin-bottom: 1em;
}
/* line 248, styles.scss */
.page-search #mainview .extended {
  border: 1px lightgrey solid;
  padding: 8px;
}
/* line 253, styles.scss */
.page-search #mainview .columns > div {
  width: 49%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 257, styles.scss */
.page-search #mainview .columns > div label {
  display: block;
}
/* line 262, styles.scss */
.page-search #mainview table {
  white-space: nowrap;
}
/* line 264, styles.scss */
.page-search #mainview table tr.is_faksimil * {
  color: grey;
}
/* line 267, styles.scss */
.page-search #mainview table td.title {
  max-width: 100px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}
/* line 273, styles.scss */
.page-search #mainview table td.left_context {
  text-align: right;
}
/* line 278, styles.scss */
.page-search #toolkit {
  font-size: .9em;
}
/* line 280, styles.scss */
.page-search #toolkit .littb_pager {
  margin-top: 1em;
  margin-bottom: 2em;
}
/* line 283, styles.scss */
.page-search #toolkit .littb_pager .input_page {
  width: 60px;
}
/* line 286, styles.scss */
.page-search #toolkit .littb_pager .ctrl {
  margin: 10px 0;
}
/* line 288, styles.scss */
.page-search #toolkit .littb_pager .ctrl > * {
  cursor: pointer;
}
/* line 294, styles.scss */
.page-search #title_select {
  max-width: 247px;
}

/* line 300, styles.scss */
.page-reading #mainview {
  position: relative;
}
/* line 302, styles.scss */
.page-reading #mainview .faksimilMarkee {
  background-color: #990000;
  opacity: 0.5;
  position: absolute;
}
/* line 307, styles.scss */
.page-reading #mainview img {
  max-width: inherit;
}
/* line 312, styles.scss */
.page-reading #toolkit > * {
  display: block;
}
/* line 315, styles.scss */
.page-reading #toolkit > div {
  margin: 1em 0;
}
/* line 318, styles.scss */
.page-reading #toolkit .title, .page-reading #toolkit .author {
  min-height: 1em;
}
/* line 321, styles.scss */
.page-reading #toolkit .title {
  font-style: italic;
}
/* line 324, styles.scss */
.page-reading #toolkit .pageinput {
  width: 50px;
  margin-left: 5px;
}
/* line 329, styles.scss */
.page-reading #toolkit #search_nav .box {
  background-image: url(/bilder/Soknavigering.png);
  width: 113px;
  height: 62px;
  margin-left: -5px;
  padding-top: 0.5em;
}
/* line 336, styles.scss */
.page-reading #toolkit #search_nav .box .text {
  float: left;
  color: white;
  width: 40px;
  white-space: nowrap;
  margin-left: 30px;
}
/* line 344, styles.scss */
.page-reading #toolkit #search_nav .box .ctrls {
  float: right;
}
/* line 346, styles.scss */
.page-reading #toolkit #search_nav .box .ctrls img {
  cursor: pointer;
}
/* line 349, styles.scss */
.page-reading #toolkit #search_nav .box .ctrls .close_btn {
  float: right;
}
/* line 356, styles.scss */
.page-reading #toolkit .word_search {
  margin-top: 1em;
}
/* line 358, styles.scss */
.page-reading #toolkit .word_search label {
  display: block;
  font-size: .9em;
}
/* line 363, styles.scss */
.page-reading #toolkit .size_picker > div {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: black;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 4px;
  font-family: "Helvetica", "Arial", sans-serif;
  cursor: pointer;
}
/* line 375, styles.scss */
.page-reading #toolkit .size_picker > div.selected {
  background-color: #990000;
  cursor: normal;
}
/* line 381, styles.scss */
.page-reading .work_parts {
  margin-top: 1em;
}
/* line 383, styles.scss */
.page-reading .work_parts li {
  font-size: smaller;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-style: italic;
  cursor: pointer;
}
/* line 392, styles.scss */
.page-reading .work_parts li .tooltip {
  white-space: normal;
}
/* line 397, styles.scss */
.page-reading .partnav {
  position: relative;
}
/* line 399, styles.scss */
.page-reading .partnav .arrow_icon {
  color: #990000;
}
/* line 403, styles.scss */
.page-reading .partnav .triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 25px 25px;
  border-color: transparent transparent #990000 transparent;
  opacity: 0.8;
  position: absolute;
  left: 135px;
  bottom: 0;
}
/* line 418, styles.scss */
.page-reading .partnav .part_menu {
  background-color: #990000;
  opacity: 0.8;
  width: 120px;
  position: absolute;
  bottom: 0;
  left: 160px;
  padding: 2em;
  z-index: 100;
  max-height: 300px;
  overflow-y: auto;
}
/* line 429, styles.scss */
.page-reading .partnav .part_menu li {
  color: white;
  cursor: pointer;
}
/* line 433, styles.scss */
.page-reading .partnav .part_menu a {
  color: white;
}

/* line 442, styles.scss */
.page-sourceInfo #mainview div {
  margin-bottom: 1em;
}
/* line 445, styles.scss */
.page-sourceInfo #mainview .mediatypes {
  margin-bottom: 0;
}
/* line 449, styles.scss */
.page-sourceInfo #mainview h3 {
  margin: 0;
  line-height: inherit;
}
/* line 452, styles.scss */
.page-sourceInfo #mainview h3.author {
  font-variant: small-caps;
}
/* line 455, styles.scss */
.page-sourceInfo #mainview h3.title {
  margin-bottom: 2em;
  max-width: 400px;
}
/* line 460, styles.scss */
.page-sourceInfo #mainview .mediatype {
  font-variant: small-caps;
}
/* line 464, styles.scss */
.page-sourceInfo #mainview .provenance * {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 467, styles.scss */
.page-sourceInfo #mainview .provenance p {
  width: 250px;
  margin-left: 10px;
}
/* line 472, styles.scss */
.page-sourceInfo #mainview .toggle {
  cursor: pointer;
}

/* line 479, styles.scss */
.page-authorList table {
  margin-top: 3em;
}
/* line 482, styles.scss */
.page-authorList #mainview > * {
  margin-bottom: 1em;
}

/* line 488, styles.scss */
.page-titleList th {
  padding-bottom: 1em;
}

/* line 496, styles.scss */
.page-biblinfo #mainview > * {
  margin-bottom: 1em;
}
/* line 499, styles.scss */
.page-biblinfo #mainview li {
  margin-bottom: 0.5em;
}
/* line 503, styles.scss */
.page-biblinfo #mainview .search {
  margin-bottom: 1em;
}
/* line 505, styles.scss */
.page-biblinfo #mainview .search input {
  width: 300px;
  margin-right: 2px;
}
/* line 513, styles.scss */
.page-biblinfo #toolkit .num_hits {
  margin-bottom: 1em;
  height: 1em;
}
/* line 520, styles.scss */
.page-biblinfo .results > div {
  margin-bottom: 2em;
  padding: 1em;
}
/* line 523, styles.scss */
.page-biblinfo .results > div.even {
  background-color: #E3E3E3;
}
/* line 527, styles.scss */
.page-biblinfo .results h4 {
  text-transform: uppercase;
  color: #666;
  font-weight: normal;
}
/* line 533, styles.scss */
.page-biblinfo .results .col {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 49%;
}

/* line 542, styles.scss */
.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  position: relative;
  margin-right: 3px;
  cursor: pointer;
}
/* line 550, styles.scss */
.triangle.disabled {
  cursor: normal;
}
/* line 554, styles.scss */
.triangle.disabled.up {
  border-color: transparent transparent grey transparent;
}
/* line 557, styles.scss */
.triangle.disabled.down {
  border-color: grey transparent transparent transparent;
}
/* line 560, styles.scss */
.triangle.up {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #990000 transparent;
  bottom: 11px;
}
/* line 566, styles.scss */
.triangle.down {
  border-width: 8px 8px 0 8px;
  border-color: #990000 transparent transparent transparent;
  top: 11px;
}

/* line 573, styles.scss */
.markee {
  background-color: pink;
}

/* line 577, styles.scss */
.dots_blink {
  text-decoration: blink;
}
/* line 579, styles.scss */
.dots_blink:after {
  content: "...";
}

/* line 584, styles.scss */
.gratis-ebok {
  font-size: 1em;
  font-variant: small-caps;
  line-height: 1.2em;
  margin: 0;
}

/* line 592, styles.scss */
grundform-clean {
  display: none;
}

/* line 596, styles.scss */
.so_modal {
  padding: 1em 1em 1em 1.5em;
}

/* line 600, styles.scss */
._so_article {
  max-height: 520px;
  padding-left: 1.5em;
  overflow: auto;
}
