{
  root: true,
  parserOptions: {ecmaVersion: 2020},
  env: {
    browser: true,
    node : true
  },
  extends: 'standard',
  // required to lint *.vue files
  plugins: [
  ],
  // add your custom rules here
  rules: {'comma-spacing' : "off",
          'quotes' : 'off',
          'key-spacing' : "off",
          'no-unused-vars' : "warn",
          'no-multiple-empty-lines': "off",
          "indent" : "off",
          "space-before-function-paren" : "off",
          "no-trailing-spaces" : "off",
          "padded-blocks" : "off",
          "space-in-parens" : "off",
          "comma-dangle" : "off",
          "no-multi-spaces" : "off",
          "keyword-spacing" : "off",
          "eqeqeq" : "off",
          "camelcase" : "off",
          "object-curly-spacing" : "off",
          "spaced-comment" : "off",
          "standard/computed-property-even-spacing" : "off",
          "prefer-const": "off"

          },
  globals: {
    "_": true,
    $ : true,
    c: true,
    angular: true,
    isDev : true,
    littb : true,
    safeApply: true

  }
}
