<div ng-show="rows.length">
    <div id="controls">
        <select ng-model="sort" >
            <option value="">-- Sortera på --</option>
            <option value="title">Titel</option>
            <option value="author">Författare</option>
        </select>
        Filtrera: <input type="text" ng-model="filter">
        <table id="letters">
            <tr ng-repeat="row in letterArray">
                <td ng-repeat="letter in row"
                    ng-class="{disabled: !rowByLetter[letter].length, selected: letter == selectedLetter}"
                    ng-click="setLetter(letter)">{{letter}}</td>
            </tr>
        </table>
    </div>

    <table id="table" class="table-striped" >
        <thead>
            <th>Titel</th>
            <th>Författare</th>
            <th>Mediatyp</th>

        </thead>
        <tr ng-repeat="row in rows | orderBy:sort | filter:{title : filter || ''}">
            <td>{{row.title}}</td>
            <td>{{row.author}}</td>
            <td>{{row.mediatype.join(" ::: ")}}</td>
        </tr>
    </table>
</div>



<script>

window.c = console ? log : _.noop


littb.controller "ListCtrl", ($scope, $http, $location) ->
    $scope.loc = $location
    setupHash = (names...) ->
        $scope[name] = $location.search()[name]
        $scope.$watch 'loc.search()', ->
            _.extend($scope, _.pick($location.search(), names...))

        for name in names
            $scope.$watch name, do (name) ->
                (val) ->
                    $location.search(name, val or null)




    $scope.letterArray = _.invoke([
        "ABCDE",
        "FGHIJ",
        "KLMNO",
        "PQRST",
        "UVWXY",
        "ZÅÄÖ"
    ], "split", "")

    setupHash("sort", "filter")


    $http(
        url : "data.xml"
        method : "GET"
        transformResponse : (data, headers) ->
            new DOMParser().parseFromString(data, "text/xml")
    ).success (data) ->
        workIdGroups = _.groupBy $("item", data), (item) ->
            $(item).attr("lbworkid")

        rows = {}
        for workid, elemList of workIdGroups
            itm = $(elemList[0])
            rows[workid] =
                author : itm.find("author").attr("fullname")
                title  : itm.attr("workshorttitle") or itm.attr("showtitle")
                mediatype : _.unique _.map elemList, (item) -> $(item).attr("mediatype")

        rows = _.flatten _.values rows


        $scope.rowByLetter = _.groupBy rows, (item) ->
            item.title[0]

        $scope.selectedLetter = _.keys($scope.rowByLetter).sort()[0]

        $scope.selectedLetter = "A"
        $scope.rows = $scope.rowByLetter[$scope.selectedLetter]




    $scope.setLetter = (l) ->
        list = $scope.rowByLetter[l]
        if l and l.length
            $scope.selectedLetter = l
            $scope.rows = list

</script>