<div ng-controller="fileCtrl">
    <img bkg-img class="no-gradient" src="img/skola_bkg_blue.jpg"></img>
    

    <div toolkit class="page_{{id}}">
        <h1><a href="/#!/skola">Litteraturskolan</a></h1>
        <h2 class="subheader caps">Att läsa lyrik</h2>
        <ul class="subnav">
            <li class="page">
                <h2><span ng-show="id == '6-9'">Elev</span> {{id}}</h2>
            </li>

            <li ng-repeat="item in list">
                <a selectable ng-if="item.url" ng-href="{{item.url}}">{{item.label}}</a>
                <span ng-if="!item.url"><h2>{{item.label}}</h2></span>
                <ul ng-if="item.sublist">
                    <li ng-repeat="sub in item.sublist"><a selectable ng-href="{{sub.url}}">{{sub.label}}</a>
                </ul> 
            </li>
        </ul>
        <ul class="subnav">
            <li><br></li>
            <li>
                <download-btn ng-if="path" file="path" is-lyrik></download-btn>
            </li>
        </ul>

        <ul class="lower_menu">
            <li><a href="/#!/skola/lyrik/elev/{{getOtherId(id)}}">{{getOtherId(id)}}</a></li>
            <li><a href="/#!/start">Litteraturbanken</a></li>
            <li><a href="/#!/skola/lyrik/elev/{{id}}/Hjalp.html">Hjälp</a></li>
        </ul>
        
        <!-- <ul class="lower_menu">
            <li ng-if="id != 'f-5'"><a ng-href="/#!/skola/f-5">Upp till årskurs 5</a></li>
            <li ng-if="id != '6-9'"><a ng-href="/#!/skola/6-9">Årskurs 6 till 9</a></li>
            <li ng-if="id != 'gymnasium'"><a ng-href="/#!/skola/gymnasium">Gymnasium</a></li>
        </ul>
        <ul class="lower_menu">
            <download-btn ng-if="docurl" file="docurl"></download-btn>
            <li><a ng-href="/#!/sok?forfattare=LagerlofS&open">Sök i Lagerlöfs verk</a></li>
            <li><a href="/#!/forfattare/LagerlofS/presentation">Mer om Lagerlöf</a></li>
            <li><a ng-href="/#!/forfattare/LagerlofS">Lagerlöfarkivet</a></li>
            <li><a ng-href="/#!/start">Litteraturbanken</a></li>
        </ul> -->

    </div>
    
    <div class="content">
        <p sc-file="{{docurl || defaultUrl}}" section="'elev'" subsection="id"></p>
    </div>
</div>
