<img bkg-img class="no-gradient" src="img/skola_bkg.jpg"></img>
<meta-desc>Litteraturbankens skola är läsarens vägledning till det svenska litteraturarvet.</meta-desc>
<div ng-controller="fileCtrl">
    <p class="content" sc-file="Startsida.html"></p>
    <div toolkit>
        <h1><a href="/#!/skola">Litteraturskolan</a></h1>
        <div class="subnav">
            <div class="general">
                <h2>Allmänt</h2>
                <ul>
                    <li><a href="/#!/skola/ValkommenStartsida.html">Välkommen</a> </li>
                    <li><a href="/#!/skola/larare/DidaktikOchMetodik.html">Didaktik <i>&</i> metodik</a></li>
                    <li><a href="/#!/skola/larare/TermerOchBegrepp.html">Termer och begrepp</a></li>
                    <li><a href="/#!/skola/larare/Genrer.html">Litterära genrer</a></li>
                    <li><a href="/#!/skola/hjalp.html">Hjälp</a></li>

                    <!-- <li><a href="/#!/skola/larare/LitteraturAttLasaISkolan.html">Selma Lagerlöf</a></li> -->
                    
                </ul>
            </div>
            <div class="prose">
                <h2>Prosa</h2>
                <ul>
                    <li><a href="/#!/skola/larare">För lärare</a> </li>
                    <!-- <li><a href="/#!/skola/elever">För elever</a> </li> -->
                    <li><a href="/#!/skola/f-5">Upp till årskurs 5</a></li>
                    <li><a href="/#!/skola/6-9">Årskurs 6 till 9</a></li>
                    <li><a href="/#!/skola/gymnasium">Gymnasium</a></li>
                    
                </ul>
            </div>
            <div class="poetry">
                <h2>Lyrik</h2>
                <ul>
                    <li><a href="/#!/skola/lyrik/larare">För lärare</a> </li>
                    <li><a href="/#!/skola/lyrik/elev/6-9">Årskurs 6 till 9</a></li>
                    <li><a href="/#!/skola/lyrik/elev/gymnasium">Gymnasium</a></li>
                    <!-- <li><a href="/#!/skola/larare">Välkommen</a> </li>
                    <li><a href="/#!/skola/larare/DidaktikOchMetodik.html">Didaktik <i>&</i> metodik</a></li>
                    <li><a href="/#!/skola/larare/TermerOchBegrepp.html">Termer och begrepp</a></li>
                    <li><a href="/#!/skola/larare/Genrer.html">Litterära genrer</a></li>
                    <li><a href="/#!/skola/larare/LitteraturAttLasaISkolan.html">Selma Lagerlöf</a></li> -->
                    
                </ul>
            </div>
        </div>
    </div>
    
    <!-- <div class="logos">
        <a href="/#!/start"><img class="lb" src="/img/lb_full.svg"></a>
        <img class="amp" src="/img/amp.svg">
        <a href="/#!/forfattare/LagerlofS"><img class="sla" src="/img/sla.svg"></a>
    </div> -->
</div>