
<div ng-controller="fileCtrl">
    <div class="teachers">
        <h2>För lärare</h2>
        <ul>
            <li><a href="/#!/skola/larare">Välkommen</a> </li>
            <li><a href="#!/skola/larare/DidaktikOchMetodik.html">Didaktik och metodik</a></li>
            <li><a href="#!/skola/larare/LitteraturvetenskapligaBegrepp.html">Termer och begrepp</a></li>
            <li><a href="/#!/skola/larare/Genrer.html">Litterära genrer</a></li>
            <li><a href="/#!/skola/larare/LasaLagerlofISkolan.html">Selma Lagerlöf</a></li>
            
        </ul>
    </div>
    <div class="students">
        <h2>För elever</h2>
        <ul>
            <li><a href="#!/skola/f-5">Upp till årskurs 5</a></li>
            <!-- <li><a href="/#!/forfattare/LagerlofS/titlar/DenHeligaNatten/sida/1/faksimil">För de yngre</a></li> -->
            <li><a href="/#!/skola/6-9">Årskurs 6 till 9</a></li>
            <li><a href="/#!/skola/gymnasium">Gymnasium</a></li>
        </ul>
    </div>
    <p class="content" sc-file="Startsida.html"></p>
    <div class="logos">
        <a href="/#!/start"><img class="lb" src="/img/lb_full.svg"></a>
        <img class="amp" src="/img/amp.svg">
        <img class="sla" src="/img/sla.svg">
    </div>
</div>