<div>
    <p sc-file="ValkommenStartsida.html"></p>

    
    <div class="teachers">
        <h2>För lärare</h2>
        <ul>
            <li><a href="#!/skola/larare">Didaktisk introduktion</a></li>
            <li><a href="#!/verkslista">Enskilda verk</a></li>
            <li><a href="#!/">Lektionsförslag</a></li>
            <li><a href="larare/litteraturevetenskapligaBegrepp.html">Litteraturvetenskapliga begrepp</a></li>
            <li></li>
        </ul>
    </div>
    <div class="students">
        <h2>För elever</h2>
        <ul>
            <li><a href="#!/skola/f-5">Upp till årskurs 5</a></li>
            <li><a href="#!/skola/6-9">Årskurs 6 till 9</a></li>
            <li><a href="#!/skola/gymnasium">Gymnasium</a></li>
        </ul>
    </div>
</div>