<div class="sidebar">
    <ul>
        <li><a href="">Didaktisk introduktion</a></li>
        <li><a href="">Litterära genrer</a></li>
        <li><a href="">Litteraturvetenskapliga begrepp</a></li>
        <li><a href="">Selma Lagerlöf</a></li>
        <li><a href="">Introduktion till Lagerlöf</a></li>
        <li><a href="">Orientering enskilda verk</a></li>
        <li><a href="">Orientering tema/motiv</a></li>
        <li><a href="">Uppgifter till enskilda verk</a></li>
    </ul>

    <ul>
        <li><a href="">Resurser för elever</a></li>
        <li><a href="/#!/sok?forfattare=LagerlofS&open">Sök i Lagerlöfs verk</a></li>
        <li><a href="/#!/forfattare/LagerlofS">Selma Lagerlöf-arkivet</a></li>
        <li><a href="/#!/start">Litteraturbanken</a></li>
    </ul>
</div>

<div class="content">
    <p sc-file="DidaktiskIntroduktion.html"></p>
</div>