<!-- <img bkg-img src="img/about_bkg.jpg"></img>      -->
<meta-desc>Om Litteraturbanken.</meta-desc>
<h1>Om Litteraturbanken</h1>
<ul class="links">
    <li><a ng-class="{active : page == 'ide'}" href="/om/ide">Intro</a></li>
    <li><a ng-class="{active : page == 'mål'}" href="/om/mål">Mål</a></li>
    <!-- <li><a ng-class="{active : page == 'inenglish'}" href="/om/inenglish">English</a></li> -->
    <li><a ng-class="{active : page == 'inenglish'}" href="/om/organisation">Organisation</a></li>
    <li><a ng-class="{active : page == 'hjalp'}" href="/om/hjalp">Hjälp</a></li>
    <li><a ng-class="{active : page == 'rattigheter'}" href="/om/rattigheter">Rättigheter</a></li>
    <li><a ng-class="{active : page == 'statistik'}" href="/om/statistik">Statistik</a></li>
    <li><a ng-class="{active : page == 'kontakt'}" href="/om/kontakt">Kontakt</a></li>
</ul>
<ng-include src="getPage(page)"></ng-include>