<meta-desc>Litteraturbankens gratis tillgängliga verk i formatet epub.</meta-desc>
    
    <!-- <img bkg-img src="img/ljudlandskap.jpg"></img> -->

    <div ng-class="{searching : searching}"><!-- for some reason, this breaks if dedented -->
        <h1>Uppläsningar och andra inspelningar</h1>
            
        <!-- <p>Det här är en lista över de titlar som Litteraturbanken erbjuder i formatet <em>epub</em> – ett filformat som passar för de flesta mobila läsare, t. ex. läsplattor och avancerade mobiltelefoner. Läs mer om epub på <a href="/#!/om/hjalp?ankare=Epub">hjälpsidan</a>.</p> -->
        
        <!-- <div>
            <div class="auth_select_container">
                <select  class="filter_select author_select" ui-select2="authorSelectSetup" ng-model="authorFilter" data-placeholder="Författare" >
                    <option>Välj författare</option>
                    <option value="{{author.author_id}}" ng-repeat="author in authorData | orderBy:'name_for_index'">

                        <span class="lastname">{{author.surname}}</span>
                    </option>
                </select> 
            </div>
        
            <input class="filter" ng-model="filterTxt" autofocus placeholder="Filtrera">
        </div> -->
        



        <div class="table_container" ng-repeat="rows in fileGroups">
            <div class="preloader"> 
                <i class="spinner fa fa-spinner fa-pulse"></i>
            </div>

            <div class="left_col">
                <div class="section_header">
                    <h2>Horace Engdahl läser svenska dikter</h2>
                </div>
                <table class="contenttable">
                    <tbody><tr ng-repeat="row in rows | filter:rowFilter | orderBy:sorttuple[0]:sorttuple[1]" id="{{::row.authors[0].name_for_index.toUpperCase()}}">
                            <td>
                                "{{row.title}}" av <span class="author">{{authorsById[row.author].surname || row.author}}</span>
                            </td>
                            <td class="play">
                                <a ng-click="setPlayObj(row)">Lyssna</a>
                            </td>
                        </tr></tbody>
                </table>
            </div>
            <div class="img_container right_col">
                <img ng-src="/red/forfattare/{{rows[0].reader}}/{{rows[0].reader}}_large.jpeg" alt="Horace Engdahl">
                <figcaption>{{authorsById[rows[0].reader].pictureinfo}}</figcaption>
            </div>
            <div ng-show="rowLimit" class="rowlimit sc">Visar de första 30 träffarna</div>
        </div>
        <div class="footer">
            <div class="player_container">
                <audio id="audioplayer" ng-src="{{play_obj.url}}" controls></audio>
                <div class="playing">
                    <span class="author">{{authorsById[play_obj.author].full_name}}</span>: "{{play_obj.title}}"
                </div>
            </div>
        </div>
    </div>
    <!-- <div toolkit>
        <div letter-map letter-map-change="letterChange()" selected="selectedLetter" enabled-letters="currentLetters"></div>
    </div>
 -->