<meta-desc>Litteraturbankens gratis tillgängliga verk i formatet epub.</meta-desc>
    <div ng-class="{searching : searching}"><!-- for some reason, this breaks if dedented -->
        <h1>Uppläsningar och andra inspelningar</h1>
            
        <div class="table_container" ng-repeat="(section, rows) in fileGroups">
            <div class="left_col">
                <div class="section_header">
                    <h2>{{section}}</h2>
                </div>
                <table class="contenttable">
                    <tbody><tr ng-repeat="row in rows | filter:rowFilter | orderBy:sorttuple[0]:sorttuple[1]" id="{{::row.authors[0].name_for_index.toUpperCase()}}">
                            <td>
                                ”{{row.title}}” av <span class="author">{{row.authors[0].surname || row.authors[0].author_id}}</span>
                            </td>
                            <td class="play">
                                <a ng-click="setPlayObj(row)">Lyssna</a>
                            </td>
                        </tr></tbody>
                </table>
            </div>
            <div class="img_container right_col">
                <div style="display:inline-block" >
                    <img ng-src="/red/forfattare/{{rows[0].readers[0].author_id}}/{{rows[0].readers[0].author_id}}_large.jpeg" alt="Horace Engdahl">
                    <figcaption>{{authorsById[rows[0].readers[0].author_id].pictureinfo}}</figcaption>
                </div>
            </div>
            <div ng-show="rowLimit" class="rowlimit sc">Visar de första 30 träffarna</div>
        </div>

        <h3><a href="https://itunes.apple.com/se/podcast/litteraturbankens-upplasningar/id1180639320?l=sv">Prenumerera på Litteraturbankens inspelningar</a></h3>

        <div class="footer">
            <div class="player_container">
                <audio id="audioplayer" ng-src="{{play_obj.url}}" controls></audio>
                <div class="playing">
                    <span class="author">{{play_obj.authors[0].full_name}}</span>: ”{{play_obj.title}}”
                </div>
            </div>
        </div>
    </div>
    <!-- <div toolkit>
        <div letter-map letter-map-change="letterChange()" selected="selectedLetter" enabled-letters="currentLetters"></div>
    </div>
 -->