<meta-desc>{{authorInfo.fullName}}, {{getPageTitle(showpage).toLowerCase()}}</meta-desc>
<page-title>{{authorInfo.fullName}}, {{getPageTitle(showpage).toLowerCase()}}</page-title>
<breadcrumb>
    <a href="/#!/forfattare">författare</a>
    <a href="/#!/forfattare/{{author}}">{{authorInfo.fullName}}</a>
    <a href="">{{getPageTitle(showpage)}}</a>
</breadcrumb>

<div ng-class="{searching:!authorInfo, show_large : show_large}">
    <div class="preloader">Hämtar författare <span class="dots_blink"></span></div>
    <div ng-switch="showpage">
        <div ng-switch-when="introduktion">
            <div ng-bind-html="authorInfo.intro | trust"></div>
            <div class="sla_intro" ng-if="slaMode" ng-bind-html="slaIntro | trust"></div>
            <div ng-show="authorInfo.smallImage" class="author_img"><img ng-src="{{authorInfo.smallImage}}" ng-click="showLargeImage($event)"></div>
            <div ng-if="show_large" class="img_large"><img ng-src="{{authorInfo.largeImage}}"></div>
        </div>

        <div ng-switch-when="titlar">
            <h1 ng-show="authorInfo">
                {{authorInfo.fullName}}<span ng-if="authorInfo | authorYear"> ({{authorInfo | authorYear}})</span>:
                <br>
                verk <span ng-if="groupedTitles.length">och titlar</span> i Litteraturbanken
            </h1>
            <div ng-repeat="titleobj in titleStruct" ng-show="authorInfo && titleobj.data.length">
                <h2>{{titleobj.label}}</h2>

                <table class="contenttable" ng-class="{extra_wide : titleobj.showAuthor}">
                    <tr ng-repeat="works in titleobj.data track by $index">
                        <td ng-if="$parent.$index > 1">
                            <a href="/#!/forfattare/{{getWorkAuthor(works[0].authors).authorid}}">{{getWorkAuthor(works[0].authors).nameforindex}}</a>
                        </td>
                        <td>
                        <!-- <td ng-if="titleobj.showAuthor">
                            <a href="/#!/forfattare/{{works[0].authors[0].authorid}}">{{works[0].authors[0].nameforindex}}</a>
                        </td> -->
                            <a class="title" ng-href="/#!/forfattare/{{getWorkAuthor(works[0].authors).authorid}}/titlar/{{works[0].titlepath.split('/')[0]}}/info">
                                {{works[0].showtitle}}
                            </a>
                            <span class="extras" ng-if="$parent.$index == 1">i
                                <a class="author" href="/#!/forfattare/{{getWorkAuthor(works[0].authors).authorid}}">
                                    {{getWorkAuthor(works[0].authors).surname}}:
                                </a> 
                                <span class="title">{{works[0].workshorttitle}}</span></span>
                            
                                    
                            <!-- <span ng-if="titleobj.showAuthor">[{{getWorkAuthor(works[0].authors).nameforindex}}]</span> -->
                            <span class="dots"></span>
                        </td>
                        <td >
                            <span ng-repeat="work in works track by $index">
                                <span ng-show="!$first">::: </span>
                                <a ng-href="{{getUrl(work)}}">{{work.mediatype}}</a>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    
        <div ng-switch-when="biblinfo"><div ng-include="'views/sla/biblinfo.html'"></div></div>
    
        <div ng-switch-when="jamfor"><div ng-include="'views/sla/textjamforelse.html'"></div></div>
    
        <!-- <div ng-switch-default id="author-info-external"></div> -->
        <div ng-switch-default>
           <div footnote-popup="noteMapping" ng-bind-html="externalDoc | trust"></div>
       </div>
    </div>
</div>

<div toolkit>
    <hr>
    <div class="author">
        <a ng-href="/#!/forfattare/{{author}}">{{authorInfo.fullName}}</a>
        <div>{{authorInfo | authorYear}}</div>
    </div>
    
    <ul class="topnav" role="navigation">
        <li ng-if="hasTitles()">
            <a ng-href="/#!/forfattare/{{author}}/titlar" >::: Verk och titlar i LB</a>
        </li>
        <li ng-if="groupedWorks.length == 1">
            <a ng-href="/#!/forfattare/{{groupedWorks[0][0].workauthor || author}}/titlar/{{groupedWorks[0][0].titlepath.split('/')[0]}}/{{groupedWorks[0][0].mediatype}}" >::: {{groupedWorks[0][0].showtitle}}</a>
        </li>
        <!-- <li ng-if="groupedWorks.length > 1">
            <a ng-href="/#!/forfattare/{{author}}/titlar" >::: Verk i LB</a>
        </li>
        <li ng-if="groupedTitles.length && !groupedWorks.length">
            <a ng-href="/#!/forfattare/{{author}}/titlar" >::: Titlar i LB</a>
        </li>
        -->
    </ul>
    <ul class="subnav" role="navigation" ng-show="authorInfo">
        <li ng-if="authorInfo.intro"><a ng-href="/#!/forfattare/{{author}}" >Introduktion</a></li>
        <li ng-if="authorInfo.presentation"><a ng-href="/#!/forfattare/{{author}}/presentation">Presentation</a></li>
        <li ng-if="authorInfo.bibliografi"><a ng-href="/#!/forfattare/{{author}}/bibliografi">Bibliografi</a></li>
        <li ng-if="authorInfo.semer"><a ng-href="/#!/forfattare/{{author}}/semer">Se mer</a></li>
        <li ng-repeat="ref in authorInfo.externalref">
            <a ng-href="/#!/{{ref.url}}">{{ref.label}}</a>
        </li>
        <ul ng-if="slaMode">
            <!-- <li><a ng-href="/#!/forfattare/{{author}}/biblinfo">Bibliografisk databas</a></li> -->
            <li><a ng-href="/#!/forfattare/{{author}}/jamfor">Textkritisk verkstad</a></li>
            <li><a ng-href="/#!/forfattare/{{author}}/omtexterna">Vetenskapliga texter</a></li>
        </ul>
    </ul>
</div>
