
<h1>Författare</h1>

<div class="filter_header">Sök efter författare: <input ng-model="authorFilter" autofocus ng-change="selectedLetter = null"> (Lämna rutan tom för att visa alla)</div>

<table class="contenttable">
    <thead>
        <th> <div sort-triangles val="nameforindex" tuple="sorttuple"></div> </th>
        <th> <div sort-triangles val="birth" tuple="sorttuple"></div> </th>
        <th></th>
    </thead>
    <tr ng-repeat="row in rowByLetter[selectedLetter] || rows | filter:authorFilter | orderBy:sorttuple[0]:sorttuple[1]">
        <td><a href="#!/forfattare/{{row.pseudonymfor || row.authorid}}" >{{getAuthor(row)}}</a><span class="dots"></span></td>
        <td>{{row.datestring}}</td>
        <td><em ng-show="row.pseudonymfor">
            ::: se <a href="#!/forfattare/{{row.pseudonymfor}}">{{authorIdGroup[row.pseudonymfor].nameforindex}}</a>
            </em>
        </td>
    </tr>
</table>

<div toolkit>
    <div letter-map letter-map-change="authorFilter = null" selected="selectedLetter" enabled-letters="currentLetters"></div>

    <p>Det här är en lista över de författarskap som är representerade på Litteraturbanken. Listan går att sortera alfabetiskt och kronologiskt: klicka på pilarna ovanför kolumnerna för att sortera om i den ordning som passar bäst.</p>
</div>