<meta-desc>{{authorInfo.fullName}}, {{getPageTitle(showpage)}}</meta-desc>

<div ng-class="{searching:!authorInfo, show_large : show_large}">
    <div class="preloader">Hämtar författare <span class="dots_blink"></span></div>
    <div ng-switch="showpage">
        <div ng-switch-when="introduktion">
            <div ng-bind-html="authorInfo.intro | trust"></div>
            <div ng-show="authorInfo.smallImage" class="author_img"><img ng-src="{{authorInfo.smallImage}}" ng-click="showLargeImage($event)"></div>
            <div ng-if="show_large" class="img_large"><img ng-src="{{authorInfo.largeImage}}"></div>
        </div>

        <div ng-switch-when="titlar">
            <h2 ng-show="authorInfo">
                {{authorInfo.fullName}}<span ng-if="authorInfo | authorYear"> ({{authorInfo | authorYear}})</span>: verk <span ng-if="groupedTitles.length">och titlar</span> i Litteraturbanken
            </h2>
            
            <div ng-repeat="worklist in [groupedWorks, groupedTitles, groupedEditorWorks] track by $index">
                <table class="contenttable">
                    <tr ng-repeat="works in worklist track by $index">
                        <td>
                            <a ng-href="#!/forfattare/{{works[0].workauthor || author}}/titlar/{{works[0].titlepath.split('/')[0]}}/info">
                                {{works[0].showtitle}}
                                <span ng-if="$parent.$index == 1">[i {{works[0].workshorttitle}}]</span>
                            </a>
                            
                            <span class="dots"></span>
                        </td>
                        <td >
                            <span ng-repeat="work in works track by $index">
                                <span ng-show="!$first">::: </span>
                                <a ng-href="{{getUrl(work)}}">{{work.mediatype}}</a>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    
        <div ng-switch-default>
            <div ng-bind-html="externalDoc | trust"></div>
        </div>
    </div>
</div>


<div toolkit>
    <hr>
    <div class="author">
        {{authorInfo.fullName}}
        <div>{{authorInfo | authorYear}}</div>
    </div>
    
    <ul class="topnav" role="navigation">
        <li ng-if="groupedWorks.length > 1">
            <a ng-href="#!/forfattare/{{author}}/titlar" >::: Verk i LB</a>
        </li>
        <li ng-if="groupedTitles.length && !groupedWorks.length">
            <a ng-href="#!/forfattare/{{author}}/titlar" >::: Titlar i LB</a>
        </li>
        <li ng-if="groupedWorks.length == 1">
            <a ng-href="#!/forfattare/{{groupedWorks[0][0].workauthor || author}}/titlar/{{groupedWorks[0][0].titlepath.split('/')[0]}}/{{groupedWorks[0][0].mediatype}}" >::: {{groupedWorks[0][0].showtitle}}</a>
        </li>
    </ul>
    <ul class="subnav" role="navigation">
        <li><a ng-href="#!/forfattare/{{author}}" ng-if="authorInfo.intro">::: Introduktion</a></li>
        <li ng-if="authorInfo.presentation"><a ng-href="#!/forfattare/{{author}}/presentation">::: Presentation</a></li>
        <li ng-if="authorInfo.bibliografi"><a ng-href="#!/forfattare/{{author}}/bibliografi">::: Bibliografi</a></li>
        <li ng-if="authorInfo.semer"><a ng-href="#!/forfattare/{{author}}/semer">::: Se mer</a></li>
        <li ng-repeat="ref in authorInfo.externalref">
            <a ng-href="#!/{{ref.url}}">::: {{ref.label}}</a>
        </li>
    </ul>
</div>