<meta-desc>Litteraturbankens kontaktforumlär och utskicksanmälan.</meta-desc>
<div ng-controller="contactFormCtrl" class="page-contactForm">
    
    <div ng-hide="showContact || showNewsletter || showError">
        <div class="header">Vill du skicka ett meddelande till oss? Då kan du använda formuläret här nedan.</div>
        <form ng-submit="submitContactForm()" name="form" class="contactform" novalidate>
            <div class="form_head">
                <div>
                    <label for="nameInput">Namn</label>
                    <input id="nameInput" type="text" ng-model="name" autofocus>
                </div>
                <div>
                    <label for="emailInput">Epost</label>
                    <input name="uEmail" id="emailInput" type="email" ng-model="email" required>
                    <span class="error_msg">Skiv din epostadress</span>
                </div>
            </div>
            <div class="msg_box">
                <textarea ng-model="message" required></textarea>
                <div class="error_msg">Meddelandet är tomt.</div>
                <div class="submit_container">
                    <button class="btn submit pull-right" ng-disabled="form.$pristine || (form.$dirty && form.$invalid)">Skicka</button>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </form>
        <div class="lowersection">
            <p>
                Vill du få Litteraturbankens utskick? Skriv in din epostadress här.
            </p>
            <form name="subscribeform" class="subscribeform" ng-submit="subscribe()" novalidate>
                <label for="newsletterEmail">Epost</label> <input id="newsletterEmail" ng-model="newsletterEmail" required type="email"> 
                <button class="btn submit" ng-disabled="subscribeform.$pristine || (subscribeform.$dirty && subscribeform.$invalid)">Skicka</button>
            </form>
        </div>
    </div>
    <div ng-show="showContact">Tack för ditt meddelande, vi svarar så fort vi kan.</div>
    <div ng-show="showNewsletter">Tack för din anmälan.</div>
    <div ng-show="showError">Ett fel uppstod. Vänligen försök igen senare.</div>
</div>