Vill du skicka ett meddelande till oss? Då kan du använda formuläret här nedan.
<div>
    <div>
        <label for="nameInput">Namn</label>
        <label for="emailInput">Epostadress</label>
    </div>
    <div>
        <div>
            <input id="nameInput" type="text">
        </div>
        <div>
            <input id="emailInput" type="text">
        </div>
    </div>
</div>
<div>
    <div>
        <textarea></textarea>

    </div><img src="bilder/LBsubmitknapp.jpeg">
    <div style="clear:both;"></div>
</div>
<div></div>
<div>
    <p>
        Vill du få Litteraturbankens utskick? Skriv in din epostadress här.
    </p>
    <div>
        <span>Epostadress</span> <input type="text"> <img src="bilder/LBsubmitknapp.jpeg">
    </div>
    <div></div>
</div>
