<!-- <meta-desc>Dramawebben</meta-desc>
<page-title>Dramawebben</page-title> -->


<div class="cover" ng-class="{show: !isStartPage}"></div>

<div ng-class="{subpage : !isStartPage, startpage : isStartPage}">
    <div class="logo">
        <h1><a href="/dramawebben"><img src="../img/dramawebben_vit.svg" alt="Dramawebben"></a></h1>
        <h2>Fri svensk dramatik <br>hos Litteraturbanken</h2>
    </div>
    
    <div>
        <ul class="links">
            <!-- <li ng-class="{active: showpage == 'start'}"><a href="/dramawebben">Hem</a></li> -->
            <li ng-class="{active: showpage == 'pjäser'}"><a href="/dramawebben/pjäser">Pjäser</a></li>
            <!-- <li ng-class="{active: showpage == 'kronologi'}"><a href="">Kronologi</a></li> -->
            <li ng-class="{active: showpage == 'kringtexter'}"><a href="/dramawebben/kringtexter">Mer läsning</a></li>
            <li ng-class="{active: showpage == 'sok'}"><a href="/sok?avancerad&keyword=provenance.library:Dramawebben">Sök <span ng-if="isStartPage">i dramawebben</span></a></li>

            <li><a href="/dramawebben/om">Om <span ng-if="isStartPage">dramawebben</span></a></li>
            <li ng-class=""><a href="/start">Litteraturbanken</a></li>
            <!-- <li><a href="">Litteraturbanken</a></li> -->

        </ul>
        
    
        <div class="page_content" ng-switch="showpage">
            
            <div ng-switch-when="pjäser">

                <div>
                    <div class="btn-group">
                        <label class="sc btn btn-primary" 
                            ng-model="listType" btn-radio="'pjäser'" ng-click="onRadioClick('pjäser')">Pjäser</label>
                        <label class="sc btn btn-primary" 
                            ng-model="listType" btn-radio="'författare'" ng-click="onRadioClick('författare')">Författare</label>
                    </div>

                    <div class="auth_select_container" ng-show="listType == 'pjäser'">
                        <select class="filter_select author_select" ui-select2="authorSelectSetup" ng-model="filters.author" data-placeholder="Författare" 
                        ng-change="onAuthorChange()">
                            <option value="">Välj författare</option>
                            <option value="all">Alla författare</option>
                            <option value="{{author.author_id}}" ng-repeat="author in authorData | orderBy:'name_for_index'">
                                <span class="lastname">{{author.surname}}</span>
                            </option>
                        </select> 
                    </div>
                    <div class="auth_select_container">
                        <select  class="gender_select" 
                                 ui-select2="{minimumResultsForSearch: -1}" 
                                 ng-model="filters.gender" 
                                 data-placeholder="Välj kön"
                                 ng-change="onGenderChange()">
                            <option value=""></option>
                            <option value="all">Alla författare</option>
                            <option value="female">Kvinnliga författare</option>    
                            <option value="male">Manliga författare</option>
                            </option>
                        </select> 
                    </div>
                    
                    <div class="auth_select_container">
                        <!-- <select  class="general_filters " ui-select2="{minimumResultsForSearch: -1, dropdownCssClass: 'genderdropdown'}" data-placeholder="Akter / roller" >
                            <option value=""></option>
                            <option><input type="checkbox"> Hej</option>    
                            <option>Endast manliga författare</option>
                            </option>
                        </select>  -->


                        <div ng-show="listType == 'pjäser'" class="btn-group" dropdown auto-close="outsideClick" on-toggle="onDropdownToggle(open)">
                            <button type="button" class="btn btn-primary filter_btn" dropdown-toggle >
                                Akter och roller <span class="caret"></span>
                            </button>

                            <ul ng-if="rows.length" class="dropdown-menu "  role="menu" aria-labelledby="single-button" ng-click="$event.stopPropagation()">
                                <li role="menuitem" ng-class="{dirty: filterDirty['number_of_acts']}">
                                    <span class="label">Antal akter</span>
                                    <div class="number_input">
                                        <rzslider step="1" rz-slider-model="filters.number_of_acts[0]" rz-slider-high="filters.number_of_acts[1]" rz-slider-options="sliderConf['number_of_acts']" ></rzslider>
                                    </div>
                                </li>
                                <li role="menuitem" ng-class="{dirty: filterDirty['number_of_roles']}">
                                    <span class="label">Antal roller</span>
                                    <div class="number_input">
                                        <rzslider step="1" rz-slider-model="filters.number_of_roles[0]" rz-slider-high="filters.number_of_roles[1]" rz-slider-options="sliderConf['number_of_roles']" ></rzslider>
                                    </div>
                                </li>
                                <li role="menuitem" ng-class="{dirty: filterDirty['number_of_pages']}">
                                    <span class="label">Antal sidor</span>
                                    <div class="number_input">
                                        <rzslider step="1" rz-slider-model="filters.number_of_pages[0]" rz-slider-high="filters.number_of_pages[1]" rz-slider-options="sliderConf['number_of_pages']" ></rzslider>
                                    </div>
                                </li>
                                <li role="menuitem" ng-class="{dirty: filterDirty['female_roles']}">
                                    <span class="label">Antal kvinnliga roller</span>
                                    <div class="number_input">
                                        <rzslider step="1" rz-slider-model="filters.female_roles[0]" rz-slider-high="filters.female_roles[1]" rz-slider-options="sliderConf['female_roles']" ></rzslider>
                                    </div>
                                </li>
                                <li role="menuitem" ng-class="{dirty: filterDirty['male_roles']}">
                                    <span class="label">Antal manliga roller</span>
                                    <div class="number_input">
                                        <rzslider step="1" rz-slider-model="filters.male_roles[0]" rz-slider-high="filters.male_roles[1]" rz-slider-options="sliderConf['male_roles']" ></rzslider>
                                    </div>
                                </li>
                                <li role="menuitem" ng-class="{dirty: filterDirty['other_roles']}">
                                    <span class="label">Antal övriga roller</span>
                                    <div class="number_input">
                                        <rzslider step="1" rz-slider-model="filters.other_roles[0]" rz-slider-high="filters.other_roles[1]" rz-slider-options="sliderConf['other_roles']" ></rzslider>
                                    </div>
                                </li>
                                <!-- <li role="menuitem">
                                    <span class="label">Tryckår</span>
                                    <div class="number_input">
                                        <input type="range">
                                        <input type="text" ng-model="filters.">
                                        <input type="text" ng-model="filters.">
                                    </div>
                                </li> -->
                                <li role="menuitem">
                                    <span class="label">Barnpjäs</span> 
                                        <div class="fa check" 
                                            ng-class="{'fa-check': filters.isChildrensPlay}" 
                                            style="cursor: pointer"
                                            ng-click="filters.isChildrensPlay = !filters.isChildrensPlay"></div> 
                                </li>
                            </ul>
                        </div>

                    </div>
                    
                    <input class="filter" ng-model="filters.filterTxt" autofocus placeholder="Filtrera"
                    ng-model-options='{debounce : {default : 200, blur : 0}, updateOn: "default blur"}' >
                </div>
                <table ng-if="listType == 'pjäser'" class="contenttable">
                    <tr ng-repeat="row in getFilteredRows()" >
                        <td class="author"><a ng-href="/forfattare/{{::row.authors[0].author_id}}?dw" ng-bind-html="::getAuthor(row.authors[0]) | trust" ></a>
                        </td>
                        <td class="title"><a href="/forfattare/{{::row.authors[0].author_id}}/titlar/{{row.title_id}}/{{row.mediatype}}?om-boken&dw">{{row.shorttitle ||  row.title}}</a></td>

                        <td>
                            <ul class="mediatypes">
                                <li ng-repeat="mediatype in row.mediatypes">
                                    <a class="sc" ng-href="{{mediatype.url + '?dw'}}">{{mediatype.label}}</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <table ng-if="listType == 'författare'" class="contenttable authors">
                    <tr ng-repeat="author in authorData">
                        <td class="author"><a ng-href="/forfattare/{{::author.author_id}}?dw" ng-bind-html="::getAuthor(author) | trust" ></a>
                        </td>
                        <td class="">{{author | authorYear}}</td>
                    </tr>
                </table>


            </div>
            <div ng-switch-when="om">

                <div ng-include="'/red/dramawebben/om.html'"></div>

            </div>
            <div ng-switch-when="kringtexter">
                <div ng-include="'/red/dramawebben/kringtexter/kringtexter.html'"></div>

            </div>

            <div ng-switch-when="sok">
                
                <div ng-controller="searchCtrl" ng-include="'views/search.html'"></div>



            </div>
        </div>

    <script type="text/ng-template" id="sourceInfoModal.html">
        <div class="about-modal modal-body">
            <button class="close_btn submit btn pull-right" ng-click="$close()">Stäng</button>
            <ng-include src="sourceInfo"></ng-include>
        </div>
         
    </script>
    
    
    </div>
</div>