<!-- <meta-desc>Dramawebben</meta-desc>
<page-title>Dramawebben</page-title> -->


<div class="cover" ng-class="{show: !isStartPage}"></div>

<div ng-class="{subpage : !isStartPage, startpage : isStartPage}">
    <div class="logo">
        <h1><a href="/dramawebben"><img src="/img/dramawebben_vit.svg" alt="Dramawebben"></a></h1>
        <h2>Fri svensk dramatik <br>hos Litteraturbanken</h2>
    </div>
    
    <div>
        <ul class="links">
            <!-- <li ng-class="{active: showpage == 'start'}"><a href="/dramawebben">Hem</a></li> -->
            <li ng-class="{active: showpage == 'pjäser'}"><a href="/dramawebben/pjäser">Pjäser</a></li>
            <li ng-class="{active: showpage == 'kronologi'}"><a href="">Kronologi</a></li>
            <li ng-class="{active: showpage == 'kringtexter'}"><a href="/dramawebben/kringtexter">Kringtexter</a></li>
            <li ng-class="{active: showpage == 'sok'}"><a href="/dramawebben/sok">Sök <span ng-if="isStartPage">i dramawebben</span></a></li>

            <li><a href="/dramawebben/om">Om <span ng-if="isStartPage">dramawebben</span></a></li>
            <li ng-class=""><a href="/start">Litteraturbanken</a></li>
            <!-- <li><a href="">Litteraturbanken</a></li> -->

        </ul>
        
    
        <div class="page_content" ng-switch="showpage">
            
            <div ng-switch-when="pjäser">

                <div>
                    <div class="btn-group">
                        <label class="sc btn btn-primary" 
                            ng-model="listType" btn-radio="'pjäser'" ng-click="onRadioClick('pjäser')">Pjäser</label>
                        <label class="sc btn btn-primary" 
                            ng-model="listType" btn-radio="'författare'" ng-click="onRadioClick('författare')">Författare</label>
                    </div>

                    <div class="auth_select_container">
                        <select  class="filter_select author_select" ui-select2="authorSelectSetup" ng-model="authorFilter" data-placeholder="Författare" >
                            <option>Välj författare</option>
                            <option value="{{author.author_id}}" ng-repeat="author in authorData | orderBy:'name_for_index'">

                                <span class="lastname">{{author.surname}}</span>
                            </option>
                        </select> 
                    </div>
                    <div class="auth_select_container">
                        <select  class="gender_select " ui-select2="{minimumResultsForSearch: -1, dropdownCssClass: 'genderdropdown'}" ng-model="gender" data-placeholder="Välj kön" >
                            <option value=""></option>
                            <option>Endast kvinnliga författare</option>    
                            <option>Endast manliga författare</option>
                            </option>
                        </select> 
                    </div>
                    
                    <div class="auth_select_container">
                        <!-- <select  class="general_filters " ui-select2="{minimumResultsForSearch: -1, dropdownCssClass: 'genderdropdown'}" data-placeholder="Akter / roller" >
                            <option value=""></option>
                            <option><input type="checkbox"> Hej</option>    
                            <option>Endast manliga författare</option>
                            </option>
                        </select>  -->


                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-primary filter_btn" dropdown-toggle >
                                Akter och roller <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu " role="menu" aria-labelledby="single-button" ng-click="$event.stopPropagation()">
                                <li role="menuitem">
                                    <span class="label">Antal akter</span>
                                    <div class="number_input">
                                        <input type="text"> —
                                        <input type="text">
                                    </div>
                                </li>
                                <li role="menuitem">
                                    <span class="label">Antal roller</span>
                                    <div class="number_input">
                                        <input type="text"> —
                                        <input type="text">
                                    </div>
                                </li>
                                <li role="menuitem">
                                    <span class="label">Antal kvinnliga roller</span>
                                    <div class="number_input">
                                        <input type="text"> —
                                        <input type="text">
                                    </div>
                                </li>
                                <li role="menuitem">
                                    <span class="label">Antal manliga roller</span>
                                    <div class="number_input">
                                        <input type="text"> —
                                        <input type="text">
                                    </div>
                                </li>
                                <li role="menuitem">
                                    <span class="label">Antal övriga roller</span>
                                    <div class="number_input">
                                        <input type="text"> —
                                        <input type="text">
                                    </div>
                                </li>
                                <li role="menuitem">
                                    <span class="label">Tryckår</span>
                                    <div class="number_input">
                                        <input type="text"> —
                                        <input type="text">
                                    </div>
                                </li>
                                <li role="menuitem">
                                    <span class="label">Barnpjäs</span> <div class="fa check" ng-class="{'fa-check': filters.isChildrensPlay}" ng-click="filters.isChildrensPlay = !filters.isChildrensPlay"></div> 
                                </li>
                            </ul>
                        </div>

                    </div>
                
                    <input class="filter" ng-model="filterTxt" autofocus placeholder="Filtrera">
                </div>
                <table ng-if="listType == 'pjäser'" class="contenttable">
                    <tr ng-repeat="row in rows | orderBy: 'authors[0].name_for_index'">
                        <td class="author"><a ng-href="/forfattare/{{::row.authors[0].author_id}}" ng-bind-html="::getAuthor(row.authors[0]) | trust" ></a>
                        </td>
                        <td class="">{{row.shorttitle ||  row.title}}</td>
                    </tr>
                </table>
                <table ng-if="listType == 'författare'" class="contenttable">
                    <tr ng-repeat="author in authorList.slice(0, 100)">
                        <td class="author"><a ng-href="/forfattare/{{::author.author_id}}" ng-bind-html="::getAuthor(author) | trust" ></a>
                        </td>
                        <td class="">{{author | authorYear}}</td>
                    </tr>
                </table>


            </div>
            <div ng-switch-when="om">

                <div ng-include="'/red/dramawebben/om.html'"></div>

            </div>
            <div ng-switch-when="kringtexter">
                <div ng-include="'/red/dramawebben/kringtexter/kringtexter.html'"></div>

            </div>

            <div ng-switch-when="sok">
                
                <div ng-controller="searchCtrl" ng-include="'views/search.html'"></div>



            </div>
        </div>


    
    
    </div>
</div>