<!-- <meta-desc>Dramawebben</meta-desc>
<page-title>Dramawebben</page-title> -->


<div class="cover" ng-class="{show: !isStartPage}"></div>

<div ng-class="{subpage : !isStartPage, startpage : isStartPage}">
    <div class="logo">
        <h1><a href="/dramawebben"><img src="/img/dramawebben_vit.svg" alt="Dramawebben"></a></h1>
        <h2>Fri svensk dramatik <br>hos Litteraturbanken</h2>
    </div>
    
    <div>
        <ul class="links">
            <!-- <li ng-class="{active: showpage == 'start'}"><a href="/dramawebben">Hem</a></li> -->
            <li ng-class="{active: showpage == 'pjäser'}"><a href="/dramawebben/pjäser">Pjäser</a></li>
            <li ng-class="{active: showpage == 'kronologi'}"><a href="">Kronologi</a></li>
            <li ng-class="{active: showpage == 'kringtexter'}"><a href="/dramawebben/kringtexter">Kringtexter</a></li>
            <li ng-class="{active: showpage == 'sök'}"><a href="">Sök <span ng-if="isStartPage">i dramawebben</span></a></li>

            <li><a href="">Om <span ng-if="isStartPage">dramawebben</span></a></li>
            <li ng-class=""><a href="/start">Litteraturbanken</a></li>
            <!-- <li><a href="">Litteraturbanken</a></li> -->

        </ul>
        
    
        <div class="page_content" ng-switch="showpage">
            
            <div ng-switch-when="pjäser">

                <div>
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="listType" btn-radio="'plays'">Pjäser</label>
                        <label class="btn btn-primary" ng-model="listType" btn-radio="'authors'">Författare</label>
                    </div>

                    <div class="auth_select_container">
                        <select  class="filter_select author_select" ui-select2="authorSelectSetup" ng-model="authorFilter" data-placeholder="Författare" >
                            <option>Välj författare</option>
                            <option value="{{author.author_id}}" ng-repeat="author in authorData | orderBy:'name_for_index'">

                                <span class="lastname">{{author.surname}}</span>
                            </option>
                        </select> 
                    </div>
                    <div class="auth_select_container">
                        <select  class="gender_select " ui-select2="{minimumResultsForSearch: -1, dropdownCssClass: 'genderdropdown'}" ng-model="gender" data-placeholder="Välj kön" >
                            <option value=""></option>
                            <option>Endast kvinnliga författare</option>    
                            <option>Endast manliga författare</option>
                            </option>
                        </select> 
                    </div>
                
                    <input class="filter" ng-model="filterTxt" autofocus placeholder="Filtrera">
                </div>
                <table class="contenttable">
                    <tr ng-repeat="row in rows | orderBy: 'authors[0].name_for_index'">
                        <td><a ng-href="/forfattare/{{::row.authors[0].author_id}}" >{{::getAuthor(row.authors[0])}}</a>
                        </td>
                        <td class="">{{row.shorttitle ||  row.title}}</td>
                    </tr>
                </table>

            </div>
        </div>

    
    
    </div>
</div>