<meta-desc>Litteraturbankens gratis tillgängliga verk i formatet epub.</meta-desc>
    
    <!-- <img bkg-img src="img/ljudlandskap.jpg"></img> -->

    <div ng-class="{searching : searching}"><!-- for some reason, this breaks if dedented -->
        <h1 class="preamble">Litteraturbankens epubfiler</h1>
            
        <p class="preamble">Det här är en lista över de titlar som Litteraturbanken erbjuder i formatet <em>epub</em> – ett filformat som passar för de flesta mobila läsare, t. ex. läsplattor och avancerade mobiltelefoner. Läs mer om epub på <a href="/om/hjalp?ankare=Epub">hjälpsidan</a>.</p>
        
        <div class="ctrls lg:flex">

            <!-- <ui-select ng-model="authorFilter" theme="select2" 
                       close-on-select="true" style="width: 300px;" title="Författare"
                       search-enabled="true" >
                <ui-select-match class="ui-select-match" placeholder="Författare">{{$item.surname}}</ui-select-match>
                <ui-select-choices repeat="author in authorData | filter:$select.search" position='down'>
                  <span class="lastname">{{author.surname}}</span>
                </ui-select-choices>
              </ui-select> -->

              <!-- <ui-select ng-model="ctrl.country.selected" theme="selectize" search-enabled="ctrl.searchEnabled" ng-disabled="ctrl.disabled" style="width: 300px;">
                  <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="country in ctrl.countries | filter: $select.search">
                    <span ng-bind-html="country.name | highlight: $select.search"></span>
                    <small ng-bind-html="country.code | highlight: $select.search"></small>
                  </ui-select-choices>
                </ui-select> -->

            <div class="auth_select_container mr-2 flex-grow">
                <select  class="filter_select author_select" ui-select2="authorSelectSetup" ng-model="authorFilter" data-placeholder="Författare" ng-change="onAuthChange(authorFilter)" >
                    <option value=""></option>
                    <option value="alla">Alla författare</option>
                    <option value="{{author.authorid}}" ng-repeat="author in authorData">
                        <span class="lastname">{{author.surname}}</span>
                    </option>
                </select> 
            </div>
            

            <div class="mr-2 flex-grow">
                <input class="filter"  
                    ng-model="filterTxt" autofocus 
                    ng-change="refreshData()"
                    ng-model-options='{debounce : {default : 200, blur : 0}, updateOn: "default blur"}' 
                    placeholder="Sök">
            </div>
            <div class="auth_select_container flex-grow">
                <select class="filter_select author_select" ui-select2="sortSelectSetup" ng-model="sort" data-placeholder="Sortering" ng-change="refreshData()" >
                    <option value=""></option>
                    <option value="epub_popularity|desc">Popularitet</option>
                    <option value="sortkey|asc">Titel</option>
                    <!-- <option value="authors.name_for_index|asc">Författare</option> -->
                </select> 
            </div>
        </div>
        <div class="table_container">
            <div class="preloader"> 
                <i class="spinner fa fa-spinner fa-pulse"></i>
            </div>
            <table class="contenttable" ng-if="rows.length">
                <thead>
                    <!-- <th> <div sort-triangles val="['authors[0].name_for_index', 'sortkey']" tuple="sorttuple"></div> </th>
                    <th> <div sort-triangles val="['sortkey', 'authors[0].name_for_index']" tuple="sorttuple"></div> </th> -->
                </thead>
                <tbody><tr ng-repeat="row in rows" class="tablerow hover:bg-gray-300" id="{{::row.authors[0].name_for_index.toUpperCase()}}">
                        <td>
                            <a ng-href="/författare/{{::row.authors[0].authorid}}" >{{::getAuthor(row)}}</a>
                        </td>
                        <td class="title">
                            <a ng-href="/författare/{{::row.authors[0].authorid}}/titlar/{{::row.work_titleid || row.titleid}}/etext/?om-boken" >{{::row.shorttitle || row.title}}</a>
                        </td>
                        <td ng-click="log(row)" ng-touch="log(row)">
                            <a ng-href="/txt/epub/{{getFilename(row)}}.epub" target="_self" download>Hämta</a>
                        </td>
                    </tr></tbody>
            </table>
            <div>
                <button class="btn btn-sm show_all" ng-show="!showAll && hits > 30" ng-click="(showAll = true) && refreshData()">
                    Visa alla {{hits}} titlar
                </button>
            </div>
            <!-- <div ng-show="rowLimit" class="rowlimit sc">Visar de första 30 träffarna</div> -->
        </div>
    </div>
    <!-- <div toolkit> </div> -->
