<meta-desc>Blädda bland Litteraturbankens författare och titlar.</meta-desc>
<h1>Botanisera i biblioteket</h1> <!-- samlingarna -->
<!--  <span class="star">*</span> <span class="smaller">ENKEL SÖKNING</span> -->
<img bkg-img src="img/sok_moln.jpg"></img>
<div ng-class="{searching:searching}">
    <div id="controls" ng-hide="searching">
        <form ng-submit="searchTitle()">
            <input class="filter_input" autofocus ng-model-options='{debounce : {default : 200, blur : 0}, updateOn: "default blur"}' type="text" ng-model="filter" placeholder="Skriv författarnamn eller titel och tryck enter">
            <button class="submit btn">Sök</button>

        </form>

        <div class="mediatype_opts">
            
            <ul>
                <li>
                    <span ng-show="mediatypeObj.etext" >✓</span>
                    <a ng-click="mediatypeObj.etext = !mediatypeObj.etext">Etext</a>
                </li>
                <li>
                    <span ng-show="mediatypeObj.faksimil" >✓</span>
                    <a ng-click="mediatypeObj.faksimil = !mediatypeObj.faksimil">Faksimil</a>
                </li>
                <li>
                    <span ng-show="mediatypeObj.epub" >✓</span>
                    <a ng-click="mediatypeObj.epub = !mediatypeObj.epub">Epub</a>
                </li>
                <li>
                    <span ng-show="mediatypeObj.pdf" >✓</span>
                    <a ng-click="mediatypeObj.pdf = !mediatypeObj.pdf">PDF</a>
                </li>
            </ul>
        </div>

    

    
        <div class="box_container">
            
            <div class="box author">

                <div class="scroll-area" list-scroll> <!-- scroll-to="selectedAuth.authorid" target="parent" offset="getCollapseOffset(collapse_index) + 16" collapsing="offset" index="collapse_index" -->
                    <ul class="list">
                        <li class="spinner_row" ng-show="authorSearching">
                            <i class="spinner fa fa-spinner fa-pulse"></i>
                            <!-- <span class="auth_spinner spinner" us-spinner="{lines : 8 ,radius:7, width:4.5, length: 5.5}"></span> -->
                        </li>
                        <li class="part_header top_header" ng-show="authorData.length">
                            Författare, utgivare etc.
                        </li>
                        <li ng-show="!authorSearching && !(authorData | filter:filterAuthor).length">
                            Inga träffar.
                        </li>
                        <li ng-repeat="author in authorData | filter:filterAuthor| orderBy:'nameforindex'" ng-click="authorClick($event, author)" on-finish-render="authorRender()" id="{{author.authorid}}" >
                            <div class="item_header" ng-click="authorHeaderClick($event, author)"><span class="surname">{{author.nameforindex.split(',')[0]}}</span><span ng-show="author.nameforindex.split(',').length > 1">,</span> {{author.nameforindex.split(",")[1]}} {{author | authorYear}}
                    
                                <i ng-show="author._infoSearching" class="item_preloader fa fa-spinner"></i>
                            </div>
                    
                            <div collapse="!author._collapsed" >
                                <div class="collapse-content">
                                    <div class="info show_all" ng-show="author.data.intro">
                                        <div ng-bind-html="author.data.intro | trust" ></div>
                                        <em>{{authorsById[normalizeAuthor(author.data['introAuthor'])].fullname}}</em> <!-- ng-click="author._show_all = true" -->
                                    </div>
                                    <ul class="links">
                                        <li><a href="/#!/forfattare/{{::selectedAuth.authorid}}">
                                            Gå till författarens sida
                                            </a></li>
                                        <li><a href="/#!/forfattare/{{::selectedAuth.authorid}}/titlar">
                                             Visa författarens verk</a>
                                        </li>
                                        <li ng-if="author.searchable == 'true'"><a href="/#!/sok?forfattare={{selectedAuth.authorid}}&avancerad">
                                             Sök i författarens verk</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        
                    
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="box title">
                <div class="scroll-area" list-scroll>
                    <ul id="table" class="list">
                        <li class="spinner_row" ng-show="titleSearching">
                            <i class="spinner fa fa-spinner fa-pulse"></i>
                        </li>    
                    
                        <li class="part_header top_header" ng-hide="titleSearching">
                            <a class="popular"
                                ng-show="showInitial"
                                ng-disabled="showPopular"
                                ng-click="showPopular = true">Populära verk</a> 
                                <a class="works" 
                                ng-show="showInitial" 
                                ng-disabled="!showPopular"  ng-click="showPopular = false">Samtliga verk</a>
                            <a class="fitlered" ng-show="!showInitial">Hela verk</a>
                            <a class="reset" ng-show="!showInitial" ng-click="resetView()">återställ</a>
                        </li>
                        <li ng-show="getTitles() && !(getTitles() | filter:filterTitle | filter:mediatypeFilter).length">
                            Inga träffar. 
                        </li>
                        
                        <li class="link" ng-repeat="row in getTitles() | orderBy:'itemAttrs.sortkey' | filter:mediatypeFilter | filter:filterTitle" on-finish-render="titleRender()"
                            top="$parent.title_off" ng-click="titleClick($event, row)"
                            id="{{getUniqId(row)}}">
                            <div class="header">
                                <span class="title" tooltip="{{row.itemAttrs.title != row.itemAttrs.shorttitle ? row.itemAttrs.title : ''}}" tooltip-popup-delay="500" >
                                    <a ng-click="titleHeaderClick($event, row)" >{{row.itemAttrs.shorttitle}} </a>
                                </span>
                                <span class="author"><a ng-href="/#!/forfattare/{{row.author[0].authorid}}">{{row.author[0].surname}}</a> <span ng-if="row.author[0].authortype == 'editor'">(red.)</span></a> <span ng-if="row.author[0].authortype == 'illustrator'">(ill.)</span></span> <!-- ng-click="authorClick($event, authorsById[row.author[0].authorid])" -->
                            </div>
                            <div collapse="!row._collapsed">
                                <div class="collapse-content">
                                    <ul class="links">
                    
                                        <li ng-show="hasMediatype(row, 'etext')"><a ng-href="{{getUrl(row, 'etext')}}">Läs som <span class="sc">ETEXT</span></a></li>
                                        <li ng-show="hasMediatype(row, 'faksimil')"><a ng-href="{{getUrl(row, 'faksimil')}}">Läs som <span class="sc">FAKSIMIL</span></a></li>
                                        <li ng-show="hasMediatype(row, 'epub')"><a ng-href="{{getUrl(row, 'epub')}}">Ladda ner <span class="sc">EPUB</span></a></li>
                                        <li ng-show="hasMediatype(row, 'pdf')"><a ng-href="{{getUrl(row, 'pdf')}}">Ladda ner <span class="sc">PDF</span></a></li>
                                        <li ng-show="::row.itemAttrs.searchable == 'true'"><a ng-href="/#!/sok?forfattare={{row.author[0].authorid}}&titlar={{row.itemAttrs.lbworkid}}&avancerad">Gör en sökning i verket</a></li>
                                        
                                        <li ng-show="hasMediatype(row, 'etext') || hasMediatype(row, 'faksimil')"><a ng-href="{{getUrl(row, row.mediatype[0]) + '/?om-boken'}}">Läs mer om verket</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        
                        <li class="part_header" ng-hide="titleSearching || showInitial">
                            Dikter, noveller, essäer, etc.
                        </li>
                        <li class="" ng-show="all_titles && !(all_titles  | filter:mediatypeFilter | filter: titleFilter).length">
                            Inga träffar.
                        </li>
                    
                        <li ng-repeat="row in all_titles | filter: titleFilter | filter:mediatypeFilter | orderBy:'itemAttrs.sortkey'" class="parts" ng-class="{first_part : $first}">
                    
                            <div class="header" tooltip="{{row.itemAttrs.title}}">
                                <span class="title">
                                    <a ng-href="/#!/forfattare/{{row.author[0].workauthor || row.author[0].authorid}}/titlar/{{row.itemAttrs.titlepath.split('/')[0]}}/sida/{{row.itemAttrs.startpagename}}/{{row.itemAttrs.mediatype}}">
                                    {{row.itemAttrs.shorttitle}}
                                    </a>
                                </span>
                                
                                <span class="author"><a ng-click="authorClick($event, authorsById[row.author[0].authorid])">{{row.author[0].surname}}</a> <span ng-if="row.author[0].authortype == 'editor'">(red.)</span></a> <span ng-if="row.author[0].authortype == 'illustrator'">(ill.)</span></span>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>

        </div>
        
    </div>

</div>

