<meta-desc>Blädda bland Litteraturbankens författare och titlar.</meta-desc>
<h1>Botanisera i biblioteket</h1> <!-- samlingarna -->
<!--  <span class="star">*</span> <span class="smaller">ENKEL SÖKNING</span> -->
<!-- <img bkg-img src="img/sok_moln.jpg"></img> -->
<div ng-class="{searching:searching}">
    <div id="controls" ng-hide="searching">
        <form ng-submit="searchTitle()">
            <input class="filter_input" autofocus ng-model-options='{debounce : {default : 200, blur : 0}, updateOn: "default blur"}' type="text" ng-model="filter" placeholder="Skriv författarnamn eller titel och tryck enter">
            <button class="submit btn">Sök</button>

        </form>

        <div class="mediatype_opts">
            
            <ul>
                <li>
                    <span ng-show="mediatypeObj.etext" >✓</span>
                    <a ng-click="mediatypeObj.etext = !mediatypeObj.etext">Etext</a>
                </li>
                <li>
                    <span ng-show="mediatypeObj.faksimil" >✓</span>
                    <a ng-click="mediatypeObj.faksimil = !mediatypeObj.faksimil">Faksimil</a>
                </li>
                <li>
                    <span ng-show="mediatypeObj.epub" >✓</span>
                    <a ng-click="mediatypeObj.epub = !mediatypeObj.epub">Epub</a>
                </li>
                <li>
                    <span ng-show="mediatypeObj.pdf" >✓</span>
                    <a ng-click="mediatypeObj.pdf = !mediatypeObj.pdf">PDF</a>
                </li>
            </ul>
        </div>

    

    
        <div class="box_container">
            
            <div class="box author">

                <div class="scroll-area" list-scroll> <!-- scroll-to="selectedAuth.author_id" target="parent" offset="getCollapseOffset(collapse_index) + 16" collapsing="offset" index="collapse_index" -->
                    <ul class="list">
                        <li class="spinner_row" ng-show="authorSearching">
                            <i class="spinner fa fa-spinner fa-pulse"></i>
                            <!-- <span class="auth_spinner spinner" us-spinner="{lines : 8 ,radius:7, width:4.5, length: 5.5}"></span> -->
                        </li>
                        <li class="part_header top_header" ng-show="authorData.length">
                            
                            <a class="popular"
                                ng-show="showInitial"
                                ng-disabled="showPopularAuth"
                                ng-click="showPopularAuth = true">Populära författare</a> 
                            <a class="works" 
                                ng-show="showInitial" 
                                ng-disabled="!showPopularAuth"  ng-click="showPopularAuth = false">Alla Författare</a>

                            <a class="filtered" ng-show="!showInitial">Författare</a>
                            <a class="reset" ng-show="!showInitial" ng-click="resetView()">återställ</a>
                        </li>
                        <li ng-show="!authorSearching && !(getAuthorData() | filter:filterAuthor).length">
                            Inga träffar.
                        </li>

                        <li ng-repeat="author in getAuthorData() | filter:filterAuthor | limitTo: rowLimit track by author.author_id"
                            ng-click="authorClick($event, author)" 
                            on-finish-render="authorRender()" 
                            id="{{author.author_id}}">
                            <div class="item_header" ng-click="authorHeaderClick($event, author)"><span class="surname">{{author.name_for_index.split(',')[0]}}</span><span ng-show="author.name_for_index.split(',').length > 1">,</span> {{author.name_for_index.split(",")[1]}} {{author | authorYear}}
                                <i ng-show="author._infoSearching" class="item_preloader fa fa-spinner"></i>
                            </div>
                    
                            <div collapse="!author._collapsed" >
                                <div class="collapse-content">
                                    <div class="info show_all" ng-show="author.data.intro">
                                        <div ng-bind-html="author.data.intro | trust" ></div>
                                        <em>{{authorsById[normalizeAuthor(author.data['introAuthor'])].full_name}}</em> <!-- ng-click="author._show_all = true" -->
                                    </div>
                                    <ul class="links">
                                        <li><a href="/#!/forfattare/{{::author.author_id}}">
                                            Gå till författarens sida
                                            </a></li>
                                        <li><a href="/#!/forfattare/{{::author.author_id}}/titlar">
                                             Visa författarens verk</a>
                                        </li>
                                        <li ng-if="author.searchable"><a href="/#!/sok?forfattare={{author.author_id}}&avancerad">
                                             Sök i författarens verk</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        
                    
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="box title">
                <div class="scroll-area" list-scroll>
                    <ul id="table" class="list">
                        <li class="spinner_row" ng-show="titleSearching">
                            <i class="spinner fa fa-spinner fa-pulse"></i>
                        </li>    

                        <!-- audio -->
                        <li class="part_header audio" ng-hide="showInitial || !audio_list.length">
                            Ur ljudarkivet
                        </li>
                        
                        <li ng-repeat="row in audio_list" class="parts" ng-class="{first_audio : $first, last_audio : $last}">
                        
                            <div class="header" tooltip="{{row.title}}">
                                <span class="title">
                                    <a ng-href="/#!/ljudarkivet?spela={{row.file}}">
                                    {{row.shorttitle}}
                                    </a>
                                </span>
                                
                                <span class="author"><a ng-click="authorClick($event, authorsById[row.authors[0].author_id])">{{getPartAuthor(row).surname}}</a> <span ng-if="getPartAuthor(row).authortype == 'editor'">(red.)</span></a> <span ng-if="getPartAuthor(row).authortype == 'illustrator'">(ill.)</span></span>
                            </div>
                        </li>
                    
                        <li class="part_header top_header" ng-hide="titleSearching">
                            <a class="popular"
                                ng-show="showInitial"
                                ng-disabled="showPopular"
                                ng-click="popClick()">Populära verk</a> 
                            <a class="recent"
                                ng-show="showInitial"
                                ng-disabled="showRecent"
                                ng-click="fetchRecent()">Nytillkomna verk</a> 
                            <a class="works" 
                                ng-show="showInitial" 
                                ng-disabled="!(showPopular || showRecent)"  ng-click="showAllWorks()">Samtliga verk</a>
                            <a class="filtered" ng-show="!showInitial">Hela verk</a>
                            <a class="reset" ng-show="!showInitial" ng-click="resetView()">återställ</a>
                        </li>

                        <li ng-show="listVisibleTitles() && !(listVisibleTitles() | filter:mediatypeFilter).length">
                            Inga träffar. 
                        </li>
                        <!-- orderBy | 'sortkey' -->
                        <li class="link" 
                            ng-repeat="row in listVisibleTitles() | filter:mediatypeFilter | limitTo: rowLimit" 
                            on-finish-render="titleRender()"
                            ng-class="{'first' : $first}"
                            >
                            <h3 ng-if="row.isHeader">{{row.label}}</h3>
                            <div ng-if="!row.isHeader" 
                                 top="$parent.title_off" 
                                 ng-click="titleClick($event, row)"
                                 id="{{getUniqId(row)}}">
                                <div class="header">
                                    <span class="title" tooltip="{{row.title != row.shorttitle ? row.title : ''}}" tooltip-popup-delay="500" >
                                        <a ng-click="titleHeaderClick($event, row)" >{{row.shorttitle}} </a>
                                    </span>
                                    <span class="author"><a ng-href="/#!/forfattare/{{row.authors[0].author_id}}">{{row.authors[0].surname}}</a> <span ng-if="row.authors[0].authortype == 'editor'">(red.)</span></a> <span ng-if="row.authors[0].authortype == 'illustrator'">(ill.)</span></span> <!-- ng-click="authorClick($event, authorsById[row.author[0].author_id])" -->
                                </div>
                                <div collapse="!row._collapsed">
                                    <div class="collapse-content">
                                        <ul class="links">
                                            <li ng-repeat="mediatype in row.mediatypes">
                                                <a ng-href="{{mediatype.url}}">Läs som {{mediatype.label}}</a>
                                            </li>
                                            
                                            <li ng-show="::row.searchable">
                                                <a ng-href="/#!/sok?forfattare={{row.authors[0].author_id}}&titlar={{row.lbworkid}}&avancerad">Gör en sökning i verket</a>
                                            </li>
                                            
                                            <li ng-show="hasMediatype(row, 'etext') || hasMediatype(row, 'faksimil')">
                                                <a ng-href="{{row.mediatypes[0].url + '/?om-boken'}}">Läs mer om verket</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </li>
                        
                        <li class="part_header" ng-hide="titleSearching || showInitial">
                            Dikter, noveller, essäer, etc.
                        </li>
                        <li class="" ng-show="all_titles && !(all_titles  | filter:mediatypeFilter).length">
                            Inga träffar.
                        </li>
                    
                        <li ng-repeat="row in all_titles | filter:mediatypeFilter | orderBy:'sortkey'" class="parts" ng-class="{first_part : $first}">
                    
                            <div class="header" tooltip="{{row.title}}">
                                <span class="title">
                                    <a ng-href="/#!/forfattare/{{row.work_authors[0].author_id}}/titlar/{{row.work_title_id}}/sida/{{row.startpagename}}/{{row.mediatype}}">
                                    {{row.shorttitle}}
                                    </a>
                                </span>
                                
                                <span class="author"><a ng-click="authorClick($event, authorsById[row.authors[0].author_id])">{{getPartAuthor(row).surname}}</a> <span ng-if="getPartAuthor(row).authortype == 'editor'">(red.)</span></a> <span ng-if="getPartAuthor(row).authortype == 'illustrator'">(ill.)</span></span>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>

        </div>
        
    </div>

</div>

