<meta-desc>Blädda bland Litteraturbankens författare och titlar.</meta-desc>
<h1 class="text-4xl ">Botanisera i biblioteket</h1> <!-- samlingarna -->
<!--  <span class="star">*</span> <span class="smaller">ENKEL SÖKNING</span> -->
<img bkg-img src="../img/library.jpg"></img>
<div ng-class="{searching:searching, dl_mode : dl_mode}">
    <div id="controls">
        <form class="sm:p-5 p-2 sm:border border-gray-900" ng-submit="refreshData()">
            
            <div class="">
                <div class="main_input flex flex-wrap -mt-4">
                    <input class="filter_input mt-4 mr-4 flex-grow" autofocus focusable
                        ng-model-options='{debounce : {default : 300, blur : 0}, updateOn: "default blur"}' 
                        type="text" 
                        ng-change="refreshData()" ng-model="filter" 
                        placeholder="Skriv författarnamn eller titel">
                    <button class="submit btn mt-4 mr-2">Sök</button>
                    <button class="reset mt-4 uppercase border border-gray-900 text-sm text-gray-900 px-4 py-2 hover:bg-white ng-fade transition duration-200 focus:outline-none" ng-click="resetView()" ng-show="!isPristine()">
                        Återställ
                    </button>
                </div>
                <div class="title_select_container">
                    <select  class="gender_select" 
                             ui-select2="genderSelectSetup" 
                             ng-change="refreshData()" ng-model="filters['gender']" 
                             >
                        <option value="">Alla författare</option>
                        <option value="female">Kvinnliga författare</option>    
                        <option value="male">Manliga författare</option>
                    </select>
                </div>
                <div class="title_select_container">
                    <keyword-select label="Välj samling" 
                                    model="filters.keywords" 
                                    on-change="filters.keywords = keywords; refreshData()"></keyword-select>
                </div>
                <div class="title_select_container about_container">
                    <select multiple class="filter_select about_select"
                            ui-select2 
                            ng-change="refreshData()" ng-model="filters['authorkeyword>authorid']" 
                            data-placeholder="Om ett författarskap" 
                            ng-change="onAboutAuthorChange($event)">

                        <option value=""></option>
                        <option value='{{authorid}}' ng-repeat="authorid in aboutAuthors">{{authorsById[authorid].full_name}}</option>
                    </select>
                </div>

                <!-- <div class="row auth_select_container">
                    <select class="filter_select author_select" ui-select2="sortSelectSetup" ng-model="sort" data-placeholder="Sortering" ng-change="" >
                        <option value=""></option>
                        <option value="popularity|desc">Popularitet</option>
                        <option value="sortkey|asc">Titel</option>
                    </select> 
                </div> -->
                
                <div class="more mt-2" ng-show="!show_more" ng-class="{show_more : show_more}"><a ng-click="show_more = !show_more" ><i class="align-middle fa fa-plus-square-o mr-1"></i> Visa fler inställningar </a></div>
                <div class="more mt-2" ng-show="show_more" ng-class="{show_more : show_more}"><a ng-click="show_more = !show_more" ><i class="align-middle fa fa-minus-square-o mr-1"></i> Visa färre inställningar </a></div>
                <div class="more_container mt-2 mb-2" ng-class="{show_more : show_more}" ng-show="show_more">


                    <div class="">
                        <div class="text-sm mb-4 max-w-sm">
                        <!-- Endast verk sorterat i samlingen  -->
                        Får du för många träffar? Välj ytterligare samlingar
                        (en eller flera) i menyn <span class="sc">AVGRÄNSA SÖKNINGEN</span> här nedanför. 
                        Ju fler samlingar du väljer, desto färre sökträffar får du. 


                        
                            <!-- <div ng-show="filters.keywords.length || filters_aux.length">
                                <div ng-show="filters.keywords.length">
                                     <span ng-if="filters.keywords.length > 2">Val som ökar sökavgränsningens storlek: </span> <span ng-repeat="kw in filters.keywords"><span ng-if="$last"> och </span>{{kw.split(":")[1]}}<span ng-if="$index < filters.keywords.length - 2">, </span></span>.
                                </div>
                                <div ng-show="keywords_aux.length">Val som snävar in: <span ng-repeat="kw in keywords_aux"> <span ng-if="$last && keywords_aux.length > 1">och</span> {{kw.split(":")[1]}} </span>  </div>
                            </div> -->

                        </div>

                            <keyword-select class="block" label="Avgränsa sökningen" model="keywords_aux" on-change="keywords_aux = keywords; refreshData()"></keyword-select>
                    </div>
                    
                    
                    <!-- <div class="flex items-center space-x-4 my-4">
                        <input type="checkbox"> <span class="inline-block w-64 text-sm">Kombinera valen av samlingar med 
                            logiskt OCH iställer för ELLER. Du får färre träffar, som då ingår i alla valda samlingar. </span>
                        
                    </div> -->
                    
                    <div class="title_select_container">
                        <select multiple class="filter_select keyword_select" ui-select2 ng-change="refreshData()" ng-model="filters.mediatypes" data-placeholder="Utgivningsformat" >
                            <option value=""></option>
                            <option value="mediatype:etext" title="Etext är korrektuläst text som du kan läsa den direkt på skärmen; den är sökbar." >Etext</option>
                            <option value="mediatype:faksimil" title="Faksimil är fotografier av bokens sidor; den är ibland sökbar.">Faksimil</option>
                            <option value="has_epub:true" title="Epub kan du med fördel ladda ner till din mobila läsare; den är sökbar.">Epub</option>
                            <option value="mediatype:pdf" title="PDF är en fil som du kan ladda ner; den är sökbar.">PDF</option>
                        </select>
                    </div>
                    <div class="title_select_container">
                        <select multiple class="filter_select keyword_select" ui-select2 ng-change="refreshData()" ng-model="filters.languages" data-placeholder="Språk …">
                            <option value=""></option>
                            <option value="modernized:true">Moderniserat språk</option>
                            <option value="modernized:false">Ej moderniserat språk</option>
                            <option value="proofread:true">Korrekturläst</option>
                            <option value="proofread:false">Ej korrekturläst</option>
                            <option value="language:swe">Svenska</option>
                            <option value="language:eng">Engelska</option>
                            <option value="language:deu">Tyska</option>
                            <option value="language:fra">Franska</option>
                            <option value="language:lat">Latin</option>
                            <!-- <option value="">Skrivet av kvinnor</option>
                            <option value="">Skrivet av män</option> -->


                        </select>
                    </div>
                </div>
                <div class="more" ng-class="{show_more : dl_mode}">
                    <a ng-click="setDownloadMode()">
                        <!-- <i class="fa fa-caret-right"></i>  -->
                        <i class="fa fa-download color-black mr-1 text-xs"></i>
                        <span ng-if="!dl_mode"> Ladda ner källmaterial</span>
                        <span ng-if="dl_mode">Stäng källmaterial</span>
            </a></div>
                <div class="more_container h-8 relative mb-4" ng-class="{show_more : dl_mode}" ng-show="dl_mode">
                    <a class="sc btn btn-small absolute left" ng-show="!isAllVisibleSelected()" ng-click="onSelectVisible()">Välj alla verk i listan</a>
                    <a class="sc btn btn-small absolute left" ng-show="isAllVisibleSelected()" ng-click="onDeselectVisible()">Avmarkera alla verk i listan</a>
                </div>
                <!-- <a class="btn text-xs submit pull-right" ng-click="setDownloadMode()">Ladda ner…</a> -->
            </div>


            <div class="chronology primarycolor">
                <i class="fa fa-clock-o mr-1 ml-px"></i>
                <span class="sc mt-8">Tidslinje: kronologisk sökning</span> 
                <!-- <span>{{filters['sort_date_imprint.date:range'][0]}}</span>–<span>{{filters['sort_date_imprint.date:range'][1]}}</span> -->
            </div>

            <chronology 
                floor="chronology_floor"
                ceil="chronology_ceil"
                from="filters['sort_date_imprint.date:range'][0]" 
                to="filters['sort_date_imprint.date:range'][1]" 
                change="onSliderChange()">
            </chronology>

            <!-- <div class="flex">
                <rzslider class="mt-4 slider-large" step="1" ng-class="[sliderActive, {active: sliderActive}]"
                        rz-slider-model="filters['sort_date_imprint.date:range'][0]" 
                        rz-slider-high="filters['sort_date_imprint.date:range'][1]" 
                        rz-slider-options="sliderConf" >
                </rzslider>

                <div class="whitespace-no-wrap self-center chronology_inputs">
                    <input type="text" class="text-sm text-center py-1" ng-change="refreshData()" ng-model="filters['sort_date_imprint.date:range'][0]"> <span class="text-sm  sc">till </span> <input type="text" class="text-sm text-center py-1" ng-change="refreshData()" ng-model="filters['sort_date_imprint.date:range'][1]">
                </div>
            </div> -->

        </form>
        
        <!-- <div class="row box_container"> -->
        <div class="flex items-stretch w-full">
            <div class="box sm:p-6 p-2 sm:border border-gray-900 flex-grow" >

                <div class="btn-group p-0 mb-10 ">
                    <label class="sc btn btn-small" ng-class="" 
                        ng-model="listType" uib-btn-radio="'all'" ng-click="fetchByRelevance()">
                        Alla träffar
                    </label>
                    <label class="sc btn btn-small" ng-class="{disabled: dl_mode || !authorData.length}" 
                        ng-model="listType" uib-btn-radio="'authors'" ng-click="setAuthorData()">
                        <span ng-if="!dl_mode">Författare</span><span ng-if="dl_mode">Författare</span><span class="num_hits">: {{authorData.length}}</span>
                    </label>
                    <label class="sc btn btn-small" 
                        ng-model="listType" uib-btn-radio="'works'" ng-click="fetchWorks()">
                        Verk<span class="num_hits" ng-show="titleModel.works_hits">: {{titleModel.works_hits}}</span>
                    </label>
                    <label class="sc btn btn-small" 
                        ng-model="listType" uib-btn-radio="'latest'" ng-click="fetchRecent()">
                        Nytt
                        <!-- <span class="num_hits" ng-show="titleModel.latest_hits">: {{titleModel.latest_hits}}</span> -->
                    </label>
                    <label ng-show="!dl_mode" class="sc btn btn-small" ng-class="{disabled: !parts_hits}" 
                        ng-model="listType" uib-btn-radio="'parts'" ng-click="fetchParts()">Dikt, novell, etc.<span class="parts num_hits" ng-show="parts_hits">: {{ parts_hits }}</span></label>
                    <label ng-show="!dl_mode" class="sc btn btn-small" ng-class="{disabled: !titleModel.epub_hits}" 
                        ng-model="listType" uib-btn-radio="'epub'" ng-click="fetchWorks(false, true)">Epub<span class="num_hits" ng-show="titleModel.epub_hits">: {{titleModel.epub_hits}}</span></label>
                    <!-- <label ng-show="!dl_mode" class="sc btn btn-small" ng-class="{disabled: !audio_list.length}" 
                        ng-model="listType" btn-radio="'audio'" ng-click="listType = 'audio'">Ljud<span class="num_hits" ng-show="audio_list.length">: {{audio_list.length}}</span></label> -->
                </div>
                
                
                <ng-include src="worksListURL" ng-if="listType == 'works'"></ng-include>
                <ng-include src="worksListURL" ng-if="listType == 'latest'"></ng-include>

                    
                <div class="result relevance pl-0 sm:ml-3 w-full sm:w-auto" ng-if="listType == 'all'">
                    <sort-list></sort-list>
                    <div class=""> 
                        <table class="">
                            <tr class="spinner_row" ng-show="relevanceSearching">
                                <td><i class="spinner fa fa-spinner fa-pulse"></i></td>
                            </tr>
                            <!-- <li class="text-lg" ng-show="!authorSearching && !authorData.length">
                                Inga träffar. <span ng-show='authorSuggest[0]'>Menade du <a class="link" ng-click='setFilter(authorSuggest[0].text)'>{{authorSuggest[0].text}}</a>?</span>
                            </li> -->
                
                            <tr class="text-lg" ng-show="!relevanceSearching && relevanceSuggest.length && relevanceSuggest[0].freq > (relevanceData.length * 5)">
                                
                                <td colspan="3" ng-if="relevanceError">
                                    Ett fel uppstod. 
                                </td>
                                <td colspan="3" class="pb-4" ng-if="!relevanceError">
                                    <span ng-show="!relevanceData.length">Inga träffar.</span> <span ng-show='relevanceSuggest[0]'>Menade du <a class="link" ng-click='setFilter(relevanceSuggest[0].text)'>{{relevanceSuggest[0].text}}</a>?</span>
                                </td>
                            </tr>
                            
                            <tr ng-repeat="item in relevanceData"
                                class="align-top sm:table-row flex justify-between"
                                ng-click="authorClick($event, author)" 
                                on-finish-render="authorRender()">
                                <td class="text-right hidden sm:table-cell"><span class="sc primarycolor whitespace-no-wrap">
                                    {{getLabelBySource(item)}}
                                </span></td>
                                <td>
                                <div ng-if="item._index.endsWith('author')">
                                    <a ng-href="/författare/{{item.authorid}}/" class="">
                                        <span class="surname">{{item.name_for_index.split(',')[0]}}</span><span ng-show="item.name_for_index.split(',').length > 1">,</span>
                                        {{item.name_for_index.split(",")[1]}} 
                                        <!-- {{item | authorYear}} -->
                                    </a>
                                    <highlights list="item.highlight.intro"></highlights>

                                </div>
                                <div class="" ng-if="getIndex(item._index) == 'presentations'">
                                    <a ng-href="{{item.url}}">{{item.title}}</a>
                                    <highlights list="item.highlight.content"></highlights>
                                </div>
                                <div class="" ng-if="getIndex(item._index) == 'sol'">
                                    <a ng-href="https://litteraturbanken.se/översättarlexikon/artiklar/{{item.article.URLName}}">{{item.article.ArticleName}}</a>

                                    <highlights list="item.highlight['article.ArticleText']"></highlights>
                                </div>
                                <div class="" ng-if="getIndex(item._index) == 'vastsvenska'">
                                    <a ng-href="https://litteraturbanken.se/litteraturkartan/?id={{item.placeid}}&article={{item.id}}">{{item.header}}</a>

                                    <highlights list="item.highlight.free_text"></highlights>
                                </div>
                                <div class="" ng-if="getIndex(item._index) == 'wordpress'">
                                    <a ng-href="{{item.link}}">{{item.title}}</a>
                                    <highlights list="item.highlight.content"></highlights>
                                </div>
                                <div ng-if="['etext', 'faksimil', 'etext-part', 'faksimil-part', 'pdf'].includes(getIndex(item._index))" uib-tooltip="{{(item.title != item.shorttitle ? item.title : '') + (isDev ? '\npopularity: ' + item.popularity : '')}}" tooltip-popup-delay="500">
                                    
                                    <a ng-if="['etext', 'faksimil'].includes(getIndex(item._index))" ng-href="/författare/{{item.main_author.authorid}}/titlar/{{item.titleid}}/sida/{{item.startpagename}}/{{item.mediatype}}">{{item.shorttitle || item.title}}</a>
                                    <a ng-if="['etext-part', 'faksimil-part'].includes(getIndex(item._index))" ng-href="/författare/{{getPartAuthor(item).authorid}}/titlar/{{item.work_titleid}}/sida/{{item.startpagename}}/{{item.mediatype}}">{{item.shorttitle || item.title}}</a>
                                    <a ng-if="['pdf'].includes(getIndex(item._index))" ng-href="/txt/{{item.lbworkid}}/{{item.lbworkid}}.pdf" download target="_self">{{item.shorttitle || item.title}}</a>


                                    <highlights list="item.highlight.title"></highlights>
                                    <highlights ng-if="!item.highlight.title" list="item.highlight['title.search']"></highlights>
                                    <highlights ng-if="!item.highlight.title" list="item.highlight.title_modernized"></highlights>

                                    <highlights list="item.highlight['parts.title']"></highlights>
                                    <highlights ng-if="!item.highlight['parts.title']" list="item.highlight['parts.title_modernized']"></highlights>

                                </div>
                                </td>

                                <td class="align-top text-left hidden sm:table-cell w-16 whitespace-no-wrap">
                                    <a ng-click="setDateRange(item.sort_date_imprint.plain, item.sort_date_imprint.plain)">
                                        {{item.sort_date_imprint.plain}}
                                    </a>

                                    <div ng-if="item._index.endsWith('author')">
                                        {{item | authorYear}}
                                    </div>
                                </td>
                                <td class="align-top text-right sc primarycolor"><span class="author">
                                            <a ng-href="/författare/{{item.main_author.authorid}}">{{item.main_author.surname}}</a> 
                                            <span ng-if="item.main_author.type == 'editor'">(red.)</span> 
                                            <span ng-if="item.main_author.type == 'illustrator'">(ill.)</span>
                                        </span> <!-- ng-click="authorClick($event, authorsById[item.author[0].authorid])" --></td>

                            </tr>

                            <!-- <li ng-show="authLimit && authorData.length > authLimit">
                                <button class="btn btn-sm show_all"  ng-click="(authLimit = 0) || setAuthorData()">
                                    Visa alla <span class="num">{{authorData.length}}</span> träffar
                                </button>
                            </li> -->
                        </table>
                        <div ng-if="relevance_hits > 100">
                            <ul class="pagination-sm sc" 
                                uib-pagination 
                                items-per-page="100" 
                                force-ellipses="true" 
                                total-items="relevance_hits" 
                                max-size="10"
                                ng-model="relevance_page.current"
                                ng-change="fetchByRelevance(false)"
                        next-text="Nästa" previous-text="Föregående"></ul>
                    </div>
                    </div>
                </div>
                <div class="result author pl-0 sm:ml-3" ng-if="listType == 'authors'">
                    <sort-list ></sort-list>
                    <div class=""> 
                        <ul class="">
                            <li class="spinner_row" ng-show="authorSearching">
                                <i class="spinner fa fa-spinner fa-pulse"></i>
                            </li>
                            <li class="text-lg" ng-show="!authorSearching && !authorData.length">
                                Inga träffar. <span ng-show='authorSuggest[0]'>Menade du <a class="link" ng-click='setFilter(authorSuggest[0].text)'>{{authorSuggest[0].text}}</a>?</span>
                            </li>
                
                            <li ng-repeat="author in authorData | limitTo:(authLimit || Infinity) track by author.authorid"
                                class="author_row"
                                ng-click="authorClick($event, author)" 
                                on-finish-render="authorRender()" 
                                id="{{author.authorid}}">
                                <a ng-href="/författare/{{author.authorid}}/" class="">
                                    <span class="surname">{{author.name_for_index.split(',')[0]}}</span><span ng-show="author.name_for_index.split(',').length > 1">,</span>
                                    {{author.name_for_index.split(",")[1]}} {{author | authorYear}}
                                </a>
                            </li>

                            <li ng-show="authLimit && authorData.length > authLimit">
                                <button class="btn btn-sm show_all"  ng-click="(authLimit = 0) || setAuthorData()">
                                    Visa alla <span class="num">{{authorData.length}}</span> träffar
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <ng-include src="worksListURL" ng-if="listType == 'epub'"></ng-include>

                <!-- <div class="result title pl-0 sm:ml-3" ng-if="listType == 'audio'">
                    <sort-list ></sort-list>
                    <table class="table w-full">
                        <tr ng-repeat="row in audio_list" class="parts" ng-class="{first_audio : $first, last_audio : $last}">
                        
                            <td uib-tooltip="{{row.title}}" class="title whitespace-no-wrap">
                                <a ng-href="/ljudarkivet?spela={{row.file}}">
                                {{row.title}}
                                </a>
                            </td>
                            
                            <td class="author text-right">
                                <span ng-if="row.readers[0].authorid != row.authors[0].authorid"><a ng-href="/författare/{{row.readers[0].authorid}}">{{row.readers[0].surname}}</a> <span class="lowercase">läser</span></span>
                                <a ng-href="/författare/{{row.authors[0].authorid}}">{{row.authors[0].surname}}</a> 
                            </td>
                        </tr>

                    </table>
                </div> -->
                <div class="result title flex-column min-h-500 pl-0 sm:ml-3" ng-show="listType == 'parts'">
                    <div class="spinner_row ng-fade transition duration-300" ng-show="partSearching">
                        <i class="spinner fa fa-spinner fa-pulse"></i>
                    </div>
                    <sort-list ></sort-list>
                    <table class="table w-full flex-grow">
                        <tr class="text-lg" ng-show="!partSearching && !all_titles.length">
                            <td>Inga träffar. <span ng-show='partSuggest[0]'>Menade du <a class="link" ng-click='setFilter(partSuggest[0].text)'>{{partSuggest[0].text}}</a>?</span></td>
                        </tr>
                        
                        <tr ng-repeat="row in all_titles" class="parts" ng-class="{first_part : $first}">
                        
                            <!-- <div class="header" uib-tooltip="{{::row.title != row.shorttitle ? row.title : ''}}" tooltip-popup-delay="500"> -->
                                <td class="title" uib-tooltip="{{::row.title != row.shorttitle ? row.title : ''}}">
                                    <a ng-href="/författare/{{row.work_authors[0].authorid}}/titlar/{{row.work_titleid}}/sida/{{row.startpagename}}/{{row.mediatype}}">
                                    {{row.shorttitle || row.title}}
                                    </a>
                                </td>
                                <td class="hidden sm:table-cell"><a ng-click="setDateRange(row.sort_date_imprint.plain, row.sort_date_imprint.plain)">{{row.sort_date_imprint.plain}}</a></td>
                                <td class="author text-right">
                                    <a ng-href="/författare/{{getPartAuthor(row).authorid}}">{{getPartAuthor(row).surname}}</a> 
                                    <span ng-if="getPartAuthor(row).type == 'editor'">(red.)</span>
                                    <span ng-if="getPartAuthor(row).type == 'illustrator'">(ill.)</span>
                                </td>
                            <!-- </div> -->
                        </tr>
                        <!-- <tr ng-show="!showAllParts && parts_hits > 30 && parts_hits < 3000">
                            <td>
                                <button class="btn btn-sm show_all"  ng-click="($parent.showAllParts = true) && fetchParts()">
                                    Visa alla <span class="num">{{parts_hits}}</span> träffar
                                </button>
                            </td>
                        </tr> -->

                    </table>
                    <div ng-if="parts_hits > 100">
                        <ul class="pagination-sm sc" uib-pagination items-per-page="100" force-ellipses="true" total-items="parts_hits" max-size="10" ng-model="parts_page.current" ng-change="fetchParts(false)"
                        next-text="Nästa" previous-text="Föregående"></ul>
                    </div>

                </div>

            </div>

            <div ng-if="dl_mode">
                <div class="dl ml-4 p-4 sticky flex flex-col overflow-auto">
                    <h3 class="uppercase text-xl mt-2 mb-2">Valda verk</h3>
                    <!-- <button class="btn text-sm" ng-click="state_add = true">Lägg till…</button> -->


                    <div class="footer">

                        
                        <button class="btn text-sm mb-4" ng-click="clearDownloads()" ng-class="{disabled : !downloads.length}">Rensa</button>

                        <button class="btn text-sm mb-4"
                            ng-click="$event.stopPropagation()"
                            ng-class="{disabled : !downloads.length}"
                            uib-popover-template="hidePopup ? undefined : downloadPopoverURL" 
                            uib-popover-title="Välj format"
                            uib-popover-placement="left">
                            Välj format
                            <i class="fa fa-download ml-2"></i>
                        </button>

                
                    <ul class="mt-2 mb-2 flex-grow">
                        <li class="download_item hover:line-through" ng-repeat="row in downloads"
                        ng-click="toggleDownload(row, true)">
                            <span class="sc">{{row.main_author.surname}}</span> {{row.shorttitle || row.title}}
                        </li>
                    </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

