<meta-desc>
    {{workinfo.showtitle}} av {{authorById[author].fullname}}, sida {{pagename}} som {{mediatype}}
</meta-desc>
<div class="reader_main" 
     ng-class="{'state-parallel' : isParallel, 'state-not-parallel' : !isParallel, searching:loading, editor: isEditor, focus : isFocus, 'type-faksimil' : mediatype == 'faksimil'}" ng-click="showFocusBar = !showFocusBar">

    <div class="preloader">Hämtar sida <span class="dots_blink"></span></div>
    <div class="" ng-if="error">Ett fel inträffade vid sidhämtningen. </div>
    <div css="{{workinfo.css}}" if="mediatype == 'etext' || isParallel"></div>
    <div class="etext txt"
         
         ng-style="{'font-size' : getFontSizeFactor() + 'em'}"
         selection-sniffer ng-show="mediatype == 'etext' || isParallel" ng-bind-html="etext_html | setMarkee:markee_from:markee_to | trust" ></div>
    
    <img class="faksimil" ng-src="{{url}}" ng-show="mediatype == 'faksimil' || isParallel">

    <div square ng-repeat="obj in coors" ng-show="height" x="obj.x" 
         y="obj.y" width="obj.width" height="obj.height" 
         class="faksimilMarkee" ng-class="{long : obj.width > 150}"></div>
    
    
    <div toolkit>
        <div ng-class="{editor: isEditor}">
            <hr>
            <span ng-repeat="author in getValidAuthors()">
                <a class="author" href="#!/forfattare/{{author.id}}">{{authorById[author.id].fullname}}</a>
                <span ng-if="author.type == 'editor'">(red.)</span>
                <span ng-if="author.type == 'translator'">(övers.)</span>
                <span ng-if="!$last">och</span>
            </span>
            
            <div>
                <a class="title" 
                    href="#!/forfattare/{{author || getValidAuthors()[0].id}}/titlar/{{workinfo.titlepathNorm}}/info">
                    {{workinfo.showtitle}}
                 </a>
            </div>
        
            <div id="search_nav" ng-show="searchData.total_hits">
                <div class="box">
                    <div class="text">
                        <div>
                            Sökträff
                        </div>
                        <div>
                            <span>{{searchData.current + 1}}</span> av <span>{{searchData.total_hits}}</span>
                        </div>
                    </div>
                    <div class="ctrls">
                        <img ng-click="close_hits()" class="close_btn" src="/bilder/kryssruta.png">
                        <div style="clear:both;"></div>
                        <div class="arrows">
                            <img ng-click="prevHit()" class="" src="/bilder/v_pil.png"> 
                            <img ng-click="nextHit()" class="" src="/bilder/h_pil.png">
                        </div>
                    </div>
                </div>
            </div>
        
            <div style="height: 1em;"></div>
        
            <div><a href="#!/forfattare/{{author || getValidAuthors()[0].id}}/titlar/{{workinfo.titlepathNorm}}/info/{{mediatype}}">::: Om boken</a></div>
        
            <hr>
        
        
            <div class="pager_ctrls" ng-click="resetHitMarkings()">
                <a ng-href="{{getFirstPageUrl()}}" ng-class="{disabled : isBeforeStartpage()}"
                    ng-click="gotopage(startpage, $event)">
                    <i class="fa fa-fast-backward"></i>
                </a>
                <a rel="prev" ng-class="{disabled : pageix == 0}" ng-href="{{getPrevPageUrl()}}" ng-click="prevPage($event)">
                    <i class="fa fa-backward"></i>
                </a>
                <a rel="next" ng-href="{{getNextPageUrl()}}" ng-click="nextPage($event)" ng-class="{disabled : pagename == endpage}">
                    <i class="fa fa-forward"></i>
                </a>
                <a ng-href="{{getLastPageUrl()}}" ng-class="{disabled : pagename == endpage}"
                    ng-click="gotopage(endpage, $event)">
                    <i class="fa fa-fast-forward"></i>
                </a>
            </div>
            <form ng-submit="pageToLoad = displaynum">
                <span ng-if="isEditor">Index</span> 
                <span ng-if="!isEditor">Sida</span> 
                <input class="pageinput" ng-model="displaynum">
            </form>
        
            <div ng-if="!isEditor">
                <ul class="work_parts">
                    <li><a ng-click="gotopage(startpage)">[Start]</a></li>
                    <li ng-repeat="part in workinfo.parts | limitTo:5" 
                        tooltip="{{getTooltip(part)}}" tooltip-append-to-body>
                        <a ng-click="gotopage(part.startpagename)">{{part.navtitle}}</a>
                    </li>
                </ul>
            </div>
        
            <div class="partnav" ng-show="workinfo.parts.length > 5">
                <div>
                    <i ng-mouseover="mouseover()" 
                        ng-touch="mouseover()"
                        class="arrow_icon fa fa-play"></i>
                </div>
        
                <div ng-show="showPopup" class="triangle"></div>
        
                <ul class="part_menu" ng-show="showPopup" >
                    <li><a ng-click="onPartClick(startpage)">[Start]</a></li>
                    <li ng-repeat="part in workinfo.parts" tooltip="{{part.showtitle}}">
                        
                        <a ng-touch="onPartClick(part.startpagename)" ng-click="onPartClick(part.startpagename)">{{part.navtitle}}</a>
                    </li>
                </ul>
        
            </div>
        
            <div class="size_picker" ng-show="mediatype == 'faksimil'">
                <div ng-class="{selected : size, hidden : !isDefined(size)}" 
                     ng-repeat="size in sizes track by $index" ng-click="setSize($index)">{{$index}}</div>
                
            </div>
    
            <div ng-if="supportsParallel()"><a ng-click="toggleParallel()">
                <span ng-if="!isParallel">
                    Visa <span ng-show="mediatype == 'etext'">faksimil</span> 
                    <span ng-show="mediatype == 'faksimil'">etext</span> 
                    parallellt</span>
                <span ng-if="isParallel">Stäng parallellvisningen</span>
            </a></div>

            <div class="focusBtn">
                <a ng-click="activateFocus()">Fokusläge</a>
            </div>
        
        
            
        </div>
    </div>
    <div ng-show="isFocus" class="leftCover" ng-click="prevPage($event)" to-body></div>
    <div ng-show="isFocus" class="rightCover" ng-click="nextPage($event)" to-body></div>
    <div ng-show="isFocus && showFocusBar" class="bottomBar" set-class="{'ng-hide-remove' : !isFocus}" to-body>
        
        <a popper my="middle bottom-25" at="bottom middle" >
            <!-- <img src="img/focus_letters.svg" class="sizeBtn"> -->
            <span ng-include="'img/focus_letters.svg'" class="sizeBtn">
        </a>
        <div class="popper_menu popover top text" ng-class="{'type-faksimil' : mediatype == 'faksimil'}">
            <div class="arrow"></div>
            <div class="popover_inner">

                <ul ng-show="mediatype == 'etext'">
                    <li><button ng-click="incrFontSize($event, -0.2)" class="btn btn-small">a</button> 
                    <button ng-click="incrFontSize($event, 0.2)" class="btn btn-small pull-right">A</button></li>
                </ul>
                <div class="size_picker" ng-show="mediatype == 'faksimil'">
                    <div ng-class="{selected : size, hidden : !isDefined(size)}" 
                         ng-repeat="size in sizes track by $index" ng-click="setSize($index)">{{$index}}</div>
                    
                </div>
                <div class="night_switch on" ng-if="mediatype!= 'faksimil' && !$root._night_mode" ng-click="$root._night_mode = true"><span class="icon"></span> <div class="label">Mörkt <br> läge</div></div>
                <div class="night_switch off" ng-if="mediatype!= 'faksimil' && $root._night_mode" ng-click="$root._night_mode = false"><span class="icon"></span> <div class="label">Ljus <br> läge</div></div>
            </div>
        </div>


        <a rel="prev" ng-class="{disabled : pageix == 0}" ng-href="{{getPrevPageUrl()}}" ng-click="prevPage($event)">
            <i class="fa fa-backward"></i>
        </a>
        <a rel="next" ng-href="{{getNextPageUrl()}}" ng-click="nextPage($event)" ng-class="{disabled : pagename == endpage}">
            <i class="fa fa-forward"></i>
        </a>

        <a popper my="middle bottom-25" at="bottom middle" >
            <i class="fa fa-list-ul"></i>
        </a>

        <div class="popper_menu popover top parts">
            <div class="arrow"></div>
            <div class="popover_inner">
                <ul class="work_parts">
                    <li><a ng-click="gotopage(startpage)">[Start]</a></li>
                    <li ng-repeat="part in workinfo.parts">
                        <a ng-click="gotopage(part.startpagename)">{{part.navtitle}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <a ng-click="closeFocus($event)">
            <i class="close_btn fa fa-times"></i>
        </a>
    </div>

    <!-- -->
</div>