
<br>


<div ng-switch on="mediatype">
    <img src="{{url}}" ng-show="url" ng-switch-when="faksimil">
    <div ng-switch-when="etext" ng-bind-html-unsafe="etext_html" ></div>
    <span ng-switch-default>default</span>
</div>

<toolkit>

    <hr>


    <div>{{workinfo.authorFullname}}
        <em>{{workinfo.showtitle}}</em>
    </div>

    <div style="height: 2em;"></div>

    <div><a>::: Bibliografisk info.</a></div>

    <hr>


    <div>
        <img src="http://demolittb.spraakdata.gu.se/bilder/LBstart.png">
        <a href="#/forfattare/{{author}}/titlar/{{title}}/sida/{{pagenum-1}}/{{mediatype}}"><img src="http://demolittb.spraakdata.gu.se/bilder/LBforegaende.png"></a>
        <a href="#/forfattare/{{author}}/titlar/{{title}}/sida/{{pagenum+1}}/{{mediatype}}"><img src="http://demolittb.spraakdata.gu.se/bilder/LBnasta.png"></a>


        <img src="http://demolittb.spraakdata.gu.se/bilder/LBslut.png">
    </div>
    <div>
        Sida <input ng-model="pagenum"><!-- should be name -->
    </div>


</toolkit>
