<div ng-class="{'state-parallel' : isParallel, 'state-not-parallel' : !isParallel}">
    <div css="{{workinfo.css}}" if="mediatype == 'etext' || isParallel"></div>
    
    <div class="etext" selection-sniffer ng-show="mediatype == 'etext' || isParallel" ng-bind-html-unsafe="etext_html | setMarkee:markee_from:markee_to" ></div>
    
    <img  class="faksimil" ng-src="{{url}}" ng-show="mediatype == 'faksimil' || isParallel">
    
    <div square x="x" y="y" width="width" height="height" class="faksimilMarkee"></div>
    
    
    <div modal="lex_article.lexemes.length > 0" close="closeModal()" options="opts">
        <div class="so_modal">
            <div class="modal-header">
                <h4>Svensk ordbok (2009)</h4>
            </div>
            <div so-article="lex_article.lexemes" class="_so_article" >
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>

    <div alert="dict_not_found"></div>
    
    
    <div toolkit>
    
        <hr>
    
        <a class="author" href="#!/forfattare/{{author}}">
            {{workinfo.authorFullname}} <span ng-if="workinfo.author_type == 'editor'">(red.)</span>
        </a>
        <a class="title" 
            href="#!/forfattare/{{author}}/titlar/{{workinfo.titlepathNorm}}/info">
            {{workinfo.showtitle}}
        </a>
    
        <div id="search_nav" ng-show="searchData.total_hits">
            <div class="box">
                <div class="text">
                    <div>
                        Sökträff
                    </div>
                    <div>
                        <span>{{searchData.current + 1}}</span> av <span>{{searchData.total_hits}}</span>
                    </div>
                </div>
                <div class="ctrls">
                    <img ng-click="close_hits()" class="close_btn" src="/bilder/kryssruta.png">
                    <div style="clear:both;"></div>
                    <div class="arrows">
                        <img ng-click="prevHit()" class="" src="/bilder/v_pil.png"> 
                        <img ng-click="nextHit()" class="" src="/bilder/h_pil.png">
                    </div>
                </div>
            </div>
        </div>
    
        <div style="height: 1em;"></div>
    
        <div><a href="#!/forfattare/{{author}}/titlar/{{workinfo.titlepath}}/info/{{mediatype}}">::: Om boken</a></div>
    
        <hr>
    
    
        <div class="pager_ctrls">
            <a ng-click="firstPage()"><img src="/bilder/LBstart.png"></a>
            <a ng-click="prevPage()"><img src="/bilder/LBforegaende.png"></a>
            <a ng-click="nextPage()"><img src="/bilder/LBnasta.png"></a>
            <a ng-click="lastPage()"><img src="/bilder/LBslut.png"></a>
        </div>
        <form ng-submit="pagenum = displaynum">
            Sida <input class="pageinput" ng-model="displaynum">
        </form>
    
        <div>
            <ul class="work_parts">
                <li><a ng-click="gotopage(startpage)">[Start]</a></li>
                <li ng-repeat="part in workinfo.parts | limitTo:5">
                    <a  tooltip="{{getTooltip(part)}}" tooltip-append-to-body
                        ng-click="gotopage(part.startpagename)">{{part.showtitle}}</a>
                </li>
            </ul>
        </div>
    
        <div class="partnav" ng-show="workinfo.parts.length > 5">
            <div>
                <i ng-mouseover="mouseover()" class="arrow_icon icon-play icon-large"></i>
            </div>
    
            <div ng-show="showPopup" class="triangle"></div>
    
            <ul class="part_menu" ng-show="showPopup" click-outside="showPopup = false">
                <li><a ng-click="gotopage(startpage)">[Start]</a></li>
                <li ng-repeat="part in workinfo.parts" tooltip="{{part.navtitle}}">
                    
                    <a ng-click="gotopage(part.startpagename)">{{part.showtitle}}</a>
                </li>
            </ul>
    
        </div>
    
        <div class="size_picker" ng-show="mediatype == 'faksimil'">
            <div ng-class="{selected : size, hidden : !isDefined(size)}" ng-repeat="size in sizes track by $index" ng-click="setSize($index)">{{$index + 1}}</div>
            
        </div>

        <div ng-if="supportsParallel()"><a ng-click="toggleParallel()">
            <span ng-if="!isParallel">Visa etext parallellt</span>
            <span ng-if="isParallel">Stäng parallelvisningen</span>
        </a></div>
    
        <div class="word_search">
            <label>Slå upp i svensk ordbok</label>
            <input  ng-model="lex_article"
                    typeahead-on-select="saveSearch(lex_article.baseform)"
                    typeahead-wait-ms="200"
                    typeahead="article as article.baseform for article in getWords($viewValue)">
            
        </div>
    
    </div>
    <!-- -->
</div>