<meta-desc>Sök i Litteraturbanken verk</meta-desc>
<page-title> {{pageTitle ? 'Sök: "' + pageTitle + '"' : 'Sök' }} | Litteraturbanken</page-title>
<div ng-class="{searching:searching, advanced : advanced}">


    <h1>Textsökning <span class="star">*</span> <span ng-show="!advanced" class="sc">ENKEL SÖKNING</span> <span class="sc" ng-show="advanced">AVANCERAD SÖKNING</span> </h1>

    <!-- <div class="preloader"> -->
    
    <!-- </div>     -->


    
    <!-- <select multiple class="filter_select title_select" ui-select2="groupSetup" ng-model="selectedAuthors" data-placeholder="Titlar">

    Söker i {{selectedTitles.length || titles.length}} titlar
    <select multiple class="filter_select title_select" ui-select2="groupSetup" ng-model="selectedTitles" data-placeholder="Titlar">
        <option value="{{title.lbworkid}}" ng-repeat="title in titles | orderBy:titleSort">{{title.shorttitle}}</option>
    </select> -->


    <form class="submit_form" ng-submit="newSearch(query)">
        <div class="left_col">
            <input ng-model="query" autofocus type="text"><button class="submit btn">Sök</button>
            
            <ul class="lower_options">
                <li ng-repeat="opt in searchOptionsMenu" >
                    <span role="checkbox" aria-checked="{{opt.selected}}" ng-show="opt.selected">✓</span>
                    <a ng-click="opt.selected = !opt.selected">{{opt.label}}</a>
                </li>
            </ul>
            
            <div class="auth_select_container"><select multiple class="filter_select author_select" ui-select2="groupSetup" ng-model="selectedAuthors" >
                    <option value="{{author.authorid}}" ng-repeat="author in authors | orderBy:'nameforindex' | filter:{searchable : 'true'}">{{author.nameforindex}}</option>
                </select> 
            </div>
            
            <p class="expl advanced_text">
                För att söka i ett specifikt <span class="sc">författarskap</span> eller flera: skriv början på ett namn & välj ett eller flera i listan. (Som förval utförs sökningen i <span class="sc">alla</span> författarskap.)
            </p>
            
            <div class="auth_select_container">
                <select multiple class="filter_select title_select" ui-select2="groupSetup" ng-model="selectedTitles" data-placeholder="Titlar">
                    <option value="{{title.lbworkid}}" ng-repeat="title in titles | orderBy:titleSort">{{title.shorttitle}}</option>
                </select>
            </div>
            
            <p class="expl advanced_text">
                Sök i texter som handlar <span class="sc">om ett författarskap</span>. Skriv början på ett namn & välj ett eller flera i listan. (Som förval utförs sökningen i <span class="sc">alla</span> texter.)
            </p>
            
            
            <!-- <div class="slider">
                <div ui-slider min="0" max="20" ng-model="sliderVal"></div>

            </div> -->
            
            <p class="expl advanced_text">
                Avgränsa sökningen efter tryckår. Dra i reglagen nedan för att filtrera sökurvalet till ett specifikt tidsspann.
            </p>
            
            <div class="text simple_text">Vill du göra mer avancerade sökningar i texterna? Då kan du klicka på <a ng-click="advanced = true"><i class="fa fa-play"></i> <span class="sc">Avancerade sökmöjligheter</span></a> </div>
            <div class="text advanced_text">Vill du förenkla sökformuläret? Då kan du klicka på <a ng-click="advanced = false"><i class="fa fa-play"></i> <span class="sc">Enkel sökning</span></a> </div>
        </div>

        <div class="right_col">
            <ul class="options">
                <li ng-repeat="opt in filterOpts">
                    <span ng-show="opt.selected">✓</span>
                    <a ng-click="opt.selected = !opt.selected" ng-bind-html="opt.label | trust"></a>
                </li>
            </ul>
        </div>
        
    </form>

    <!-- <div ui-grid="gridOptions" class="grid"></div> -->
    <div class="results_container" >
        <span class="search_spinner" us-spinner="{lines : 8 ,radius:30, width:15, length: 25}"></span>
        <div class="table_viewport" ng-show="kwic" ng-scroll-event="updateOnScrollEvents($event, isEndEvent)"  >
            <div class="table_container" ng-style="{height : totalHeight}" > <!-- height="container_height" -->
                <div ng-if="!searching && kwic && !kwic.length && !hits">Din sökning gav inga träffar</div>
                
            
            
                <table cellspacing="0" class="results" ng-style="{top : table_top}">
                    
                    <tr on-finish-render="tableRenderComplete()" height="$parent.rowHeights[$index]" ng-repeat="sent in sentsWithHeaders" ng-class="{even : $even, odd : $odd, is_faksimil : sent.structs.text_mediatype == 'faksimil'}" class="sentence">
                        <td class="header" colspan="4" ng-if="sent.isHeader">
                            <span class="author">{{authorsById[sent.authorid].nameforindex}}</span>: <span class="title">{{sent.shorttitle}}</span></td>
                        <td ng-if="!sent.isHeader" class="num">{{::(sent.index + 1)}}</td>
            
                        <td class="left_context"><span kwic-word="kwic-word" ng-repeat="wd in selectLeft(sent)"></span></td>
                        <td class="match">
                            <a ng-href="{{::sent.href}}" ng-click="save_search($index)">
                                <span kwic-word="kwic-word" ng-repeat="wd in selectMatch(sent)"></span>
                            </a>
                        </td>
                        <td class="right_context"><span kwic-word="kwic-word" ng-repeat="wd in selectRight(sent)"></span></td>
                    </tr>
                </table>
                
            
            
            </div>
        </div>
        <ul class="navigator" ng-show="kwic" ng-style="{'max-height': container_height}">
            <!-- ng-class="{selected: page == current_page}" -->
            <li ng-repeat="obj in authorStatsData" >
                <a ng-click="gotoPage(obj.pos)">{{obj.author}}</a>
            </li>
        </ul>
    </div>

    <div toolkit>

        <div class="littb_pager" ng-show="kwic && hits">
            <div ng-if="hits > num_hits">


                <div class="hits_info">
                    <div><div class="hits">{{hits}}</div> <div class="hits_sub">sökträffar</div></div>
                    <!-- <div>Träff {{from}}–{{to}}</div> -->

                </div>

                <!-- Visar {{current_page  * num_hits + 1}}-{{getMaxHit()}} av 
                {{hits}} träffar,
                sida {{current_page + 1}} av {{total_pages}}. -->

                <ul class="ctrl">
                    <!-- <li>
                        <a ng-click="nextPage()">Gå till {{(current_page + 1) * num_hits + 1}}-{{getMaxHit() + num_hits}}</a>
                    </li> -->
                    <li><a href="">VISA 100 TRÄFFAR</a></li>
                    <li><a href="">VISA 250 TRÄFFAR</a></li>
                    <li><a href="">VISA ALLA TRÄFFAR</a></li>
                    <li><a href="">AVANCERAD SÖKNING</a></li>
                    <!-- <li>
                        <a ng-click="prevPage()">Gå bakåt en träff</a>
                    </li>
                    <li>
                        <a ng-click="firstPage()">Gå till första träffen</a>
                    </li>
                    <li>
                        <a ng-click="lastPage()">Gå till sista träffen</a>
                    </li>
                    <li>
                        <a ng-click="lastPage()">Gå direkt till träff…</a>
                    </li> -->
                    <li><a href="">Återgå till läsläget</a></li>
                </div>
            
                <!-- <label>Gå till träffsida</label>
                <form ng-submit="setPageNum(input_page - 1)">
                    <input class="input_page" ng-model="input_page"><span ng-click="setPageNum(input_page - 1)" submit-btn></span>
                </form> -->
            </div>
            
            <div ng-if="hits <= num_hits">
                Visar alla {{hits}} träffar.
            </div>
        </div>

        <!-- <p>Du kan välja att söka i verk av alla författare som finns i Litteraturbanken eller bara en viss författare. Om du väljer en viss författare kan du dessutom välja att söka antingen i samtliga verk av den författaren, eller i ett enstaka verk. Det går också att välja om man vill söka i korrekturläst eller ej korrekturläst text. I träfflistan visas träffar i icke korrekturlästa texter med grå text.</p>  -->
    </div>


    <!-- <div class="box_container">
       <ul class="box">
           <li ng-repeat="author in authors | orderBy:'nameforindex'" ng-click="author.checked = !author.checked">
               <span ng-style="{visibility: author.checked ? 'visible' : 'hidden'}">✓</span><span  >{{author.nameforindex}} {{author | authorYear}}</span>
           </li>
       </ul>
    </div> -->


    <!-- <div toolkit toolkit-id="toolkit-right">
        <form action=""><input type="text"><button class="btn">Sök</button></form>
        <ul>
            <li><a href="">Sök efter del av ord</a></li>
            <li><a href="">Sök efter ordbörjan</a></li>
            <li><a href="">Sök efter ordslut</a></li>
        </ul>

        <ul>
            <li><a href="">Sök i skönlitterära texter</a></li>
            <li><a href="">Sök i facklitterära texter</a></li>
            <li><a href="">Sök i översättningar till svenska</a></li>
            <li><a href="">Sök i korrekturlästa texter</a></li>
            <li><a href="">Sök i ej korrekturlästa texter</a></li>
        </ul>

    </div> -->



    
    <!-- 
    <div class="header">
        <h1>Sök i texterna</h1>
        <div class="clearfix"></div>
    </div>
    
    
    <form ng-submit="current_page = 0; search()">
        <label class="query_label" for="query">Ord eller fras:</label> <input id="query" class="input" ng-model="query" autofocus>
    </form>
    
    <div class="extended">
        <h3>Urval</h3>
        <div class="columns">
            <div class="left">
                <label for="author_select">Författare</label>
                <select id="author_select"
                        ng-model="selected_author"
                        ng-change="authorChange()"
                        ng-options="author.nameforindex for author in authors | filter:{searchable : 'true'}" >
                    <option value="">Alla författare</option>
                </select>
            </div>
            <div class="right">
                <label for="title_select">Titel: (välj författare först)</label>
                <select id="title_select" 
                        ng-model="selected_title" 
                        ng-change="titleChange()"
                        ng-options="title.showtitle for title in titles | filter:{searchable: 'true'} | filter: checkProof | orderBy:titleSort ">
    
                    <option value="">Allt tillgängligt</option>
                </select>
            </div>
        </div>
        <div class="chks">
            Sök i:
            <input id="yes" type="radio" ng-model="proofread" value="yes">
            <label for="yes" ng-click="proofread = 'yes'">korrekturläst</label>
            <input id="no" type="radio" ng-model="proofread" value="no">
            <label for="no" ng-click="proofread = 'no'">ej korrekturläst</label>
            <input id="all" type="radio" ng-model="proofread" value="all">
            <label for="all" ng-click="proofread = 'all'">allt</label>
        </div>
        <div class="also_include">
            Även som: <input ng-change="infix = false" type="checkbox" ng-model="prefix" id="prefix"> <label for="prefix">ordbörjan</label> <input ng-change="infix = false" type="checkbox" id="suffix" ng-model="suffix"> <label for="suffix">ordslut</label>
            eller <input type="checkbox" id="infix" ng-model="infix" ng-change="prefix = false; suffix = false"> 
            <label for="infix">del av ord</label>
        </div>
    </div>
    
    <div><span ng-click="current_page = 0; search()" submit-btn></span><div style="clear:both;"></div></div>
    
    
    
    <div class="n_pages">Visa
        <select id="num_hits" ng-model="num_hits" ng-change="nHitsChange()"
            ng-options="num for num in [10, 20, 50, 100, 250, 500]" ng-change="search(query)">
        </select>
        träffar per sida.
    </div>
    
    
    <div toolkit>
        <hr>

        <div class="littb_pager" ng-show="kwic && hits">
            <div ng-if="hits > num_hits">
                Visar {{current_page  * num_hits + 1}}-{{getMaxHit()}} av 
                {{hits}} träffar,
                sida {{current_page + 1}} av {{total_pages}}.

                <div class="ctrl">
                    <a ng-click="firstPage()"><img src="bilder/LBstart.png"></a>
                    <a ng-click="prevPage()"><img src="bilder/LBforegaende.png"></a>
                    <a ng-click="nextPage()"><img src="bilder/LBnasta.png"></a>
                    <a ng-click="lastPage()"><img src="bilder/LBslut.png"></a>
                </div>
            
                <label>Gå till träffsida</label>
                <form ng-submit="setPageNum(input_page - 1)">
                    <input class="input_page" ng-model="input_page"><span ng-click="setPageNum(input_page - 1)" submit-btn></span>
                </form>
            </div>
            
            <div ng-if="hits <= num_hits">
                Visar alla {{hits}} träffar.
            </div>
        </div>

        <p>Du kan välja att söka i verk av alla författare som finns i Litteraturbanken eller bara en viss författare. Om du väljer en viss författare kan du dessutom välja att söka antingen i samtliga verk av den författaren, eller i ett enstaka verk. Det går också att välja om man vill söka i korrekturläst eller ej korrekturläst text. I träfflistan visas träffar i icke korrekturlästa texter med grå text.</p> 
    </div> -->
    <!-- -->
</div>