<meta-desc>Sök i Litteraturbanken verk</meta-desc>
<page-title> {{pageTitle ? 'Sök: "' + pageTitle + '"' : 'Sök' }} | Litteraturbanken</page-title>
<img bkg-img src="img/sok_bkg.jpg"></img>
<div ng-class="{searching:searching, advanced : advanced}">
    

    <h1>Textsökning <span class="star">*</span> <span ng-show="!advanced" class="sc">ENKEL SÖKNING</span> <span class="sc" ng-show="advanced">AVANCERAD SÖKNING</span> </h1>

    <form class="submit_form" ng-submit="onSearchSubmit(query)">
        <div class="top_row">
            <div class="left_col">
                <input class="query" ng-model="query" autofocus type="text" focusable>
                <i class="spinner fa fa-spinner fa-pulse"></i>
                <button class="submit btn">Sök</button>
                
                <search-opts></search-opts>
                
                
                
                <!-- <div class="slider">
                    <div ui-slider min="0" max="20" ng-model="sliderVal"></div>
            
                </div> -->
            </div>
            
            <div class="right_col">
                <ul class="options">
                    <li ng-repeat="opt in filterOpts">
                        <span ng-click="opt_change(opt)" ng-style="{visibility: opt.selected ? 'visible' : 'hidden'}">✓</span>
                        <a ng-click="opt_change(opt)" ng-bind-html="opt.label | trust"></a>
                    </li>
                </ul>
            
            </div>
        </div>


        <div class="bottom_row">
            <div class="left">
                <div class="auth_select_container" ng-show="auth_select_rendered">
                    <select multiple class="filter_select author_select" ui-select2="authorSelectSetup" ng-model="selectedAuthors" data-placeholder="Författare" >
                        <option value="{{author.author_id}}" ng-repeat="author in getAuthorDatasource() | filter:{searchable : 'true'} | orderBy:'name_for_index'  track by $index" on-finish-render="onAuthSelectRender()">
                            {{author.full_name}}
                        </option>
                    </select> 
                </div>

                <div class="textfields">
                    <div class="checkbox" ng-class="{disabled : isAuthorAboutSearch}" ng-click="isAuthorAboutSearch = false">
                        <div class="check">✓</div>
                        <p class="expl advanced_text auth">
                            För att söka i specifika <span class="sc">författarskap</span>: skriv början på ett namn & välj ett eller flera i listan. (Som förval utförs sökningen i <span class="sc">alla</span> författarskap.) 
                        </p>
                    </div>
                    
                    <div class="checkbox" ng-class="{disabled : !isAuthorAboutSearch}" ng-click="isAuthorAboutSearch = true">
                        <div class="check check2">✓</div>
                        <p class="expl advanced_text auth">
                            Sök i texter som handlar <span class="sc">om ett författarskap</span>. Skriv början på ett namn & välj ett eller flera i listan. (Som förval utförs sökningen i <span class="sc">alla</span> texter.)
                        </p>
                    </div>
                </div>

                <!-- Välj sedan i fältet till höger vilka <span class="sc">titlar</span> av de valda författarna som du vill söka i. (Lämna fältet blankt för att söka i alla deras sökbara texter.) -->
                
            </div>

            <div class="right">
                <div class="title_select_container">
                    <select multiple class="filter_select title_select" ui-select2="titleSelectSetup" ng-model="selectedTitles" data-placeholder="Titlar">
                        <option value="{{title.lbworkid}}" ng-repeat="title in titles | orderBy:titleSort | filter:{searchable : 'true'}">{{title.shorttitle}}</option>
                    </select>
                </div>
                
                <p class="expl advanced_text textfields" ng-show="isAuthorSearch">
                    Lämna fältet ovan tomt för att söka i de valda författarnas <span class="sc">samtliga sökbara verk</span>. Välj ett eller flera verk för att <span class="sc">begränsa</span> sökningen. 
                </p>
                <p class="expl advanced_text textfields" ng-hide="isAuthorSearch">
                    Lämna fältet ovan tomt för att söka i samtliga sökbara verk <span class="sc">om ett visst författarskap</span>. Välj ett eller flera verk för att <span class="sc">begränsa</span> sökningen. 
                </p>
                <!-- <p class="expl advanced_text">
                    Sök i texter som handlar <span class="sc">om ett författarskap</span>. Skriv början på ett namn & välj ett eller flera i listan. (Som förval utförs sökningen i <span class="sc">alla</span> texter.)
                </p> -->
                

                <div class="text simple_text">Vill du göra mer avancerade sökningar i texterna? Då kan du klicka på <a ng-click="advanced = true"><i class="fa fa-play"></i> <span class="sc">Avancerade sökmöjligheter</span></a> </div>
                <div class="text advanced_text">Vill du förenkla sökformuläret? <br>Då kan du klicka på <a ng-click="advanced = false"><i class="fa fa-play"></i> <span class="sc">Enkel sökning</span></a> </div>
            </div>

            
        </div>

        <p ng-show="false" class="expl advanced_text">
            Avgränsa sökningen efter tryckår. Dra i reglagen nedan för att filtrera sökurvalet till ett specifikt tidsspann.
        </p>
        
        
    </form>

    <div class="results_container" ng-class="{searching:searching}" id="results" >
        <!-- <div class="table_viewport" ng-show="kwic" ng-scroll-event="updateOnScrollEvents($event, isEndEvent)"  > -->
        <div class="table_viewport" ng-show="kwic">
            <!-- <div class="table_container" ng-style="{height : totalHeight}" > -->
            <div class="table_container">
                <div ng-if="!searching && kwic && !kwic.length && !searchData.total_hits">Din sökning gav inga träffar</div>
                
            
            
                <table cellspacing="0" class="results" ng-style="{top : table_top}">
                    
                    <!-- <tr on-finish-render="tableRenderComplete()" height="$parent.rowHeights[$index]" ng-repeat="sent in sentsWithHeaders" ng-class="{sentence: !sent.isHeader, even : $even, odd : $odd, is_faksimil : sent.structs.text_mediatype == 'faksimil'}" > -->
                    <tr on-finish-render="tableRenderComplete()" ng-repeat="sent in sentsWithHeaders" ng-class="{sentence: !sent.isHeader, even : $even, odd : $odd, is_faksimil : sent.metadata.mediatype == 'faksimil'}" >
                        <td  colspan="4" ng-if="sent.overflow">
                            <div class="overflow sc">
                                <hr>
                                    <a class="more" ng-click="">Visa fler</a>
                                <hr>
                                
                            </div>
                        </td>
                        <td class="header" colspan="4" ng-if="sent.isHeader">
                            <div class="header_content">
                                <span class="author">{{authorsById[sent.metadata.authors[0].author_id].name_for_index}}</span> <span class="title" tooltip="{{sent.metadata.title}}"><a ng-href="/#!/forfattare/{{sent.metadata.authors[0].author_id}}/titlar/{{sent.metadata.work_title_id}}/{{sent.metadata.mediatype}}?om-boken">{{sent.metadata.title}}</a></span>
                            </div>
                        </td>
                        <!-- <td ng-if="!sent.isHeader" class="num">{{::(sent.index + 1)}}</td>                         -->

                        <td ng-if="sent.highlight" class="left_context"><!--
                            --><span ng-repeat="wd in sent.highlight.left_context" class="word" ng-class="{punct: wd._punct}">{{wd.word}} </span>
                        </td>
                        <td ng-if="sent.highlight" class="match">
                            <span ng-repeat="wd in sent.highlight.match">
                                <!-- ng-href="/#!/forfattare/{{sent.metadata.authors[0].author_id}}/titlar/{{sent.metadata.work_title_id}}/{{sent.metadata.mediatype}}/{{wd.attrs.n}}"  -->
                                <a ng-href="{{::sent.href}}" ng-click="save_search($index)"
                                    class="word" ng-class="{punct: wd._punct}">{{wd.word}}</a>
                            </span>
                        </td>
                        <td ng-if="sent.highlight" class="right_context">
                            <span ng-repeat="wd in sent.highlight.right_context" class="word" ng-class="{punct: wd._punct}">{{wd.word}} </span>
                        </td>
                        
                                <!-- <li ng-repeat="hit in sent.highlight"> -->
                                


                        <!-- <td class="header" colspan="4" ng-if="sent.isHeader">
                            <div class="header_content">

                                <span class="author">{{authorsById[sent.author_id].name_for_index}}</span> <span class="title" tooltip="{{sent.title}}"><a ng-href="/#!/forfattare/{{sent.author_id}}/titlar/{{sent.titlepath[0]}}?om-boken">{{sent.title}}</a></span>
                            </div>
                        </td>
                        <td ng-if="!sent.isHeader" class="num">{{::(sent.index + 1)}}</td>
            
                        <td class="left_context"><span kwic-word="kwic-word" ng-repeat="wd in selectLeft(sent)"></span></td>
                        <td class="match">
                            <a ng-href="{{::sent.href}}" ng-click="save_search($index)">
                                <span kwic-word="kwic-word" ng-repeat="wd in selectMatch(sent)"></span>
                            </a>
                        </td>
                        <td class="right_context"><span kwic-word="kwic-word" ng-repeat="wd in selectRight(sent)"></span></td> -->
                    </tr>
                </table>
                
            
            
            </div>
        </div>
        
    </div>

    <div toolkit>
        <div class="littb_pager" ng-if="kwic">
            <div>


                <div class="hits_info">
                    <div><div class="hits" ng-show="searchData.total_hits">{{searchData.total_hits}}</div> 
                        <div class="hits_sub">
                            <span ng-show="searchData.total_hits > 1">sökträffar</span>
                            <span ng-show="searchData.total_hits == 1">sökträff</span>
                        </div>
                    </div>

                </div>

                Visar {{current_page  * num_hits + 1}}-{{getMaxHit()}} av 
                {{doc_hits}} träffar,
                sida {{current_page + 1}} av {{total_pages}}.

                <ul class="ctrl" ng-show="doc_hits > 1">
                    <!-- <li>
                        <a ng-click="nextPage()">Gå till {{(current_page + 1) * num_hits + 1}}-{{getMaxHit() + num_hits}}</a>
                    </li> -->
                    <!-- <li><a href="">Sortera på efternamn</a> <span role="checkbox" aria-checked="{{opt.selected}}">✓</span></li>
                    <li><a href="">Sortera efter tryckår</a></li>
                    <li><a href="">Sortera efter sökord</a></li> -->


                    <li class="arrows">
                        <button rel="next" class="submit btn navicon left" ng-click="prevPage()">
                            <i class="fa fa-angle-left"></i>
                        </button>
                        <button rel="prev" class="submit btn navicon" ng-click="nextPage()">
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </li>


                    <!-- <li>
                        <a ng-click="prevPage()">Gå bakåt en träff</a>
                    </li> -->
                    <li>
                        <a ng-click="firstPage()">Gå till första träffen</a>
                    </li>
                    <li>
                        <a ng-click="lastPage()">Gå till sista träffen</a>
                    </li>
                    <li ng-disabled="total_pages == 1" ng-class="{open : showGotoHitInput}"><a ng-disabled="total_pages == 1" ng-click="onGotoHitInput()">Gå till träffsida . . .</a> 
                        <form ng-submit="gotoPage(gotoHitInput - 1)" ng-show="showGotoHitInput">
                            <input focusable type="text" ng-model="gotoHitInput"> <i ng-show="showGotoHitInput" class="fa fa-angle-double-right"></i>    
                        </form>
                    </li>
                </ul>
            
                <!-- <label>Gå till träffsida</label>
                <form ng-submit="setPageNum(input_page - 1)">
                    <input class="input_page" ng-model="input_page"><span ng-click="setPageNum(input_page - 1)" submit-btn></span>
                </form> -->
            </div>
            
        </div>
        <ul class="navigator" ng-show="kwic.length" ng-style="{'max-height': container_height}">
            <li><a ng-click="resetAuthorFilter()" ng-class="{selected : !nav_filter}">Visa alla</a></li>
            <li ng-repeat="obj in authorStatsData"  >
                <!-- <a ng-class="{selected: obj.pos == current_page}" ng-click="gotoPage(obj.pos)">{{obj.author}}</a> -->
                <a  ng-class="{selected : nav_filter == obj.author_id}" 
                    ng-click="setAuthorFilter(obj.author_id)">{{authorsById[obj.author_id].surname}}</a>
                {{obj.doc_count}}
            </li>
        </ul>



        <!-- <p>Du kan välja att söka i verk av alla författare som finns i Litteraturbanken eller bara en viss författare. Om du väljer en viss författare kan du dessutom välja att söka antingen i samtliga verk av den författaren, eller i ett enstaka verk. Det går också att välja om man vill söka i korrekturläst eller ej korrekturläst text. I träfflistan visas träffar i icke korrekturlästa texter med grå text.</p>  -->
    </div>


    <!-- <div class="box_container">
       <ul class="box">
           <li ng-repeat="author in authors | orderBy:'name_for_index'" ng-click="author.checked = !author.checked">
               <span ng-style="{visibility: author.checked ? 'visible' : 'hidden'}">✓</span><span  >{{author.name_for_index}} {{author | authorYear}}</span>
           </li>
       </ul>
    </div> -->


    <!-- <div toolkit toolkit-id="toolkit-right">
        <form action=""><input type="text"><button class="btn">Sök</button></form>
        <ul>
            <li><a href="">Sök efter del av ord</a></li>
            <li><a href="">Sök efter ordbörjan</a></li>
            <li><a href="">Sök efter ordslut</a></li>
        </ul>

        <ul>
            <li><a href="">Sök i skönlitterära texter</a></li>
            <li><a href="">Sök i facklitterära texter</a></li>
            <li><a href="">Sök i översättningar till svenska</a></li>
            <li><a href="">Sök i korrekturlästa texter</a></li>
            <li><a href="">Sök i ej korrekturlästa texter</a></li>
        </ul>

    </div> -->



    
    <!-- 
    <div class="header">
        <h1>Sök i texterna</h1>
        <div class="clearfix"></div>
    </div>
    
    
    <form ng-submit="current_page = 0; search()">
        <label class="query_label" for="query">Ord eller fras:</label> <input id="query" class="input" ng-model="query" autofocus>
    </form>
    
    <div class="extended">
        <h3>Urval</h3>
        <div class="columns">
            <div class="left">
                <label for="author_select">Författare</label>
                <select id="author_select"
                        ng-model="selected_author"
                        ng-change="authorChange()"
                        ng-options="author.name_for_index for author in authors | filter:{searchable : 'true'}" >
                    <option value="">Alla författare</option>
                </select>
            </div>
            <div class="right">
                <label for="title_select">Titel: (välj författare först)</label>
                <select id="title_select" 
                        ng-model="selected_title" 
                        ng-change="titleChange()"
                        ng-options="title.showtitle for title in titles | filter:{searchable: 'true'} | filter: checkProof | orderBy:titleSort ">
    
                    <option value="">Allt tillgängligt</option>
                </select>
            </div>
        </div>
        <div class="chks">
            Sök i:
            <input id="yes" type="radio" ng-model="proofread" value="yes">
            <label for="yes" ng-click="proofread = 'yes'">korrekturläst</label>
            <input id="no" type="radio" ng-model="proofread" value="no">
            <label for="no" ng-click="proofread = 'no'">ej korrekturläst</label>
            <input id="all" type="radio" ng-model="proofread" value="all">
            <label for="all" ng-click="proofread = 'all'">allt</label>
        </div>
        <div class="also_include">
            Även som: <input ng-change="infix = false" type="checkbox" ng-model="prefix" id="prefix"> <label for="prefix">ordbörjan</label> <input ng-change="infix = false" type="checkbox" id="suffix" ng-model="suffix"> <label for="suffix">ordslut</label>
            eller <input type="checkbox" id="infix" ng-model="infix" ng-change="prefix = false; suffix = false"> 
            <label for="infix">del av ord</label>
        </div>
    </div>
    
    <div><span ng-click="current_page = 0; search()" submit-btn></span><div style="clear:both;"></div></div>
    
    
    
    <div class="n_pages">Visa
        <select id="num_hits" ng-model="num_hits" ng-change="nHitsChange()"
            ng-options="num for num in [10, 20, 50, 100, 250, 500]" ng-change="search(query)">
        </select>
        träffar per sida.
    </div>
    
    
    <div toolkit>
        <hr>

        <div class="littb_pager" ng-show="kwic && hits">
            <div ng-if="hits > num_hits">
                Visar {{current_page  * num_hits + 1}}-{{getMaxHit()}} av 
                {{hits}} träffar,
                sida {{current_page + 1}} av {{total_pages}}.

                <div class="ctrl">
                    <a ng-click="firstPage()"><img src="bilder/LBstart.png"></a>
                    <a ng-click="prevPage()"><img src="bilder/LBforegaende.png"></a>
                    <a ng-click="nextPage()"><img src="bilder/LBnasta.png"></a>
                    <a ng-click="lastPage()"><img src="bilder/LBslut.png"></a>
                </div>
            
                <label>Gå till träffsida</label>
                <form ng-submit="setPageNum(input_page - 1)">
                    <input class="input_page" ng-model="input_page"><span ng-click="setPageNum(input_page - 1)" submit-btn></span>
                </form>
            </div>
            
            <div ng-if="hits <= num_hits">
                Visar alla {{hits}} träffar.
            </div>
        </div>

        <p>Du kan välja att söka i verk av alla författare som finns i Litteraturbanken eller bara en viss författare. Om du väljer en viss författare kan du dessutom välja att söka antingen i samtliga verk av den författaren, eller i ett enstaka verk. Det går också att välja om man vill söka i korrekturläst eller ej korrekturläst text. I träfflistan visas träffar i icke korrekturlästa texter med grå text.</p> 
    </div> -->
    <!-- -->
</div>