<meta-desc>Sök i Litteraturbankens verk</meta-desc>
<page-title> {{pageTitle ? 'Sök: "' + pageTitle + '"' : 'Sök' }}</page-title>
<!-- <img bkg-img src="img/sok_bkg.jpg"></img> -->
<div ng-class="{searching:searching, advanced : advanced, simple: !advanced}">
    

    <h1>Textsökning <span class="hidden lg:inline"><span class="star">*</span> <span ng-show="!advanced" class="sc">ENKEL SÖKNING</span> <span class="sc" ng-show="advanced">AVANCERAD SÖKNING</span></span> </h1>

    <form class="submit_form" ng-submit="onSearchSubmit(query)">
        <div class="top_row -mt-2 flex max-w-full ">
            <input class="query py-1 mt-2" ng-model="query" autofocus type="search" focusable >
            <i ng-show="searching" class="spinner fa fa-spinner fa-pulse mt-2"></i>
            <button ng-hide="searching" class="submit mt-2 mr-2 bg-white bg-opacity-75 border border-gray-500 px-3 uppercase sc">Sök</button>

            <button class="reset sc mt-2 uppercase border border-gray-500 bg-white bg-opacity-25 px-4 py-2 hover:bg-white ng-fade transition duration-200 focus:outline-none" ng-click="resetView($event)" ng-show="!isPristine()">
                Återställ
            </button>
            
        </div>
        <search-opts class=""></search-opts>
            
        <chronology 
            class="block max-w-3xl pr-2 "
            from="filters['sort_date_imprint.date:range'][0]" 
            to="filters['sort_date_imprint.date:range'][1]" 
            change="onSliderChange()">
        </chronology>

        <div class="bottom_row">
                <div class="left">
                    <div class="auth_select_container">
                        <select multiple class="filter_select author_select" 
                                ui-select2="authorSelectSetup" 
                                ng-model="filters['authors>authorid']" 
                                data-placeholder="Författare" 
                                ng-change="onAuthChange()">
                            <option value=""></option>
                            <option value='{{author.authorid}}' ng-repeat="author in authors">
                                <span class="surname">{{author.name_for_index.split(',')[0] + (author.name_for_index.split(',').length > 1 ? ", " : "")}}</span>
                                                                    {{author.name_for_index.split(",")[1]}} {{author | authorYear}}
                            </option>
                        </select> 
                        <i ng-if="loadingAuthors" class="spinner fa fa-spinner fa-pulse"></i>
                    </div>
                    <div class="title_select_container">
                        <select multiple class="filter_select title_select" ui-select2="titleSelectSetup" ng-model="selectedTitles" data-placeholder="Titlar" ng-change="onTitleChange()">
                            <!-- <option ng-if="titles_hits > 30" disabled>Visar de första 30 titlarna</option> -->
                            <option ng-if="titles_hits > 30 && !filters['authors>author_id'].length" disabled>Visar de första 30 titlarna</option>
                            <option value="{{title.lbworkid}}" ng-repeat="title in titles">{{title.shorttitle || title.title}}</option>
                            <!-- <option ng-click="onAllTitlesClick()">Visa alla</option> -->
                        </select>

                        <i ng-if="loadingTitles" class="spinner fa fa-spinner fa-pulse"></i>

                    </div>
                    <div class="about_select_container">
                        <select multiple class="filter_select about_select"
                                ui-select2="authorSelectSetup"
                                ng-model="filters['authorkeyword>authorid']" 
                                data-placeholder="Om ett författarskap" 
                                ng-change="onAboutAuthorChange($event)">
                        <option value=""></option>
                        <option value='{{authorid}}' ng-repeat="authorid in aboutAuthors">{{authorsById[authorid].full_name}}</option>
                    </select>
                    </div>


                    <!-- <div class="textfields">
                        <div class="checkbox" ng-class="{disabled : isAuthorAboutSearch}" ng-click="isAuthorAboutSearch = false">
                            <div class="check">✓</div>
                            <p class="expl advanced_text auth">
                                För att söka i specifika <span class="sc">författarskap</span>: skriv början på ett namn & välj ett eller flera i listan. (Som förval utförs sökningen i <span class="sc">alla</span> författarskap.) 
                            </p>
                        </div>
                        
                        <div class="checkbox" ng-class="{disabled : !isAuthorAboutSearch}" ng-click="isAuthorAboutSearch = true">
                            <div class="check check2">✓</div>
                            <p class="expl advanced_text auth">
                                Sök i texter som handlar <span class="sc">om ett författarskap</span>. Skriv början på ett namn & välj ett eller flera i listan. (Som förval utförs sökningen i <span class="sc">alla</span> texter.)
                            </p>
                        </div>
                    </div> -->

                    <!-- Välj sedan i fältet till höger vilka <span class="sc">titlar</span> av de valda författarna som du vill söka i. (Lämna fältet blankt för att söka i alla deras sökbara texter.) -->
                    
                </div>


                <div class="right">

                    <div class="title_select_container">
                        <select multiple class="filter_select keyword_select" ui-select2 
                                ng-model="filters.keywords" data-placeholder="Välj samling" 
                                ng-change="onKeywordChange()" >
                            <option value=""></option>
                            <option value="texttype:brev,brevsamling">Brev</option>
                            <option value="texttype:drama,dramasamling">Dramatik</option>
                            <option value="texttype:novellsamling;novell">Noveller</option>
                            <option value="texttype:diktsamling;dikt">Poesi</option>
                            <option value="texttype:roman">Romaner</option>
                            <option value="texttype:herdaminne">Herdaminnen</option>
                            <option value='keyword:Barnlitteratur'>Barn- och ungdomslitteratur</option>
                            <option value='keyword:Finlandssvenskt'>Finlandssvensk litteratur</option>
                            <option value='keyword:Humor'>Humor</option>
                            <option value='keyword:Sapmi'>Sápmi</option>
                            <option value='keyword:Folktryck'>Skillingtryck och folktryck</option>
                            <option value="texttype:reseskildring">Reseskildringar</option>
                            <option value='keyword:Rösträtt'>Rösträtt</option>
                            <option value='keyword:Dramawebben'>Dramawebben</option>
                            <option value='keyword:SLS-FI'>SLS Finland</option>
                            <option value='provenance.library:SVELITT'>SLS Sverige</option>
                            <option value='provenance.library:SFS'>Svenska fornskriftsällskapet</option>
                            <option value='provenance.library:SVS'>Svenska vitterhetssamfundet</option>
                            <option value='provenance.library:SVA'>Svenskt visarkiv</option>
                            <option value='keyword:1800'>Nya vägar till det förflutna</option>
                            <option value='keyword:sentpajorden'>Sent på jorden</option>
                            <option value='keyword:OrdenPrövas'>Orden prövas. Harry Martinson</option>
                        </select>
                    </div>

                    

                    <div class="mb-1">
                    <select  class="gender_select" 
                             ui-select2="{minimumResultsForSearch: -1}" 
                             ng-model="filters['main_author.gender']" 
                             data-placeholder="Välj kön" >
                        <option value=""></option>
                        <option value="all">Alla författare</option>
                        <option value="female">Kvinnliga författare</option>    
                        <option value="male">Manliga författare</option>
                    </select>
                    </div>

                    <div class="lang_select_container">
                        <select multiple class="filter_select lang_select" ui-select2 ng-model="filters.languages" data-placeholder="Språk …">
                            <option value=""></option>
                            <option value="modernized:true">Moderniserat språk</option>
                            <option value="modernized:false">Ej moderniserat språk</option>
                            <option value="proofread:true">Korrekturläst</option>
                            <option value="proofread:false">Ej korrekturläst</option>
                            <option value="language:swe">Svenska</option>
                            <option value="language:eng">Engelska</option>
                            <option value="language:deu">Tyska</option>
                            <option value="language:fra">Franska</option>
                            <option value="language:lat">Latin</option>
                            <option value="language:smi">Samiska språk</option>
                            <!-- <option value="">Skrivet av kvinnor</option>
                            <option value="">Skrivet av män</option> -->
                        </select>
                    </div>
                    

                </div>
            </div>
                <div class="text simple_text max-w-sm">Vill du göra mer avancerade sökningar i texterna?<br> Då kan du klicka på <a ng-click="advanced = true"><i class="fa fa-play"></i> <span class="sc">Avancerade sökmöjligheter</span></a> </div>
                <div class="text advanced_text">Vill du förenkla sökformuläret? <br>Då kan du klicka på <a ng-click="advanced = false"><i class="fa fa-play"></i> <span class="sc">Enkel sökning</span></a> </div>
            

        <p ng-show="false" class="expl advanced_text">
            Avgränsa sökningen efter tryckår. Dra i reglagen nedan för att filtrera sökurvalet till ett specifikt tidsspann.
        </p>
        
        
    </form>

    <div class="row results_container" ng-class="{searching:searching}" id="results" >
        <!-- <div class="table_viewport" ng-show="kwic" ng-scroll-event="updateOnScrollEvents($event, isEndEvent)"  > -->
        <div class="table_viewport" ng-show="getSentsWithHeadersFromState()">
            <!-- <div class="table_container" ng-style="{height : totalHeight}" > -->
            <div class="table_container">
                <div ng-if="!searching && getSentsWithHeadersFromState() && !getSentsWithHeadersFromState().length && !searchData.total_hits">Din sökning gav inga träffar</div>
                
            
            
                <table cellspacing="0" class="results" ng-style="{top : table_top}">
                    
                    <tr 
                        on-finish-render="tableRenderComplete()" 
                        ng-repeat="sent in getSentsWithHeadersFromState()" 
                        ng-class="{sentence: !sent.isHeader, even : $even, odd : $odd, is_faksimil : sent.metadata.mediatype == 'faksimil'}" >

                        <td ng-if="sent.overflow"></td>
                        <td ng-if="sent.overflow">
                            <div class="overflow sc">
                                <hr>
                                    <a class="more" ng-click="searchAllInWork(sent, $index)">Visa fler</a>
                                <hr>
                                
                            </div>
                        </td>
                        <td class="header" colspan="4" ng-if="sent.isHeader">
                            <div class="header_content" uib-tooltip="{{sent.metadata.title}}">
                                <span class="author">{{authorsById[sent.metadata.authors[0].authorid].name_for_index}}</span> <span class="title" >
                                    <a ng-href="{{::sent.href}}" ng-click="save_search($index)">
                                        {{sent.metadata.title}}
                                    </a></span>
                            </div>
                        </td>

                        <td ng-if="sent.highlight" class="left_context"><!--
                            --><span ng-repeat="wd in sent.highlight.left_context" class="word" ng-class="{punct: wd._punct}">{{wd.word}} </span>
                        </td>
                        <td ng-if="sent.highlight" class="match w-px whitespace-nowrap">
                            <span ng-repeat="wd in sent.highlight.match">
                                <a ng-href="{{::sent.href}}" ng-click="save_search($index)"
                                    class="word" ng-class="{punct: wd._punct}">{{wd.word}}</a>
                            </span>
                        </td>
                        <td ng-if="sent.highlight" class="right_context">
                            <span ng-repeat="wd in sent.highlight.right_context" class="word" ng-class="{punct: wd._punct}">{{wd.word}} </span>
                        </td>
                        
                    </tr>
                </table>
                
            
            
            </div>
        </div>
        
    </div>

    <div toolkit>
        <div class="littb_pager" ng-if="getSentsWithHeadersFromState()">
            <div>


                <div class="hits_info">
                    <div><div class="hits" ng-show="searchData.total_hits">{{searchData.total_hits}}</div> 
                        <div class="hits_sub">
                            <span ng-show="searchData.total_hits > 1">sökträffar</span>
                            <span ng-show="searchData.total_hits == 1">sökträff</span>
                        </div>
                    </div>

                </div>

                Visar verk {{current_page  * num_hits + 1}}-{{getMaxHit()}} av 
                {{doc_hits}},
                sida {{current_page + 1}} av {{total_pages}}.

                <ul class="ctrl" ng-show="doc_hits > 1">
                    <!-- <li>
                        <a ng-click="nextPage()">Gå till {{(current_page + 1) * num_hits + 1}}-{{getMaxHit() + num_hits}}</a>
                    </li> -->
                    <!-- <li><a href="">Sortera på efternamn</a> <span role="checkbox" aria-checked="{{opt.selected}}">✓</span></li>
                    <li><a href="">Sortera efter tryckår</a></li>
                    <li><a href="">Sortera efter sökord</a></li> -->


                    <li class="arrows">
                        <button rel="next" class="submit btn navicon left"
                            ng-click="prevPage()"
                            ng-disabled="current_page == 0">
                            <i class="fa fa-angle-left"></i>
                        </button>
                        <button rel="prev" class="submit btn navicon"
                            ng-click="nextPage()"
                            ng-disabled="(current_page + 1) == total_pages">
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </li>


                    <!-- <li>
                        <a ng-click="prevPage()">Gå bakåt en träff</a>
                    </li> -->
                    <li>
                        <a ng-click="firstPage()">Gå till första träffen</a>
                    </li>
                    <li>
                        <a ng-click="lastPage()">Gå till sista träffen</a>
                    </li>
                    <li ng-disabled="total_pages == 1" ng-class="{open : showGotoHitInput}"><a ng-disabled="total_pages == 1" ng-click="onGotoHitInput()">Gå till träffsida . . .</a> 
                        <form ng-submit="gotoPage(gotoHitInput - 1)" ng-show="showGotoHitInput">
                            <input focusable type="text" ng-model="gotoHitInput"> <i ng-show="showGotoHitInput" class="fa fa-angle-double-right"></i>    
                        </form>
                    </li>
                </ul>
            
                <!-- <label>Gå till träffsida</label>
                <form ng-submit="setPageNum(input_page - 1)">
                    <input class="input_page" ng-model="input_page"><span ng-click="setPageNum(input_page - 1)" submit-btn></span>
                </form> -->
            </div>
            
        </div>
        <ul class="hidden md:block navigator" ng-hide="!getSentsWithHeadersFromState().length" ng-style="{'max-height': container_height}">
            <li><a ng-click="resetAuthorFilter()" ng-class="{selected : !nav_filter}">Visa alla</a></li>

            <li ng-repeat="obj in authorStatsData"  >
                <!-- <a ng-class="{selected: obj.pos == current_page}" ng-click="gotoPage(obj.pos)">{{obj.author}}</a> -->
                <a  ng-class="{selected : nav_filter == obj.authorid}" 
                    ng-click="setAuthorFilter(obj.authorid)">{{authorsById[obj.authorid].surname}}</a>
                <!-- {{obj.doc_count}} -->
            </li>
        </ul>



    </div>

    <!-- -->
</div>
