<h3 class="author">{{data.authorFullname}}</h3>
<h3 class="title"><em>{{data.title}}</em></h3>

<div ng-show="mediatype == 'faksimil'">
    <div ng-bind-html-unsafe="data.sourcedesc"></div>
</div>

<div>
    Läs verket som <a class="mediatype" href="#forfattare/{{author}}/titlar/{{title}}/{{mediatype}}">{{mediatype}}</a>
</div>
<div ng-show="data.mediatypes.length > 1">
    Även tillgängligt som 
    <a class="mediatype" ng-repeat="mediatype in getOtherMediatypes()" href="#forfattare/{{author}}/titlar/{{title}}/{{mediatype}}">{{mediatype}} </a>
</div>

<div ng-show="!mediatype || mediatype == 'etext'">
    <div>I etexten har följande ändringar gjorts mot originalet:</div>
    <div ng-bind-html-unsafe="data.errata"></div>
</div>

<div toolkit>
    <hr>
    <div>{{data.authorFullname}}</div>
    <div><em>{{data.shorttitle}}</em></div>
</div>