<page-title>{{getValidAuthors() | formatAuthors:false:true}} – {{workinfo.title}}. Om boken</page-title>
<meta-desc>{{getValidAuthors() | formatAuthors:false:true}} – {{workinfo.title}}. Om boken</meta-desc>
<div class="maincontent" ng-class="{searching:!workinfo}" ng-controller="sourceInfoCtrl">
    <div ng-show="loading" class="preloader">Hämtar <span class="dots_blink"></span></div>
    <div ng-if="error" class="error">Ett fel har uppstått.</div>

    <div class="header header_left">
        <h2 class="author sc" ng-bind-html="getValidAuthors() | formatAuthors:true | trust"></h2>
        <h2 class="title"><span>{{workinfo.title}}</span></h2>
    </div>
    <!-- <div class="header_right" >
    </div>
 -->
    <!-- <div class="large_img" ng-class="{visible : show_large}">


        <img ng-show="workinfo.lbworkid && show_large" ng-src="txt/{{workinfo.lbworkid}}/{{workinfo.lbworkid}}_large.jpeg">
        <div class="cover"></div>
    </div> -->
    <div class="columns">
        <div class="col_left">
            <p class="sourcedesc" ng-bind-html="workinfo.sourcedesc | trust"></p>
            <div class="mb-8 text-right italic " >
                <span ng-if="authorById[workinfo.sourcedescAuthor]">{{authorById[workinfo.sourcedescAuthor].full_name}}</span>
                <span ng-if="!authorById[workinfo.sourcedescAuthor]">{{workinfo.sourcedescAuthor}}</span>
            </div>
            
            <div ng-show="workinfo.mediatype" class="mediatypes" ng-class="{larger : workinfo.workintro}" ng-hide="workinfo.mediatype == 'infopost'">
                Läs som <a class="sc hover:underline" ng-href="{{workinfo.mediatypes[0].url}}">{{workinfo.mediatypes[0].label}}</a>
                <span ng-show="(workinfo | readMediatypes).length > 1">
                    eller <a class="sc hover:underline" ng-href="{{(workinfo | readMediatypes)[1].url}}">{{(workinfo | readMediatypes)[1].label}}</a>
                </span>
            </div>
            <div ng-show="(workinfo | downloadMediatypes).length" class="mediatypes_also" ng-class="{larger : workinfo.workintro}" >  
                Ladda ner 
                <!-- <a class="sc hover:underline" ng-href="{{(item.url}}" target="_self" download="{{item.filename}}.pdf" 
                    ng-click="log(workinfo, item.label)" ng-touch="log(workinfo, item.label)" -->
                <span ng-repeat="item in (workinfo | downloadMediatypes)">
                    <span ng-if="!$first && $last">eller</span>
                        <a class="sc hover:underline" 
                                 ng-href="{{item.url}}"
                                 target="_self"
                                 download="{{item.filename}}.{{item.label}}"
                                 ng-click="log(workinfo, item.label)" 
                                 ng-touch="log(workinfo, item.label)"
                        >{{item.label}} <span ng-if="item.filesize">({{item.filesize}})</span>
                        </a> 
                </span>
                

            </div>

            
            <div class="mediatypes sc"
            ng-class="{larger : workinfo.workintro}"
            ng-show="workinfo.librisid" 
            >Verket i <a class="hover:underline" ng-href="{{'https://libris.kb.se/bib/' + workinfo.librisid}}" target="_blank">Libris</a></div>
            
            <div class="dw_logo" ng-show="workinfo.dramawebben && workinfo.dramawebben.workintro"><a href="/dramawebben"><img class="logo" src="../img/dramawebben_svart.svg" alt="Dramawebben"></a></div>
            
            <div ng-if="workinfo.urn">
                <details class="urn mt-2 text-sm cursor-pointer">
                    <summary>Hänvisa till detta verk</summary>

                    <div class="cursor-auto ml-4 border-l pl-4 mt-2">
                        <p>URN är en permanent länk till ett digitalt objekt. Denna {{mediatype}}s URN är:  <code class="text-xs">https://urn.kb.se/resolve?urn={{workinfo.urn}}</code>
                        <p class="mt-2">
                            Använd denna länk när du hänvisar till verket
                            så hittar du till fram även om det skulle flyttas i framtiden.
                        </p>
                    </p>
                    <p class="mt-2"><a href="https://www.kb.se/isbn-och-utgivning/urnnbn.html" target="_blank">Läs mer om URN (extern länk).</a></p>
                    </div>
                </details>
            </div>
        </div>



        <div class="col_right">
            <img class="border border-gray-200" 
                ng-show="workinfo.lbworkid" 
                ng-srcset="{{getSourceImage()}}" 
                ng-click="showLargeImage($event)" 
                width="200"
                onerror="this.style.display = 'none';" >
        </div>
    </div>
    
    <h3 class="sc introheader" ng-if="workinfo.dramawebben.workintro">Handling</h3>
    <div class="workintro mt-4" ng-if="workinfo.workintro" ng-bind-html="workinfo.workintro | trust"></div>
    <!-- <div class="mt-4 text-right italic">{{workinfo.workintro_author}}</div> -->
    <div class="mb-8 text-right italic " >
        <span ng-if="authorById[workinfo.workintro_author]">{{authorById[workinfo.workintro_author].full_name}}</span>
        <span ng-if="!authorById[workinfo.workintro_author]">{{workinfo.workintro_author}}</span>
    </div>

    <div class="dramaweb" ng-if="dramaweb">
        <table>
            <thead></thead>
            <tbody>
                <tr ng-repeat="pair in dramaweb.orderedData">
                    <td>{{dramaweb.getLabel(pair[0])}}</td>
                    <td ng-bind-html="dramaweb.format(pair[0])(pair[1]) | trust"></td>
                </tr>
            </tbody>

        </table>

        <div ng-if="dramaweb.roles">
            <h3 class="heading"> {{dramaweb.getLabel('roles')}} </h3>
            <div ng-bind-html="dramaweb.format('roles')(dramaweb.roles) | trust"></div>

        </div>
        <div ng-if="dramaweb.history">
            <h3 class="heading">
                {{dramaweb.getLabel('history')}}
            </h3>
            <div class="history" ng-bind-html="dramaweb.history | trust"></div>

        </div>
        
        
        
    </div>
    
    <div class="provenance" ng-repeat="prov in provenanceData">
        <a class="block mb-4" ng-href="{{prov.link}}" ng-if="prov.image"><img class="logo" width="75" height="75" ng-src="red/bilder/gemensamt/{{prov.image}}"></a>
        <p>{{prov.text}}</p>
    </div>

    <!-- <div ng-repeat="prov in workinfo.provenance track by $index" class="provenance">
        <a ng-href="{{prov.link}}" ng-if="prov.image"><img ng-src="red/bilder/gemensamt/{{prov.image}}"></a>
        <p>{{prov.text}}</p>
    </div> -->

    <!-- onerror="this.style.visibility = 'hidden'" -->
    
    <div class="license mt-4" ng-if="licenseData" ng-class="{drama: dramaweb}" ng-bind-html="licenseData | correctLink | trust"></div>
    
    <div class="errata" ng-show="mediatype == 'etext'">
        <div class="header" ng-show="workinfo.errata.length">I {{mediatype}}en har följande ändringar gjorts mot originalet:</div>
        <div ng-show="!workinfo.errata">Inga ändringar har gjorts mot orginalet.</div>
        <table class="errata_table">
            <tr ng-repeat="tup in workinfo.errata | limitTo:errataLimit">
                <td>{{tup[0]}}</td>
                <td ng-bind-html="tup[1] | trust"></td>
            </tr>
        </table>
        <a class="toggle sc" ng-click="toggleErrata()" ng-show="!isOpen && workinfo.errata.length > defaultErrataLimit">Visa fler</a>
        <a class="toggle sc" ng-click="toggleErrata()" ng-show="isOpen">Visa färre</a>
    </div>

    <div class="clearfix"></div>

    <div class="mt-4 text-sm" ng-if="similar && similar.length">
        <hr class="mt-8 mb-4">
        
        <h3 class="text-lg">Läs gärna också</h3>

        <table >
            <tr ng-repeat="work in similar">
               <td class="text-right pr-4"><span class="sc text-primary">{{work.main_author.surname}}</span></td> 
               <td><a ng-href="/författare/{{work.main_author.authorid}}/titlar/{{work.titleid}}/sida/{{work.startpagename}}/{{work.mediatype}}">{{work.shorttitle || work.showtitle || work.title}}</a></td> 
            </tr>
                 
        </table>
    </div>
</div>

<!-- <div toolkit>
    <hr>
    <span ng-bind-html="getValidAuthors() | formatAuthors:true | trust"></span>
    <div><em><a ng-href="/författare/{{author}}/titlar/{{workinfo.titlepathNorm.split('/')[0]}}/{{workinfo.mediatypes[0]}}">{{workinfo.shorttitle || workinfo.showtitle || workinfo.title}}</a></em></div>
</div> -->
