<meta-desc>
    På Litteraturbanken kan du söka bland hundratals kända svenska författare och svenska klassiska verk och ladda ner eböcker gratis.
</meta-desc>



<div class="center_col">
    <h1>Litteraturbanken</h1>
    <h2 class="caps">Nytt <i class="no-caps">&</i> anmärkningsvärt</h2>
    
    <div ng-include="'/red/om/start/startsida-ny.html?' + cacheKiller()"></div>
    
    
    <!--<div class="buttons">
        <button>Sök författare</button>
        <button>Sök efter titel</button>
         <button>Sök i texterna</button>
    </div> -->

    
</div>

<!-- <div class="start-quote-block">

  <div class="start-quote sc">Husen, dem vi bebo,<br>
      äro urtidskojor i jämförelse <br>
      med den conception av en <br> 
      människoboning vi bära <br> 
      inom oss  
  </div>

      <div class="start-quote-source">
        <span class="author">Edith Södergran</span><br>
        <span class="title">Brokiga iakttagelser</span>
      </div>
</div>
 -->
<!-- <div toolkit>
Sök författare
    <form ng-submit="goto('/forfattare?authorFilter=' + author)">
        <input type="text" ng-model="author"><span submit-btn ng-click="goto('/forfattare?authorFilter=' + author)"></span>
    </form>
    Sök verk
    <form ng-submit="gotoTitle(title)">
        <input type="text" ng-model="title"><span submit-btn ng-click="gotoTitle(title)"></span>
    </form>

    Sök i texterna
    <form ng-submit="goto('/sok?fras=' + text)">
        <input type="text" ng-model="text"><span submit-btn ng-click="goto('/sok?fras=' + text)"></span>
    </form></div>
 -->