<meta-desc>Statistik för Litteraturbanken.</meta-desc>
<div class="content stats" ng-show="statsData" ng-controller="statsCtrl">
    
    <h3>Litteraturbanken innehåller just nu</h3>
    
    <ul>
        <li>{{statsData.works | numberFmt}} verk</li>
        <li>{{statsData.authors | numberFmt}} författare</li>
        <li>{{statsData.pages.etext | numberFmt}} sidor etext</li>
        <li>{{statsData.pages.faksimil | numberFmt}} sidor faksimil</li>
        <li>{{statsData.words.etext + statsData.words.faksimil | numberFmt}} ord</li>
        <li>{{statsData.epubs | numberFmt}} epubfiler</li>
    </ul>
    
    <h3>De mest lästa verken</h3>
    <ul>
        <li ng-repeat="title in titleList">
            <span class="num">{{$index + 1}}. </span> <a ng-href="/forfattare/{{title.authors[0].author_id}}/titlar/{{title.title_id}}/sida/{{title.startpagename}}/{{title.mediatype}}">{{title.shorttitle || title.title}}</a>
            

            <a class="author pull-right" ng-href="/forfattare/{{title.authors[0].author_id}}">{{title.authors[0].surname || title.authors[0].full_name}}</a>
        </li>
    </ul>
    <h3>De mest nedladdade epubarna</h3>
    <ul>
        <li ng-repeat="title in epubList">
            <span class="num">{{$index + 1}}. </span> <a ng-href="/txt/epub/{{title.authors[0].author_id}}_{{title.work_title_id || title.title_id}}.epub" download target="_self">{{title.shorttitle || title.title}}</a>
            <a class="author pull-right" ng-href="/forfattare/{{title.authors[0].author_id}}">{{title.authors[0].surname || title.authors[0].full_name}}</a>
    
        </li>
    </ul>
</div>