.lb-logo {
	/* nytt sätt att ange logotypfärger:
	--logo-l-color: var(--primary-color);
	--logo-b-color: white;
	Default är white på L:et och white på B:et*/ 
}    
.sa-logo {
	/* ange loggans ljushet. 6 är mörkare, 10 är helvit.  */
	--sa-logo-brightness: 10;
}
html {
    background-color: #333;
}
.page-start, .page-start a {
	color: white;
}

/* mouse over link LB-färg color: #7a1400; */
.page-start a:not(.logo_link_monogram):hover {
	color: white;
	opacity: 0.5;
}

.page-start .mainnav a:hover {
	opacity: 0.5;
	color: white;
}


.page-start #mainview .center_col {
    margin-left: 3em;
    text-align: left;
}

.page-start #mainview .news li {
	}


.page-start #mainview .center_col h1 {

}

.page-start #mainview .center_col h2 {
    margin-top : 0;
}


/* unvisited link */
.page-start a:link {
}

/* visited link */
.page-start a:visited {
}


/* selected link */
.page-start a:active {
}


.page-start .start_divider1 {
	height:1px;
background:#717171;
width: 57%;
border-bottom:1px solid #313030;
}

.page-start .start_divider2 {
	height:1px;
background:#717171;
width: 70%;
border-bottom:1px solid white;
}

	

.page-start .start_headline {
	font-size: 1.3em;
	text-transform: uppercase;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	}
	
.page-start .start_top_author {
	font-size: 1.5em;
	text-transform: uppercase;
	display: inline-block;
	padding-top: 0.8em;
	padding-bottom: 0.3em;
	}
	
.page-start .start_top_title {
	font-size: 1.3em;
	display: inline-block;
	padding-bottom: 0.6em;
	}
	
.page-start .start_top_printyear {
	font-size: 1.1em;
	display: inline;
	}
	
.page-start .start_quote {
	font-size: 0.8em;
	line-height: 1.1em;
	padding-top: 1em;
	padding-bottom: 1em;
	}
	
.page-start .start_author {
	font-size: 0.9em;
	text-transform: uppercase;
	display: inline-block;
	}
	
.page-start .start_title {
	font-size: 0.8em;
	display: inline-block;
	}
	
.page-start .start_printyear {
	font-size: 0.7em;
	display: inline;
	}
	
.page-start .start_footerinfo {
	font-size: 0.8em;
	line-height: 1.2em;
	padding-top: 0.4em;
	padding-bottom: 0em;
	}